{% extends "base.html" %}
{% load static %}
{% block body %}
  
 <div class="banner-section serSec news-section pt-0 pb-0 banner--in">
 	<div class="pattern-layer-six" style="background-image: url('/static/images/main-slider/pattern-4.png')"></div>
 	<div class="pattern-layer-seven" style="background-image: url('/static/images/main-slider/pattern-5.png')">
		</div>
		<div class="pattern-layer-two" style="background-image: url('/static/images/main-slider/pattern-2.png')"></div>
		<div class="icon-layer-one" style="background-image:url('/static/images/icons/icon-1.png')"></div>
		<div class="image-column" style="z-index: 0;">
			<div class="pattern-layer-three" style="background-image: url('/static/images/main-slider/icon-1.png')"></div>
		</div>
		<div class="ban_container">
			<div class="row row_">
				
				<div class="col-md-6 text-center zIndex9">
					<img  class="zIndex9" src="/static/images/Accounting.png">
				</div>
				<div class="col-md-6 banner_con">
					<h1>Accounting Homework Help</h1>
					<h2>Get The Best Accounting Homework Help From The Expert Tutors! </h2>
					<div class="__form-container">
						{% include "forms.html" %}
					</div>
		
		</div>
		</div>
		</div>
	</div>
	{% include "hiw.html" %}


	<section class="getting-more">
	    <div class="container">
			<div class="title title-big text-center"><h2>Our Homework Help Service In A Nutshell</h2></div>
	        <!-- <div class="title title-big text-white text-center"><h2>Turn in Quality Written Assignment.<br> Save Your Free Time.</h2> </div> -->
	        <div class="row">
	            <div class="col-md-4">
	            	<div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-1.png' %}">
		                <div class="getting-more__subtitle">
		                	<h3 class="mb-3 text-dark">All Types of Homework</h3>
		                </div>
		                <div class="getting-more__text">
		                    No matter what the subject matter is, we are here to help you! Our expert and highly skilled expert tutors will help you with your homework, whether it is an academic argument or a book summary. Not only this, we provide new and creative text.                 </div>
		            </div>
	            </div>
	            <div class="col-md-4">
		            <div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-2.png' %}">
		                <div class="getting-more__subtitle"><h3 class="mb-3 text-dark">3-6 Hours Turnaround.</h3>  </div>
		                <div class="getting-more__text">
		                    Our comprehensive expert tutors are available 24/7 to offer you instant, round-the-clock assistance with your homework issues and queries. So, if you are running out of time and are looking for someone to get help from, then rely on Tutor Champs.                </div>
		            </div>
		        </div>
		        <div class="col-md-4">
		            <div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-3.png' %}">
		                <div class="getting-more__subtitle"><h3 class="text-dark mb-3">100% Anonymous.</h3></div>
		                <div class="getting-more__text">
		                    We never take your safety for granted. All personal information, payment-related info, and other details are kept confidential to protect your identity.                 </div>
		            </div>
	        	</div>
	        </div>
	    </div>
	</section>

	<section id="quality" class="quality">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-5">
		        <div class="quality-left">
		            <div class="quality__content ">
		                <div class="quality__title">
		                	<h2 class="h_2 text-dark">High-Caliber & Quality-Assured Results</h2>
		                    <div class="quality__subtitle"><p>Being the top-rated and prominent homework help website, we never compromise on quality. We genuinely pride ourselves on providing premium-quality homework help services to our customers free from errors.</p></div>
		                </div>
		                <div class="quality__subtitle"><h4 class="mb-3 text-dark">1. Plagiarism Checking</h4></div>
		                <div class="quality__text"><p>Our competent expert tutors write original solutions for your problem, free from any error and plagiarism. Not only this, but we also cross-check all the noted data using many trusted tools to offer you 100% unique answers.</p></div>
		                <div class="quality__subtitle"><h4 class="mb-3 text-dark">2. Strict Quality Control </h4></div>
		                <div class="quality__text"><P>We not only strive to deliver plagiarism-free homework solutions, but we also focus on controlling the quality. That's why every paper/solution is examined by experienced and professional editors.</P></div>
		            </div>
		        </div>
		    </div>
	        <div class="col-md-7">
	        	<div class="quality-right">
		            <div class="quality__img text-center pt-4">
	                        <img class="lazy" src="{% static 'images/quality-img.png' %}">
	                </div>
		        </div>
	        </div>
	    	</div>
	    </div>
	</section>
	
	
	<!-- Testimonial Section -->
	<section class="testimonial-section">
		<div class="circle-one paroller" data-paroller-factor="-0.20" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="circle-two paroller" data-paroller-factor="0.20" data-paroller-factor-lg="-0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="pattern-layer-two" style="background-image:url('/static/images/background/pattern-10.png')"></div>
		<div class="auto-container">
			<div class="inner-container">
				<div class="pattern-layer" style="background-image:url('/static/images/background/pattern-9.png')"></div>
				<!-- Sec Title -->
				<div class="sec-title centered">
					<div class="title">Testimonial</div>
					<h2>Words From Customers</h2>
					<div class="text">95% of students love us! Let’s take a look, what they say about our services!</div>
				</div>
				<div class="testimonial-carousel owl-carousel owl-theme">
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Tutor Champs is truly an efficient Assignment writing service according to me. I am amazed by the sheer professionalism and transparency of the writers of this site. I’m sticking to this site for all my academic requirements.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Chris</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Every site I approached always quoted ridiculously high prices for offering Homework Help. Then my friend recommended your site and I found that the prices were extremely nominal.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Kennedy</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I've always been such an average student, but then Tutor Champs happened, and that reflected positively on my academic performance. Hiring you guys for my paper was the best thing I've done.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Sejal</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I had casually placed an order on Tutor Champs for a short essay and wanted to see if their claim of timely delivery of tasks was true or not. The assignment was not delivered on time, but the quality of the essay was also remarkable.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Joe</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I love these guys, so amazing. My Assignment problem is not easy, but they did so well. I will go with the more, Thank you to the tutor. Amazing job on time.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Anita</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Excellent experience with a professionally delivered work. Highly recommended! Answered my question which I didn't understand and broke it down into sections which was very useful and understandable.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Cesar</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Testimonial Section -->

	<section class="HomHelp content_sec">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
		            <h2 class="h_2 mb-3 text-dark">How Can You Enrol For Accounting Homework Help?</h2>
		            <p>Accounting Homework is not every student's cup of tea, some of you might be searching for help with accounting homework. We recommend you to sign up for the services of the #1 accounting help website that is Tutor Champs. They offer the best services at the best prices. With a wide range of offers, they assure the best academic help to students. Their tutors are well experienced in handling accounting topics. The topics include Balance Sheets, Bank Reconciliation, Bookkeeping, Bonds Payable, Depreciation, Payroll Accounting, Stockholders Equity, Standard Costing, Improving Profits, Evaluating Business Investments and many more. </p>
		            <p>If you are interested in taking accounting assignment help from Tutor Champs experts, you just need to follow three simple steps:</p>
		            <ul>
		            	<li><p><b>Step 1:</b> Fill the form given at the website of Tutor Champs. Tell them about your accounting topic and provide some references.</p></li>
						<li><p><b>Step 2:</b> Make payment to confirm your order and track the progress of your work. Now you can pay according to your order and you will get a tutor that is well experienced in your subject. You can even track the progress of the work by keeping in contact with the online accounting tutor. </p></li>
						<li><p><b>Step 3:</b> Get your assignment. Now that Tutor Champs is there for your help. He will provide you with the best quality accounting assignment help.</p></li>
		            </ul>
		            <p>So if you want any kind of accounting help online, just place your order today. You can choose the online accounting tutor that suits your quality parameters as well as your budget.</p>
					<h2 class="h_2 mb-3 text-dark">Why Should You Choose Tutor Champs To Get Accounting Homework Help? </h2>
					<p>If you're still confused about whether choosing Tutor Champs is best or not, then you must scroll through some points given below to have clarity about the decision. When it comes to helping students with the best quality service, Tutor Champs come first. You can check the reviews of our past clients to know about the quality of Tutor Champs service.</p>
					<h3 class="h_3 mb-3 text-dark">100% Precision </h3>
					<p>When it comes to solving account problems, you need to be very precise. The Tutor Champs experts provide you with great help in such cases. You can get help with accounting homework from a group of professional tutors of Tutor Champs. They not only give you 100% precise assignments but also ensure that you will score better grades in the academic year.</p>
					<h3 class="h_3 mb-3 text-dark">On-time Delivery</h3>
					<p>Once you have made up your mind to get accounting homework help from Tutor Champs, you can just relax about your assignment. They ensure on-time delivery of your work. They will double-check the quality of assignments with specific tools to ensure that you always get the best results. Your satisfaction is their target.</p>
					<h3 class="h_3 mb-3 text-dark">Unbelievable Price With All-time Support </h3>
					<p>You can buzz Tutor Champs at any time. They provide you round the clock service with live chat assistance. If you need urgent accounting assignment help, they will support you with it. Not only this, their prices are very affordable, you don't have to spend out-of-pocket money to get help from the professionals of Tutor Champs. </p>
					<h3 class="h_3 mb-3 text-dark">Unlimited Revisions With Quality Assurance </h3>
					<p>Tutor Champs is the #1 accounting help website because of the originality of the content they provide. You can ask for unlimited revisions if you feel your assignment is not in the way you wanted. If you approach them with a request 'please do my accounting homework' they would be more than happy to help you. With Accurate reference and citation, you will receive Grammatically flawless copies of your assignment.  </p>
		        </div>
		    </div>
	    	</div>
	    </div>
	</section>

	<!-- Career Section -->
	<section class="career-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title text-center">
				<h2>FAQs</h2>
			</div>
			
			<div class="row clearfix">
				
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image titlt" data-tilt data-tilt-max="4">
							<img src="{% static 'images/resource/career.png' %}" alt="" />
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<div id="accordion">
							<div class="card questions-con">
							    <div class="card-header" id="headingOne">
							      <h5 class="mb-0">
							        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										How Do I Get Hold Of My Accounting Assignment?							        </button>
							      </h5>
							    </div>

							    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							      <div class="card-body">
							        When you will follow the three steps of working mentioned above. We'll create your account. You will get the work at your email as well as in your account. If you have any queries related to the provided work, you can immediately contact our customer service team. If you provide us with your phone number, our system will send you all the updates regarding your work.
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingTwo">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										What If You Miss The Deadline Of Providing The Work? 
							        </button>
							      </h5>
							    </div>
							    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							      <div class="card-body">
							        Though our tutors are experts in providing the accounting assignment help before the deadline. If in case (rarely) we miss the deadline due to any reason, we'll provide you with the work free of cost. You don't have to pay a single penny for the service. 
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingThree">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										Can I Select The Writer To Do My Accounting Homework? 
							        </button>
							      </h5>
							    </div>
							    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
							      <div class="card-body">
							        Yes, of course. A list of our tutors is available on our website. You can check their work and choose according to it. If you need any help, we can carefully examine your topic and select the tutor that is best for your requirements. Moreover, you can get to our live chat option if you want to communicate with our tutors.  
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingFour">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
										What If I Am Not Satisfied With The Work? 
							        </button>
							      </h5>
							    </div>
							    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
							      <div class="card-body">
							        This is highly unlikely, but if due to any reason you're not satisfied with the work provided by our team. You can request a free revision. If we have missed any guidelines provided by you, we'll amend them. 
							      </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Career Section -->
	
	<!-- Main Footer -->

	{% endblock body %}
