{% extends "base.html" %}
{% load static %}
{% block body %}
  
 <div class="banner-section serSec news-section pt-0 pb-0 banner--in">
 	<div class="pattern-layer-six" style="background-image: url('/static/images/main-slider/pattern-4.png')"></div>
 	<div class="pattern-layer-seven" style="background-image: url('/static/images/main-slider/pattern-5.png')">
		</div>
		<div class="pattern-layer-two" style="background-image: url('/static/images/main-slider/pattern-2.png')"></div>
		<div class="icon-layer-one" style="background-image:url('/static/images/icons/icon-1.png')"></div>
		<div class="image-column" style="z-index: 0;">
			<div class="pattern-layer-three" style="background-image: url('/static/images/main-slider/icon-1.png')"></div>
		</div>
		<div class="ban_container">
			<div class="row row_">
				
				<div class="col-md-6 text-center zIndex9">
					<img  class="zIndex9" src="/static/images/biology.png">
				</div>
				<div class="col-md-6 banner_con">
					<h1>Biology Homework Help</h1>
					<h2>Get The Best Biology Homework Help From The Expert Tutors! </h2>
					<div class="__form-container">
						{% include "forms.html" %}
					</div>
		
		</div>
		</div>
		</div>
	</div>
	{% include "hiw.html" %}
	<section class="getting-more">
	    <div class="container">
			<div class="title title-big text-center"><h2>Our Homework Help Service In A Nutshell</h2></div>
	        <div class="row">
	            <div class="col-md-4">
	            	<div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-1.png' %}">
		                <div class="getting-more__subtitle">
		                	<h3 class="mb-3 text-dark">All Types of Homework</h3>
		                </div>
		                <div class="getting-more__text">
		                    No matter what the subject matter is, we are here to help you! Our expert and highly skilled expert tutors will help you with your homework, whether it is an academic argument or a book summary. Not only this, we provide new and creative text.                 </div>
		            </div>
	            </div>
	            <div class="col-md-4">
		            <div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-2.png' %}">
		                <div class="getting-more__subtitle"><h3 class="mb-3 text-dark">3-6 Hours Turnaround.</h3>  </div>
		                <div class="getting-more__text">
		                    Our comprehensive expert tutors are available 24/7 to offer you instant, round-the-clock assistance with your homework issues and queries. So, if you are running out of time and are looking for someone to get help from, then rely on Tutor Champs.                </div>
		            </div>
		        </div>
		        <div class="col-md-4">
		            <div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-3.png' %}">
		                <div class="getting-more__subtitle"><h3 class="text-dark mb-3">100% Anonymous.</h3></div>
		                <div class="getting-more__text">
		                    We never take your safety for granted. All personal information, payment-related info, and other details are kept confidential to protect your identity.                 </div>
		            </div>
	        	</div>
	        </div>
	    </div>
	</section>

	<section id="quality" class="quality">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-5">
		        <div class="quality-left">
		            <div class="quality__content ">
		                <div class="quality__title">
		                	<h2 class="h_2 text-dark">High-Caliber & Quality-Assured Results</h2>
		                    <div class="quality__subtitle"><p>Being the top-rated and prominent homework help website, we never compromise on quality. We genuinely pride ourselves on providing premium-quality homework help services to our customers free from errors.</p></div>
		                </div>
		                <div class="quality__subtitle"><h4 class="mb-3 text-dark">1. Plagiarism Checking</h4></div>
		                <div class="quality__text"><p>Our competent expert tutors write original solutions for your problem, free from any error and plagiarism. Not only this, but we also cross-check all the noted data using many trusted tools to offer you 100% unique answers.</p></div>
		                <div class="quality__subtitle"><h4 class="mb-3 text-dark">2. Strict Quality Control </h4></div>
		                <div class="quality__text"><P>We not only strive to deliver plagiarism-free homework solutions, but we also focus on controlling the quality. That's why every paper/solution is examined by experienced and professional editors.</P></div>
		            </div>
		        </div>
		    </div>
	        <div class="col-md-7">
	        	<div class="quality-right">
		            <div class="quality__img text-center pt-4">
	                        <img class="lazy" src="{% static 'images/quality-img.png' %}">
	                </div>
		        </div>
	        </div>
	    	</div>
	    </div>
	</section>
	
	
	<!-- Testimonial Section -->
	<section class="testimonial-section">
		<div class="circle-one paroller" data-paroller-factor="-0.20" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="circle-two paroller" data-paroller-factor="0.20" data-paroller-factor-lg="-0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="pattern-layer-two" style="background-image:url('/static/images/background/pattern-10.png')"></div>
		<div class="auto-container">
			<div class="inner-container">
				<div class="pattern-layer" style="background-image:url('/static/images/background/pattern-9.png')"></div>
				<!-- Sec Title -->
				<div class="sec-title centered">
					<div class="title">Testimonial</div>
					<h2>Words From Customers</h2>
					<div class="text">95% of students love us! Let’s take a look, what they say about our services!</div>
				</div>
				<div class="testimonial-carousel owl-carousel owl-theme">
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Tutor Champs is truly an efficient Assignment writing service according to me. I am amazed by the sheer professionalism and transparency of the writers of this site. I’m sticking to this site for all my academic requirements.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Chris</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Every site I approached always quoted ridiculously high prices for offering Homework Help. Then my friend recommended your site and I found that the prices were extremely nominal.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Kennedy</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I've always been such an average student, but then Tutor Champs happened, and that reflected positively on my academic performance. Hiring you guys for my paper was the best thing I've done.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Sejal</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I had casually placed an order on Tutor Champs for a short essay and wanted to see if their claim of timely delivery of tasks was true or not. The assignment was not delivered on time, but the quality of the essay was also remarkable.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Joe</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I love these guys, so amazing. My Assignment problem is not easy, but they did so well. I will go with the more, Thank you to the tutor. Amazing job on time.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Anita</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Excellent experience with a professionally delivered work. Highly recommended! Answered my question which I didn't understand and broke it down into sections which was very useful and understandable.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Cesar</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Testimonial Section -->

	<section class="HomHelp content_sec">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
		            <h2 class="h_2 mb-3 text-dark">Want To Boost Your Biology Grades? Get Help From Highly-skilled Tutors</h2>
		            <p>Biology is a branch of science that involves the study of living organisms and life that includes their development, function, interaction, evolution, growth, origin, etc. It is a broad discipline that comprises various fields within itself, including anatomy, physiology, morphology, and several others.</p>
		            <p>Due to this, some students find Biology a complicated subject to study and strive to achieve good academic marks. This is because students have to remember a large amount of information about numerous unfamiliar concepts. Thus, if you are also one of them struggling to get a good score in Biology and seeking someone who offers biology help online, you are in the right place!</p>
					<h3 class="h_3 mb-3 text-dark">Find Perfect Biology Tutor</h3>
					<p>At Tutor Champs, you will find a team of highly competent and expert biology educators with a wealth of experience in teaching Biology. So, get in touch with one of the best tutors to grab biology homework help. Don’t forget to check their prices, qualifications, reviews, etc.</p>
					<h3 class="h_3 mb-3 text-dark">Schedule Your Session</h3>
					<p>Arrange your lesson with the assigned educator. You can schedule the session at your ease. Ask your queries/questions and discuss availability. Our tutors will offer you help in every possible manner!</p>
					<h3 class="h_3 mb-3 text-dark">Discover New Experiences</h3>
					<p>Unfold new experiences with our fabulous and proficient online biology tutor. Learn new concepts every day! Interact with educators via interactive whiteboard and grasp essential tips from them that help you beat the competition.</p>
					<h2 class="h_2 mb-3 text-dark">Why Rely On Tutor Champs For Biology Help?</h2>
					<p>When it comes to biology, we seek help only from experts. Just like this, various homework help websites are available online, but TutorChamps is considered to be the #1 biology help website because we have:</p>
		            <ul>
		            	<li><p><b>Devoted & Pious Biology Assignment Writers:</b> Our biology assignment writers are devoted and highly experienced who focus on affordability, professionalism and aims to deliver plagiarism-free content. They are well trained and have a pool of experience in providing excellent assignments.</p></li>
						<li><p><b>Instant Homework Help:</b> Students who find biology subject complex must have a common question in mind – “Who can do my biology homework?”. Thus, they can take assistance from us. We house a team of tutors in all bio-related topics who can help you with your homework.</p></li>
						<li><p><b>100% Satisfaction Guaranteed:</b> We aim to offer 100% satisfaction to our clients and customers. We work until the customer is fully satisfied. Whether you need biology assignment help or help with biology homework, we ensure to provide high-quality service.</p></li>
						<li><p><b>Reasonable Service & On-Time Delivery:</b> Being the leading homework help web platform, we offer our services at cost-effective rates. There’s no hidden cost neither we take any commission from you. Above this, we deliver your assignment within time.</p> </li>
		            </ul>
					<h2 class="h_2 mb-3 text-dark">Get Online Tutoring Service From 24/7 Accessible Tutors</h2>
					<p>Studying biology can be confusing. From studying evolution to macromolecules, and eukaryotes cells, remembering different topics can be overwhelming. Thus, a biology tutor can help you fit all these aspects altogether. So, if you are looking for a reliable and passionate biology tutor, then look no further, as we offer help with everything you need.</p>
					<ul>
						<li>Our trustworthy educators help in simplifying complex topics.</li>
						<li>Offer deep insights on difficult concepts along with some valuable tips and tricks.</li>
						<li>Help in preparing for your upcoming biology exam/test.</li>
						<li> Provide easy and effective solutions for your biology-related questions.</li>
						<li>Effectively teach broad conceptual chapters and offer straightforward explanations.</li>
					</ul>
					<p>So whenever you need help from an expert, get in touch with us. Our team of professionals will offer you instant guidance and deliver the best-quality work free from errors. You can avail our services 24*7. Our team is ready to support you whenever you need it!</p>
		        </div>
		    </div>
	    	</div>
	    </div>
	</section>

	<!-- Career Section -->
	<section class="career-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title text-center">
				<h2>FAQs</h2>
			</div>
			
			<div class="row clearfix">
				
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image titlt" data-tilt data-tilt-max="4">
							<img src="{% static 'images/resource/career.png' %}" alt="" />
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<div id="accordion">
							<div class="card questions-con">
							    <div class="card-header" id="headingOne">
							      <h5 class="mb-0">
							        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										Does Biology Online Tutoring Work?							        </button>
							      </h5>
							    </div>

							    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							      <div class="card-body">
							        Yes, it will work! As biology online tutoring sessions are handled by knowledgeable and capable tutors who have years of experience in their subject matter. They can efficiently assist students with their issues and problems during online classes. Interactive whiteboards make it easier for students to understand the concepts easily. Not only this, the undivided attention of educators makes the whole learning process more productive and easy.
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingTwo">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										What Kind Of Help Can I Get From Tutor Champs?							        </button>
							      </h5>
							    </div>
							    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							      <div class="card-body">
							        Educators available at TutorChamps will help you with the following. Have a look!
<ul>
	<li>In completing your bio lab reports.</li>
	<li>Biology homework assignments.</li>
	<li>Help you with your specific problems.</li>
	<li>Assistance with the whole chapter.</li>
	<li>Help you prepare for the biology examination.</li>
	<li>Assist in clearing doubtful and challenging concepts.</li>
	<li>Bio worksheets and problem sets.</li>
</ul>
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingThree">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										Is It Beneficial To Take Online Classes From Home At Tutorchamps?							        </button>
							      </h5>
							    </div>
							    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
							      <div class="card-body">
							        Taking online classes from home at TutorChamps bring numerous benefits for students that include:
									<ul>
										<li><b>Flexibility:</b> Students can schedule the online class at their convenience. You can change your class time, reschedule the chapters, or repeat the unclear concept. Thus, TutorChamps offer you the freedom to arrange the personalized class according to your ease.</li>
										<li><b>Individual Attention:</b> Students get more personal attention in online classes as compared to traditional ones. This helps in improving their skills. Additionally, they can freely connect with the tutor and can ask as many questions as they want.</li>
										<li><b>Comfortable Environment:</b> The primary benefit of taking online classes is the ease of studying. One can study in the comfort of their home, all they need is a laptop and internet connection.</li>
										Apart from this, there are various other benefits that one can take while studying online from TutorChamps, including affordable price, 24/7 availability, and much more.
									</ul> 
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingFour">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
										Can I Trust Educators Available At Tutorchamps?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
							      <div class="card-body">
							        Yes, of course, you can trust educators available at TutorChamps. We only hire educators who can qualify for our stringent recruitment process. Not only this, we carefully check their academic background, experience, track records, and reviews before hiring them. They are capable enough to handle your queries and will offer step-by-step and easy-to-understand explanations. 
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingFive">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
										Can I Trust Educators Available At Tutor Champs?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
							      <div class="card-body">
							        Yes, you can schedule a class according to your convenience. Our experienced educators offer service round the clock to offer you quick assistance. 
							      </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<section>
		sdhfjks shdf s 
	</section>
	<!-- End Career Section -->
	
	<!-- Main Footer -->

	{% endblock body %}
