{% extends "base.html" %}
{% load static %}
{% block body %}
  
 <div class="banner-section serSec news-section pt-0 pb-0 banner--in">
 	<div class="pattern-layer-six" style="background-image: url('/static/images/main-slider/pattern-4.png')"></div>
 	<div class="pattern-layer-seven" style="background-image: url('/static/images/main-slider/pattern-5.png')">
		</div>
		<div class="pattern-layer-two" style="background-image: url('/static/images/main-slider/pattern-2.png')"></div>
		<div class="icon-layer-one" style="background-image:url('/static/images/icons/icon-1.png')"></div>
		<div class="image-column" style="z-index: 0;">
			<div class="pattern-layer-three" style="background-image: url('/static/images/main-slider/icon-1.png')"></div>
		</div>
	<div class="ban_container">
		<div class="row row_">
			<div class="col-md-6 text-center zIndex9">
				<img  class="zIndex9" src="/static/images/chemistry.png">
			</div>
				<div class="col-md-6 banner_con">
					<h1>Chemistry Homework Help</h1>
					<h2>Get The Best Chemistry Homework Help From The Expert Tutors! </h2>
					<div class="__form-container">
						{% include "forms.html" %}
					</div>
		
		</div>
		</div>
		</div>
	</div>
	
	{% include "hiw.html" %}


	<section class="getting-more">
	    <div class="container">
			<div class="title title-big text-center"><h2>Our Homework Help Service In A Nutshell</h2></div>
	        <!-- <div class="title title-big text-white text-center"><h2>Turn in Quality Written Assignment.<br> Save Your Free Time.</h2> </div> -->
	        <div class="row">
	            <div class="col-md-4">
	            	<div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-1.png' %}">
		                <div class="getting-more__subtitle">
		                	<h3 class="mb-3 text-dark">All Types of Homework</h3>
		                </div>
		                <div class="getting-more__text">
		                    No matter what the subject matter is, we are here to help you! Our expert and highly skilled expert tutors will help you with your homework, whether it is an academic argument or a book summary. Not only this, we provide new and creative text.                 </div>
		            </div>
	            </div>
	            <div class="col-md-4">
		            <div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-2.png' %}">
		                <div class="getting-more__subtitle"><h3 class="mb-3 text-dark">3-6 Hours Turnaround.</h3>  </div>
		                <div class="getting-more__text">
		                    Our comprehensive expert tutors are available 24/7 to offer you instant, round-the-clock assistance with your homework issues and queries. So, if you are running out of time and are looking for someone to get help from, then rely on Tutor Champs.                </div>
		            </div>
		        </div>
		        <div class="col-md-4">
		            <div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-3.png' %}">
		                <div class="getting-more__subtitle"><h3 class="text-dark mb-3">100% Anonymous.</h3></div>
		                <div class="getting-more__text">
		                    We never take your safety for granted. All personal information, payment-related info, and other details are kept confidential to protect your identity.                 </div>
		            </div>
	        	</div>
	        </div>
	    </div>
	</section>

	<section id="quality" class="quality">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-5">
		        <div class="quality-left">
		            <div class="quality__content ">
		                <div class="quality__title">
		                	<h2 class="h_2 text-dark">High-Caliber & Quality-Assured Results</h2>
		                    <div class="quality__subtitle"><p>Being the top-rated and prominent homework help website, we never compromise on quality. We genuinely pride ourselves on providing premium-quality homework help services to our customers free from errors.</p></div>
		                </div>
		                <div class="quality__subtitle"><h4 class="mb-3 text-dark">1. Plagiarism Checking</h4></div>
		                <div class="quality__text"><p>Our competent expert tutors write original solutions for your problem, free from any error and plagiarism. Not only this, but we also cross-check all the noted data using many trusted tools to offer you 100% unique answers.</p></div>
		                <div class="quality__subtitle"><h4 class="mb-3 text-dark">2. Strict Quality Control </h4></div>
		                <div class="quality__text"><P>We not only strive to deliver plagiarism-free homework solutions, but we also focus on controlling the quality. That's why every paper/solution is examined by experienced and professional editors.</P></div>
		            </div>
		        </div>
		    </div>
	        <div class="col-md-7">
	        	<div class="quality-right">
		            <div class="quality__img text-center pt-4">
	                        <img class="lazy" src="{% static 'images/quality-img.png' %}">
	                </div>
		        </div>
	        </div>
	    	</div>
	    </div>
	</section>
	
	
	<!-- Testimonial Section -->
	<section class="testimonial-section">
		<div class="circle-one paroller" data-paroller-factor="-0.20" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="circle-two paroller" data-paroller-factor="0.20" data-paroller-factor-lg="-0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="pattern-layer-two" style="background-image:url('/static/images/background/pattern-10.png')"></div>
		<div class="auto-container">
			<div class="inner-container">
				<div class="pattern-layer" style="background-image:url('/static/images/background/pattern-9.png')"></div>
				<!-- Sec Title -->
				<div class="sec-title centered">
					<div class="title">Testimonial</div>
					<h2>Words From Customers</h2>
					<div class="text">95% of students love us! Let’s take a look, what they say about our services!</div>
				</div>
				<div class="testimonial-carousel owl-carousel owl-theme">
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Tutor Champs is truly an efficient Assignment writing service according to me. I am amazed by the sheer professionalism and transparency of the writers of this site. I’m sticking to this site for all my academic requirements.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Chris</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Every site I approached always quoted ridiculously high prices for offering Homework Help. Then my friend recommended your site and I found that the prices were extremely nominal.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Kennedy</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I've always been such an average student, but then Tutor Champs happened, and that reflected positively on my academic performance. Hiring you guys for my paper was the best thing I've done.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Sejal</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I had casually placed an order on Tutor Champs for a short essay and wanted to see if their claim of timely delivery of tasks was true or not. The assignment was not delivered on time, but the quality of the essay was also remarkable.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Joe</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I love these guys, so amazing. My Assignment problem is not easy, but they did so well. I will go with the more, Thank you to the tutor. Amazing job on time.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Anita</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Excellent experience with a professionally delivered work. Highly recommended! Answered my question which I didn't understand and broke it down into sections which was very useful and understandable.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Cesar</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Testimonial Section -->

	<section class="HomHelp content_sec">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
		            <h2 class="h_2 mb-3 text-dark">Enhance Your Chemistry Grades With The Top-rated E-learning Platform</h2>
		            <p>Chemistry is one such subject that is considered complicated and challenging to master. There are numerous reasons behind this - it is a very vast discipline, it has its own language, and you will find maths in it. Students have to learn different chemical equations, the special language and need to understand the concepts clearly.</p>
		            <p>Therefore, students find it difficult to cope up with this complex subject. On the other hand, nothing is impossible if you have the dedication and wits to learn it. That's why we are here to guide you! Our expertise team of chemistry educators will deliver fruitful guidance to students by providing step-by-step explanations and related subject matter.</p>
					<h3 class="h_3 mb-3 text-dark">High-Quality Solutions</h3>
					<p>Our knowledgeable educators ensure to deliver first-class solutions to your problem that are free from errors and plagiarism. </p>
					<h3 class="h_3 mb-3 text-dark">Timely Delivery</h3>
					<p>Time is Money! That's why we deliver your assignments and other services before the deadline. </p>
					<h3 class="h_3 mb-3 text-dark">Stay In Touch 24/7</h3>
					<p>Our capable tutors remain active round the clock to provide you instant service. Whether it's early morning or late night, we are ready to assist you in every possible way.</p>
					<h3 class="h_3 mb-3 text-dark">Secured Data</h3>
					<p>We keep everything encrypted to protect your identity. We never share any details with a third party.</p>
					<h3 class="h_3 mb-3 text-dark">Help In Boosting Academic Performance</h3>
					<p>By offering practical and beneficial subject-matter details and deep insights, our distinguished tutors assist students in boosting their academic performance. Additionally, personalized sessions play a very vital role in increasing their knowledge base.</p>
					<h2 class="h_2 mb-3 text-dark">Why there's need to take Chemistry Homework Help?</h2>
					<h3 class="h_3 mb-3 text-dark">Insufficient Knowledge Of Subject</h3>
					<p>To ace a subject, one has to have proper knowledge about it. Thus, our e-learning and homework help platform assists students by providing adequate knowledge of the subject. Our skillful educators clear all the doubtful concepts and offer step-by-step solutions. </p>
					<h3 class="h_3 mb-3 text-dark">Time Shortage</h3>
					<p>Lack of time is one of the main reasons that students are unable to complete their homework and assignments on time. Therefore, our online homework help platform is an all-in-one solution for your problems. We help you in submitting your homework and assignments on time! </p>
					<h3 class="h_3 mb-3 text-dark">Academic Pressure</h3>
					<p>Students face a lot of academic pressure. They feel super anxious about their grades! Due to this, they didn't perform well in class. So to cope up with this issue, we offer personalized help to students that play a significant role in clearing doubtful concepts. Not only this, our tutors provide fruitful insights about the topic.</p>
					<h3 class="h_3 mb-3 text-dark">Expert Advice</h3>
					<p>Sometimes, students get stuck with tricky chemistry concepts and problems. Hence, there arises the need for expert opinion. Thus, we offer a helping hand to students who are looking for expert advice.</p>
					<h2 class="h_2 mb-3 text-dark">Acquire Online Chemistry Help From Experts</h2>
					<p>Most of the time, it is seen that students find it challenging to solve chemistry problems. Unfortunately, they don't find anyone who can help with their issues. Thus, if you are in the same shoes and are stuck with your chemistry problem, you are on the right platform.</p>
					<p>Our online tutoring service is designed to assist students with their homework, assignments, and other study-related stuff. You can clear your doubts and ask for answers from the chemistry educators available here. All you need to post a question along with supporting files to get the solutions. So, don't hesitate to get in touch with us today!</p>
		        </div>
		    </div>
	    	</div>
	    </div>
	</section>

	<!-- Career Section -->
	<section class="career-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title text-center">
				<h2>FAQs</h2>
			</div>
			
			<div class="row clearfix">
				
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image titlt" data-tilt data-tilt-max="4">
							<img src="{% static 'images/resource/career.png' %}" alt="" />
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<div id="accordion">
							<div class="card questions-con">
							    <div class="card-header" id="headingOne">
							      <h5 class="mb-0">
							        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										What Are The Benefits Of Getting My Chemistry Homework Done From Tutorchamps?							        </button>
							      </h5>
							    </div>

							    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							      <div class="card-body">
							        Well, TutorChamps has lots of benefits to offer. Some of them are mentioned underneath:
									<ul>
										<li>Plagiarism-Free Content</li>
										<li>On-Time Delivery</li>
										<li>24/7 Availability</li>
										<li>Experienced and Proficient Tutors</li>
										<li> asy & Secure Payment Option</li>
										<li>Competitive Pricing/li>
										<li>Top-Quality & Original Answers</li>
									</ul>
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingTwo">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										I Got Stuck With A Problem Of Organic Chemistry. Can I Find A Suitable And Experienced Tutor Here Who Can Help Me?							        </button>
							      </h5>
							    </div>
							    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							      <div class="card-body">
									Yes, we house a team of talented, friendly, and expertise chemistry tutors who can help you with your problem, whether it is related to organic chemistry, physical chemistry, analytical chemistry, or biochemistry. All you need is to post your question along with all the information you want to acquire. Our educators will assist you in the best possible manner. On top of this, our tutors provide easy-to-understand and step-by-step solutions.
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingThree">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										Can I Learn Chemistry Online?							        </button>
							      </h5>
							    </div>
							    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
							      <div class="card-body">
							        Yes, you can quickly learn chemistry online on TutorChamps, as we offer an online tutoring service also. For this, you must visit the official website and select the time and date for the online session. After that, a qualified chemistry tutor will teach you and clear all your unsure chemistry topics and concepts.
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingFour">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
										What If The Solutions Provided By The Educator Are Incorrect?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
							      <div class="card-body">
							        There is very less chance that our educator provides you an incorrect solution, as we cross-check the answer before assigning them to you. However, if you get wrong answers, we will assign you another tutor who can help with your issue. 
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingFive">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
										What If I Am Not Satisfied With Your Service?							        </button>
							      </h5>
							    </div>
							    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
							      <div class="card-body">
							        Our team works until you are fully satisfied. Though, if you are not happy with our services, you can ask for a refund. 
							      </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Career Section -->
	
	<!-- Main Footer -->

	{% endblock body %}
