{% extends "base.html" %}
{% load static %}
{% block body %}
  
 <div class="banner-section serSec news-section pt-0 pb-0 banner--in">
 	<div class="pattern-layer-six" style="background-image: url('/static/images/main-slider/pattern-4.png')"></div>
 	<div class="pattern-layer-seven" style="background-image: url('/static/images/main-slider/pattern-5.png')">
		</div>
		<div class="pattern-layer-two" style="background-image: url('/static/images/main-slider/pattern-2.png')"></div>
		<div class="icon-layer-one" style="background-image:url('/static/images/icons/icon-1.png')"></div>
		<div class="image-column" style="z-index: 0;">
			<div class="pattern-layer-three" style="background-image: url('/static/images/main-slider/icon-1.png')"></div>
		</div>
		<div class="ban_container">
			<div class="row row_">
				
				<div class="col-md-6 text-center zIndex9">
					<img  class="zIndex9" src="/static/images/computer-science.png">
				</div>
				<div class="col-md-6 banner_con">
					<h1>Computer Science Homework Help</h1>
					<h2>Get The Best Computer Science Homework Help From The Expert Tutors! </h2>
					<div class="__form-container">
					{% include "forms.html" %}
					</div>
		
		</div>
		</div>
		</div>
	</div>
	{% include "hiw.html" %}

	<section class="getting-more">
	    <div class="container">
			<div class="title title-big text-center"><h2>Our Homework Help Service In A Nutshell</h2></div>
	        <div class="row">
	            <div class="col-md-4">
	            	<div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-1.png' %}">
		                <div class="getting-more__subtitle">
		                	<h3 class="mb-3 text-dark">All Types of Homework</h3>
		                </div>
		                <div class="getting-more__text">
		                    No matter what the subject matter is, we are here to help you! Our expert and highly skilled expert tutors will help you with your homework, whether it is an academic argument or a book summary. Not only this, we provide new and creative text.                 </div>
		            </div>
	            </div>
	            <div class="col-md-4">
		            <div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-2.png' %}">
		                <div class="getting-more__subtitle"><h3 class="mb-3 text-dark">3-6 Hours Turnaround.</h3>  </div>
		                <div class="getting-more__text">
		                    Our comprehensive expert tutors are available 24/7 to offer you instant, round-the-clock assistance with your homework issues and queries. So, if you are running out of time and are looking for someone to get help from, then rely on Tutor Champs.                </div>
		            </div>
		        </div>
		        <div class="col-md-4">
		            <div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-3.png' %}">
		                <div class="getting-more__subtitle"><h3 class="text-dark mb-3">100% Anonymous.</h3></div>
		                <div class="getting-more__text">
		                    We never take your safety for granted. All personal information, payment-related info, and other details are kept confidential to protect your identity.                 </div>
		            </div>
	        	</div>
	        </div>
	    </div>
	</section>

	<section id="quality" class="quality">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-5">
		        <div class="quality-left">
		            <div class="quality__content ">
		                <div class="quality__title">
		                	<h2 class="h_2 text-dark">High-Caliber & Quality-Assured Results</h2>
		                    <div class="quality__subtitle"><p>Being the top-rated and prominent homework help website, we never compromise on quality. We genuinely pride ourselves on providing premium-quality homework help services to our customers free from errors.</p></div>
		                </div>
		                <div class="quality__subtitle"><h4 class="mb-3 text-dark">1. Plagiarism Checking</h4></div>
		                <div class="quality__text"><p>Our competent expert tutors write original solutions for your problem, free from any error and plagiarism. Not only this, but we also cross-check all the noted data using many trusted tools to offer you 100% unique answers.</p></div>
		                <div class="quality__subtitle"><h4 class="mb-3 text-dark">2. Strict Quality Control </h4></div>
		                <div class="quality__text"><P>We not only strive to deliver plagiarism-free homework solutions, but we also focus on controlling the quality. That's why every paper/solution is examined by experienced and professional editors.</P></div>
		            </div>
		        </div>
		    </div>
	        <div class="col-md-7">
	        	<div class="quality-right">
		            <div class="quality__img text-center pt-4">
	                        <img class="lazy" src="{% static 'images/quality-img.png' %}">
	                </div>
		        </div>
	        </div>
	    	</div>
	    </div>
	</section>
	
	
	<!-- Testimonial Section -->
	<section class="testimonial-section">
		<div class="circle-one paroller" data-paroller-factor="-0.20" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="circle-two paroller" data-paroller-factor="0.20" data-paroller-factor-lg="-0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="pattern-layer-two" style="background-image:url('/static/images/background/pattern-10.png')"></div>
		<div class="auto-container">
			<div class="inner-container">
				<div class="pattern-layer" style="background-image:url('/static/images/background/pattern-9.png')"></div>
				<!-- Sec Title -->
				<div class="sec-title centered">
					<div class="title">Testimonial</div>
					<h2>Words From Customers</h2>
					<div class="text">95% of students love us! Let’s take a look, what they say about our services!</div>
				</div>
				<div class="testimonial-carousel owl-carousel owl-theme">
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Tutor Champs is truly an efficient Assignment writing service according to me. I am amazed by the sheer professionalism and transparency of the writers of this site. I’m sticking to this site for all my academic requirements.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Chris</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Every site I approached always quoted ridiculously high prices for offering Homework Help. Then my friend recommended your site and I found that the prices were extremely nominal.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Kennedy</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I've always been such an average student, but then Tutor Champs happened, and that reflected positively on my academic performance. Hiring you guys for my paper was the best thing I've done.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Sejal</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I had casually placed an order on Tutor Champs for a short essay and wanted to see if their claim of timely delivery of tasks was true or not. The assignment was not delivered on time, but the quality of the essay was also remarkable.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Joe</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I love these guys, so amazing. My Assignment problem is not easy, but they did so well. I will go with the more, Thank you to the tutor. Amazing job on time.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Anita</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Excellent experience with a professionally delivered work. Highly recommended! Answered my question which I didn't understand and broke it down into sections which was very useful and understandable.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Cesar</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Testimonial Section -->

	<section class="HomHelp content_sec">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
		            <h2 class="h_2 mb-3 text-dark">How To Get The Best Computer Science Homework Help?</h2>
		            <p>Online homework help is increasing its importance day by day. Every student is enrolling in online help from different companies. If you are looking for the #1 computer science help website to complete your assignment related to computers, Tutor Champs is the right place to start with. We have expert tutors who will give you help with computer science homework. Here you will get the best service at affordable prices. Without any further ado, let's start with how you can enrol in computer science assignment help from us. </p>
					<p>With a few simple steps, you can get tutoring from experts of the #1 computer science help website.</p> 
					<h3 class="h_3 mb-3 text-dark">Enrol For Help </h3>
					<p>First of all, you need to fill out the form given on the website. Make sure you fill in all the details needed for them to provide you with the best tutor. After you have done this step, they will provide you with a quote of payment.</p>
					<h3 class="h_3 mb-3 text-dark">Pay And Get Tutor Help</h3>
					<p>The next step is to pay for expert help. After your payment is done, Tutor Champs will provide you with the best tutor according to your needs and preferences. </p>
					<h3 class="h_3 mb-3 text-dark">Get Solutions Within A Set Deadline</h3>
					<p>After that all the process is done, an online computer science tutor will provide you with solutions that are double-checked. They will ensure that all the solutions are provided within the deadline set by you.</p>
					
					<h2 class="h_2 mb-3 text-dark">Why Should You Choose Tutor Champs To Get Computer Science Help Online?</h2>
	
					<h3 class="h_3 mb-3 text-dark">Reasonable Prices </h3>
					<p>Tutor Champs tutors offer computer science homework help at an affordable price. They know students need to maintain a lot of things. Owing to this, they provide all their services at very affordable prices. The expert tutors help each and every student to boost their grades with the help of the #1 computer science help website.  Their motto is to enhance the learning skills of students to make them successful in their life.</p>
					<h3 class="h_3 mb-3 text-dark">Assurance Of Quality Content Before Deadline</h3>
					<p>Tutor Champs has a team of professional computer science experts who are ready to provide you with help with computer science homework. They provide you with quality content that is checked by professionals before the submission of your assignment. The expert does in-depth research before giving you assistance in your computer science homework.</p>
					<h3 class="h_3 mb-3 text-dark">Privacy Of Your Information </h3>
					<p>If you are enrolling for the help of an online computer science tutor, then you are secured about the information you provided. They ensure you that your data is kept private from third party interference and will remain between students and tutors. </p>
					<h3 class="h_3 mb-3 text-dark">Get Help Whenever Needed </h3>
					<p>One of the greatest perks of Tutor Champs computer science help online is the 24*7 service. Here you will get last-minute help from the professionals who are experts in their respective fields. If you are in need of fast and reliable academic support, you can count on Tutor Champs. Not only this, they help you in completing your computer science homework in time with great professionalism and accuracy.</p>
					<h3 class="h_3 mb-3 text-dark">Boost Your Academic Grades</h3>
					<p>The online computer science tutors will help you to get excellent grades in your exams. Not only this, we cover all the topics that come under computer science to ensure that no student is left without help. Contact them by saying 'do my computer science homework and they will ensure that this is the place where you'll get the best service.</p> 

					<p>You're still confused, contact the Tutor Champs team today and they will be more than happy to help you with your work.</p>
						</>

		        </div>
		    </div>
	    	</div>
	    </div>
	</section>

	<!-- Career Section -->
	<section class="career-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title text-center">
				<h2>FAQs</h2>
			</div>
			
			<div class="row clearfix">
				
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image titlt" data-tilt data-tilt-max="4">
							<img src="{% static 'images/resource/career.png' %}" alt="" />
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<div id="accordion">
							<div class="card questions-con">
							    <div class="card-header" id="headingOne">
							      <h5 class="mb-0">
							        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										How Do I Submit A Request?
							        </button>
							      </h5>
							    </div>

							    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							      <div class="card-body">
							        If you're interested in online computer science tutor help then you just need to follow the steps mentioned above to enrol for help. After you have completed the steps you can choose the topic related to your assignment and we'll assign the best tutor for you. 
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingTwo">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										How Long Will It Take To Get Solutions?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							      <div class="card-body">
									When it comes to providing solutions, you will set the deadline and we'll assure you that the deadline is never crossed. We provide fast and best quality solutions to our students to boost their grades in academic performance. If you are in need of last-minute help, please let us know! 
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingThree">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										Will You Provide The Best Solutions With Zero Plagiarism?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
							      <div class="card-body">
							        Yes, absolutely! We strictly check every solution before providing it to you. We've various tools to check the duplicity of the content. Not only this, we follow the proper procedure and guidelines provided by our students to make their assignments. In this way, you can be sure that you are given customized content.  
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingFour">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
										Can You Do My Computer Science Homework? 
							        </button>
							      </h5>
							    </div>
							    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
							      <div class="card-body">
							        Yes, we are here to provide you with help regarding any topics related to computer science. Our tutors hold years of experience in different subjects. If you are not satisfied with our service, we are ready to provide you unlimited revision until you are satisfied.  
							      </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Career Section -->
	
	<!-- Main Footer -->

	{% endblock body %}
