<!DOCTYPE html>
{% load static %}
<html>

<head>
	<meta charset="utf-8">
	<title>Dashboard</title>
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'css/dash.css' %}" rel="stylesheet">
	<link href="{% static 'dashboard/css/dashboard.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&amp;display=swap"
		rel="stylesheet">
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<style>
		.thead td {
			width: 25%;
			border: 1px solid #fff;
		}

		tr td {
			text-align: center;
		}

		header .profileDrop:after {
			top: 19px;
			right: -5px;
		}

		.pos_rel {
			width: 100% !important;
		}

		.secondStp .pos_rel {
			width: 47% !important;
		}

		.nextStepbtn {
			position: absolute;
			left: 0;
			top: 13px;
			color: #43b97e;
			font-size: 14px;
			text-decoration: underline !important;
		}

		.secondStp {
			display: none;
		}

		.customPopWidth {
			max-width: 600px !important;
			width: 100%;
			top: 15%;
		}

		.wcMsz {
			text-align: center;
			width: 100%;
			font-size: 16px;
			color: #43b97e;
			font-weight: 500;
		}

		.psr {
			position: relative;
		}

		@media screen and (max-width: 767px) {
			.dTbale {
				margin-top: calc(30vh - 170px);
			}

			.ProjectLabAssignment .form_group {
				display: block !important;
			}

			.ProjectLabAssignment .form_group .pos_rel {
				width: 100% !important;
			}

			td,
			th {
				font-size: 12px;
			}
		}
	</style>
</head>

<body>
	<div class="mobHeader">
		<div>
			<div><img src="{% static 'images/logo.png' %}" alt="logo"></div>
			<a href="javascript:void(0);" class="mobBtn" id="mobBtn"><i class="fa fa-bars" aria-hidden="true"></i></a>
		</div>
	</div>
	<div class="dashboardContainer clientDashboard">
		<div class="sidebar sidebar_menu">

			<ul class="sidebar_menu">
				<li><a class="mob-logo" href="/"><img src="{% static 'images/logo.png' %}" alt="logo"></a></li>
				<li><a id="home" class="active" href="#"><i class="fa fa-home"></i> Home</a></li>
				<li><a id="live_session" href="#"><i class="fa fa-video-camera"></i> Live Session</a></li>
				<li><a id="project_lab" href="#"><i class="fa fa-bug"></i> Project Lab</a></li>
				<li><a id="profile" href="#"><i class="fa fa-user"></i> Profile</a></li>
				<li class="logout"><a id="" href="/logout/"><i class="fa fa-cog"></i> Logout</a></li>
			</ul>
		</div>
		<div>
			{% for message in messages %}
			<script>

				alert('{{message}}')
			</script>
			{% endfor %}
		</div>
		<div class="mainContent DashboardContent">
			<div class="dTbale homeContant active_">
				<!-- home page form  -->
				<form class="mb55 commForm mt-3" method="POST" action="" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="flex_div">
						<div class="col3 pt7">
							<label>Instruction</label>
							<textarea name="desc" id="description" class=""
								placeholder="Please Enter Your Instruction Here"></textarea>
						</div>

						<div class="col3">
							<label>Question files</label>
							<div class="attachFile">
								<div class="addfile">
									<label for="reffile" class="custom-file-upload">Add File</label>
									<input name="assignment" type="file" id="reffile"
										accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png"
										style="display: none;">
								</div>
							</div>
						</div>
						<div class="col3">
							<label>Reference Materials</label>
							<div class="attachFile">
								<div class="addfile">
									<label for="choose-file" class="custom-file-upload">Add File</label>
									<input name="reference_material" type="file" id="choose-file"
										accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png"
										style="display: none;">
								</div>
							</div>
						</div>
					</div>
					<div class="flex_div assignment_help_inner mt30">
						<div class="">
							<label>Subject Name</label>
							<input class="input" required="" name="subject" type="text" placeholder="Subject Name">
						</div>
						<div class="">
							<label>Choose Assignment Deadline</label>
							<input type="date" required="" class="input" name="deadline" id="birthday"
								placeholder="Deadline">
						</div>
						<div class="text-center psr mt-3">
							<input type="submit" class="formBtn theme-btn btn-style-one" value="Get Solution Now">

							<a href="" class="theme-btn btn-style-one"><span class="txt">Update</span></a>

						</div>
					</div>
				</form>

				<table class="mt30 table table-striped" style="border: 2px solid #43b97e;">
					
					<tr class="thead"
						style="font-size: 15px;font-weight: 500;color: #000;border-top: none;width: 100%;background: #47bf7f;border-bottom: 2px solid #43b97e;text-align: center;">
						<td>Assignment</td>
						<td>Deadline</td>
						<td>Assigned</td>
						<td>Status</td>
					</tr>
					{% for detail in details %}
					{% if detail.duration is none %}
					<tr style="color: black;">
						{% if detail.assignment %}
						<td><a href="{{detail.assignment.url}}">Preview</a> </td>
							{% else %}
							<td>No File</td>
							{% endif %}
							<td>{{detail.deadline}}</td>
							<td>{{detail.assigned}}</td>
							<td>{{detail.get_status_display}}</td>
						</tr>
						{% endif %}

					{% endfor %}
				</table>
			</div>
			<div class="profileContent">
				<div class="col50">
					<form class="commForm mt-3" method="POST" action="/profile/">
						{% csrf_token %}
						{% if user_detail.profile %}

						<div class="userprof"><img style="    filter: grayscale(1);" src="{{user_detail.profile.url}}">
						</div>
						{% else %}
						<div class="userprof"><img style="    filter: grayscale(1);"
								src="/static/dashboard/images/profi.png"></div>
						{% endif %}

						<h2 class="text-dark text-left">{{user_detail.name}}</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
						<div class="">
							<label>Enter Your Name </label>
							<input type="name" name="nae" class="input" placeholder="Enter Name" required=""
								value="{{user_detail.name}}">
						</div>
						<div class="">
							<label>Enter Your Email Id </label>
							<input type="email" name="email" class="input" readonly placeholder="Enter Email"
								required="" value="{{user.email}}">
						</div>
						<div class="pos_rel">
							<label>Enter Phone/WhatsApp Number</label>
							<input name="if-phone" id="if-phone" value="{{user_detail.phone}}" class="input" required=""
								placeholder="Enter Phone Number" type="text" maxlength="10">
						</div>
						<div class="pos_rel">
							<label>University/College</label>
							<input class="input" required="" name="College" type="text" placeholder="niversity/College"
								value="{{user_detail.study_level}}">
						</div>
						<div>
							<input type="checkbox" id="" name="checkbox" value="">
							<label for="checkbox">Get Email Notifications</label>
						</div>

						<div class="psr mt-3">
							<input type="submit" class="formBtn theme-btn btn-style-one" value="Update">

							<a href="" class="theme-btn btn-style-one"><span class="txt">Update</span></a>

						</div>
					</form>
				</div>
				<div class="col50">
					<form class="commForm mt-3" method="POST" action="{% url 'reset_password' %}">
						{% csrf_token %}
						<h2 class="text-dark text-left">Password</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
						<div class="">
							<label>Current Password</label>
							<input class="input" type="password" name="password" placeholder="Current Password"
								id="password">
						</div>
						<div class="">
							<label>New Password</label>
							<input class="input" type="password" name="password" placeholder="New Password" id="">
						</div>
						<div class="pos_rel">
							<label>Confirm Password</label>
							<input class="input" type="password" name="confm_password" placeholder="Confirm Password"
								id="">
						</div>
						<div class="psr mt-3">
							<input type="submit" class="formBtn theme-btn btn-style-one" value="Update">

							<a href="" class="theme-btn btn-style-one"><span class="txt">Update</span></a>

						</div>
					</form>
				</div>
			</div>
			<div class="live_session_content">
				<!-- live session form -->
				<form class="commForm mt-3" method="POST" action="/live_session_orders/" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="flex_div">
						<div class="col50">
							<label>Instruction</label>
							<textarea name="desc" id="description" class=""
								placeholder="Please Enter Your Instruction Here"></textarea>
						</div>
						<div class="col50">
							<label>Add file</label>
							<div class="attachFile">
								<div class="addfile">
									<label for="live_f" class="custom-file-upload">Add File</label>
									<input name="ref_material" type="file" id="live_f" />
								</div>
							</div>
						</div>
					</div>
					<div class="flex_div mt30">
						<div class="">
							<label>Choose Assignment Deadline</label>
							<input type="date" required="" class="input" name="deadline" id="birthday"
								placeholder="Deadline">
						</div>
						<div class="">
							<label>Duration in minutes</label>
							<input class="input" required="" name="Duration" type="text"
								placeholder="Duration in minutes">
						</div>
						<div class="">
							<label>Subject Name</label>
							<input class="input" required="" name="subject" type="text" placeholder="Subject Name">
						</div>
						<div class="text-center psr mt-3">
							<input type="submit" class="formBtn theme-btn btn-style-one" value="Get Solution Now">

							<a href="" class="theme-btn btn-style-one"><span class="txt">Update</span></a>

						</div>
					</div>
				</form>
				<table class="mt30 table table-striped" style="border: 2px solid #43b97e;">
					<tr class="thead"
						style="font-size: 15px;font-weight: 500;color: #000;border-top: none;width: 100%;background: #47bf7f;border-bottom: 2px solid #43b97e;text-align: center;">
						<td>Assignment</td>
						<td>Deadline</td>
						<td>Duration</td>
						<td>Assigned</td>
						<td>Status</td>
					</tr>
					{% for detail in details %}
					{% if detail.duration %}
					<tr style="color: black;">
						{% if detail.assignment %}
						<td> <a href="{{detail.assignment.url}}">Preview</a> </td>
						{% else %}
						<td>No File</td>
						{% endif %}
						<td>{{detail.deadline}}</td>
						<td>{{detail.duration}}</td>
						<td>{{detail.assigned}}</td>
						<td>{{detail.get_status_display}}</td>
					</tr>
					{% endif %}

					{% endfor %}
				</table>
			</div>
			<!-- <div class="assignment_help_content">
				<form class="commForm mt-3" method="POST" action="/asignment_order/" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="flex_div">
						<div class="col50">
							<label>Instruction</label>
							<textarea name="desc" id="description" class=""
								placeholder="Please Enter Your Instruction Here"></textarea>
						</div>
						<div class="col50">
							<label>Instruction</label>
							<div class="attachFile">
								<div class="addfile">
									<label for="choose-fil" class="custom-file-upload">Add File</label>
									<input name="files" type="file" id="choose-fil" style="display: none;" />
								</div>
							</div>
						</div>
					</div>
					<div class="flex_div assignment_help_inner mt30">
						<div class="">
							<label>Subject Name</label>
							<input class="input" required="" name="subject" type="text" placeholder="Subject Name">
						</div>
						<div class="">
							<label>Choose Assignment Deadline</label>
							<input type="date" required="" class="input" name="deadline" id="birthday"
								placeholder="Deadline">
						</div>
						<div class="text-center psr mt-3">
							<input type="submit" class="formBtn theme-btn btn-style-one" value="Get Solution Now">

							<a href="" class="theme-btn btn-style-one"><span class="txt">Update</span></a>

						</div>
					</div>
				</form>
			</div> -->
			<div class="project_lab_content">
				<!-- lab form -->
				<form class="commForm mt-3" method="POST" action="/lab_orders/" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="flex_div">
						<div class="col4">
							<label>Lab Manual</label>
							<div class="attachFile">
								<div class="addfile">
									<label for="labm" class="custom-file-upload">Add File</label>
									<input name="lab_manual" type="file" id="labm"
										accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png"
										style="display: none;" />
								</div>
							</div>
						</div>
						<div class="col4">
							<label>Report Guidelines</label>
							<div class="attachFile">
								<div class="addfile">
									<label for="report" class="custom-file-upload">Add File</label>
									<input name="report_guideline" type="file" id="report" style="display: none;" />
								</div>
							</div>
						</div>
						<div class="col4">
							<label>Lab Data</label>
							<div class="attachFile">
								<div class="addfile">
									<label for="labd" class="custom-file-upload">Add File</label>
									<input name="lab_data" type="file" id="labd" style="display: none;" />
								</div>
							</div>
						</div>
						<div class="col4">
							<label>Reference Materials</label>
							<div class="attachFile">
								<div class="addfile">
									<label for="ref" class="custom-file-upload">Add File</label>
									<input name="reference_material" type="file" id="ref" style="display: none;" />
								</div>
							</div>
						</div>
					</div>
					<div class="flex_div assignment_help_inner mt30">
						<div class="">
							<label>Subject Name</label>
							<input class="input" required="" name="subject" type="text" placeholder="Subject Name">
						</div>
						<div class="">
							<label>Choose Assignment Deadline</label>
							<input type="date" required="" class="input" name="deadline" id="birthday"
								placeholder="Deadline">
						</div>
						<div class="text-center psr mt-3">
							<input type="submit" class="formBtn theme-btn btn-style-one" value="Get Solution Now">

							<a href="" class="theme-btn btn-style-one"><span class="txt">Update</span></a>

						</div>
					</div>
				</form>
				<table class="mt30 table table-striped" style="border: 2px solid #43b97e;">
					<tr class="thead"
						style="font-size: 15px;font-weight: 500;color: #000;border-top: none;width: 100%;background: #47bf7f;border-bottom: 2px solid #43b97e;text-align: center;">
						<td>Lab Manual</td>
						<td>Report Guidelines</td>
						<td>Lab Data</td>
						<td>Reference Materials</td>
						<td>Deadline</td>
						<td>Subject</td>
						<td>Assigned</td>
						<td>Status</td>
					</tr>
					{% for lab in labs %}
					<tr style="color: black;">
						<td><a href="{{lab.lab_manual.url}}">Preview</a></td>
						<td><a href="{{lab.report_guidline.url}}">Preview</a></td>
						<td><a href="{{lab.lab_data.url}}">Preview</a></td>
						<td><a href="{{lab.reference_material.url}}">Preview</a></td>
						<td>{{lab.deadline}}</td>
						<td>{{lab.subject}}</td>
						<td>{{lab.assigned}}</td>
						<td>{{lab.status}}</td>
					</tr>

					{% endfor %}
				</table>
			</div>

		</div>
	</div>
	<div class="modal" id="myModal">
		<div class="modal-dialog customPopWidth">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
				</div>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script>
		$('#choose-file').change(function () {
			var i = $(this).prev('label').clone();
			var file = $('#choose-file')[0].files[0].name;
			$(this).prev('label').text(file);
		});

		$('#reffile').change(function () {
			var i = $(this).prev('label').clone();
			var file = $('#reffile')[0].files[0].name;
			$(this).prev('label').text(file);
		});
		$('#report').change(function () {
			var i = $(this).prev('label').clone();
			var file = $('#report')[0].files[0].name;
			$(this).prev('label').text(file);
		});
		$('#labm').change(function () {
			var i = $(this).prev('label').clone();
			var file = $('#labm')[0].files[0].name;
			$(this).prev('label').text(file);
		});
		$('#labd').change(function () {
			var i = $(this).prev('label').clone();
			var file = $('#labd')[0].files[0].name;
			$(this).prev('label').text(file);
		});
		$('#ref').change(function () {
			var i = $(this).prev('label').clone();
			var file = $('#ref')[0].files[0].name;
			$(this).prev('label').text(file);
		});
		$('#live_f').change(function () {
			var i = $(this).prev('label').clone();
			var file = $('#live_f')[0].files[0].name;
			$(this).prev('label').text(file);
		});
		$('#choose-fil').change(function () {
			var i = $(this).prev('label').clone();
			var file = $('#choose-fil')[0].files[0].name;
			$(this).prev('label').text(file);
		});

		$("#home").click(function () {
			$(".homeContant").addClass("active_");
			$(".profileContent").removeClass("active_");
			$(".live_session_content").removeClass("active_");
			$(".assignment_help_content").removeClass("active_");
			$(".project_lab_content").removeClass("active_");
		});
		$("#profile").click(function () {
			$(".profileContent").addClass("active_");
			$(".homeContant").removeClass("active_");
			$(".live_session_content").removeClass("active_");
			$(".assignment_help_content").removeClass("active_");
			$(".project_lab_content").removeClass("active_");
		});
		$("#live_session").click(function () {
			$(".live_session_content").addClass("active_");
			$(".profileContent").removeClass("active_");
			$(".homeContant").removeClass("active_");
			$(".assignment_help_content").removeClass("active_");
			$(".project_lab_content").removeClass("active_");
		});
		$("#assignment_help").click(function () {
			$(".assignment_help_content").addClass("active_");
			$(".profileContent").removeClass("active_");
			$(".homeContant").removeClass("active_");
			$(".live_session_content").removeClass("active_");
			$(".project_lab_content").removeClass("active_");
		});
		$("#project_lab").click(function () {
			$(".project_lab_content").addClass("active_");
			$(".profileContent").removeClass("active_");
			$(".homeContant").removeClass("active_");
			$(".live_session_content").removeClass("active_");
			$(".assignment_help_content").removeClass("active_");
		});

		$(document).ready(function () {
			$('.sidebar_menu ul li a').click(function () {
				$('li a').removeClass("active");
				$(this).addClass("active");
			});
		});
		$(document).ready(function () {
			$('#mobBtn').click(function () {
				$('.sidebar').toggleClass("open");
			});
		});
		$(document).ready(function () {
			$('.sidebar a').click(function () {
				$('.sidebar').toggleClass("open");
			});
		});
	</script>

</body>

</html>