<!DOCTYPE html>
{% load static %}
<html>

<head>
	<meta charset="utf-8">
	<title>Dashboard</title>
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'css/dash.css' %}" rel="stylesheet">
	<link href="{% static 'dashboard/css/dashboard.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/chat.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&amp;display=swap"
		rel="stylesheet">
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<style>
		.thead td {
			width: auto;
			border: 1px solid #fff;
		}

		tr td {
			text-align: center; vertical-align: middle!important;
		}

		header .profileDrop:after {
			top: 19px;
			right: -5px;
		}
		.chatIcon{max-width: 30px;
    margin: 0 auto;
    cursor: pointer;}
		.pos_rel {
			width: 100% !important;
		}

		.secondStp .pos_rel {
			width: 47% !important;
		}

		.nextStepbtn {
			position: absolute;
			left: 0;
			top: 13px;
			color: #43b97e;
			font-size: 14px;
			text-decoration: underline !important;
		}
		.edit_row button:focus{box-shadow: none;}
		.secondStp {
			display: none;
		}

		.customPopWidth {
			max-width: 600px !important;
			width: 100%;
		}

		.wcMsz {
			text-align: center;
			width: 100%;
			font-size: 16px;
			color: #43b97e;
			font-weight: 500;
		}

		.psr {
			position: relative;
		}
.homeContant .commForm{padding: 10px 24px 15px;}
.head_content{text-align: center;padding-bottom: 5px;}
.head_content h1{font-style: italic;
    color: #47bf7f;}

.avatar-upload {
  position: relative;
  max-width: 100px;
  margin-bottom: 12px;
}
.avatar-upload .avatar-edit {
    position: absolute;
	right: -4px;
	bottom: -2px;
	z-index: 1;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  width: 34px;
    height: 34px;
    border-radius: 100%;
    background: #ffffff;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 12%);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.avatar-upload:hover .avatar-edit input + label {opacity: 1;}
.avatar-upload .avatar-edit input + label img{padding: 6px;}
.avatar-upload .avatar-preview {
    width: 110px;
	height: 110px;
	position: relative;
	border-radius: 100%;
	border: 4px solid #ffffff;
	box-shadow: 1px 1px 15px #e0e0e0;
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.EditTableModal .form_group > .pos_rel {
    width: 47%!important;
}
.col3 {
    width: 32%!important;
    max-width: 100%!important;
}
.show_password_icon, .show_CPassword_icon{top: 32px;}


		@media screen and (max-width: 767px) {
			.dTbale {
				margin-top: calc(30vh - 170px);
			}
			.avatar-upload .avatar-edit input + label{opacity: 1!important;}
			.ProjectLabAssignment .form_group {
				display: block !important;
			}

			.ProjectLabAssignment .form_group .pos_rel {
				width: 100% !important;
			}

			td,
			th {
				font-size: 12px;
			}
		}
	</style>
	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NVND638');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NVND638"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

	<div class="mobHeader">
		<div>
			<div><img src="{% static 'images/logo.png' %}" alt="logo"></div>
			<a href="javascript:void(0);" class="mobBtn" id="mobBtn"><i class="fa fa-bars" aria-hidden="true"></i></a>
		</div>
	</div>
	<div class="dashboardContainer clientDashboard">
		<div class="sidebar sidebar_menu">

			<ul class="sidebar_menu">
				<li><a class="mob-logo" href="/"><img src="{% static 'images/logo.png' %}" alt="logo"></a></li>
				<li><a id="home" class="active" href="#"><i class="fa fa-home"></i> Home</a></li>
				<li><a id="live_session" href="#"><i class="fa fa-video-camera"></i> Live Session</a></li>
				<li><a id="project_lab" href="#"><i class="fa fa-bug"></i> Project Lab</a></li>
				<li><a id="profile" href="#"><i class="fa fa-user"></i> Profile</a></li>
				<li class="logout"><a id="" href="/logout/"><i class="fa fa-cog"></i> Logout</a></li>
			</ul>
		</div>
		<div>
			{% for message in messages %}
			<script>

				alert('{{message}}')
			</script>
			{% endfor %}
		</div>
		<div class="mainContent DashboardContent">
			<div class="dTbale homeContant active_">
				<div class="head_content">
					<h1>Welcome to TutorChamps</h1>
					<p>TutorChamps is committed to provide best homework solution to it's students 24/7 and always puts students on top priority. Our mission is to make the students perform better in their academics and achieve their goals with certainty </p>
				</div>
				<!-- home page form  -->
				<form class="mb55 commForm mt-3 " id="hwform" method="POST" action="{% url 'old-user' %}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="flex_div">
						<div class="col3 pt7">
							<label>Instruction</label>
							<textarea name="desc" id="" class=""
								placeholder="Please Enter Your Instruction Here"></textarea>
						</div>

						<div class="col3">
							<label>Question files</label>
							<div class="attachFile">
								<div class="addfile">
									<label for="qfile" class="custom-file-upload">Add File </label>
									<input name="assignment" type="file" id="qfile" multiple="multiple"
										accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png"
										style="display: none;">
								</div>
							</div>
						</div>
						<div class="col3">
							<label>Reference Materials</label>
							<div class="attachFile">
								<div class="addfile">
									<label for="choose-file" class="custom-file-upload">Add File</label>
									<input name="reference_material" type="file" id="choose-file"
										accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png"
										style="display: none;">
								</div>
							</div>
						</div>
					</div>
					<div class="flex_div assignment_help_inner mt30">
						<div class="">
							<label>Subject Name</label>
							<input class="input" required="" name="subject" type="text" placeholder="Subject Name">
						</div>
						<div class="">
							<label>Choose Assignment Deadline</label>
							<input required class="input date_time" type="datetime-local" id="birthdaytime" name="deadline" placeholder="Deadline" >
						</div>
						<div class="text-center psr mt-3">
							<input type="submit" class="formBtn theme-btn btn-style-one" value="Create A New Order Now">

							<a href="" class="theme-btn btn-style-one"><span class="txt">Create A New Order Now</span></a>

						</div>
					</div>
				</form>

				<div class="inn_progrss"><span>In Progress (Assignments)</span> </div>

				<table class="mt30 table table-striped" id="hwdata" style="border: 2px solid #43b97e;">
					
					<tr class="thead"
						style="font-size: 15px;font-weight: 500;color: #000;border-top: none;width: 100%;background: #47bf7f;border-bottom: 2px solid #43b97e;text-align: center;">
						<td>Order ID</td>
						<td>Assignment</td>
						<td>Deadline</td>
						<td>Subject</td>
						<td>Status</td>
						<td>Chat</td>
					</tr>
					{% for detail in details %}
					{% if detail.duration is None %}
					<tr style="color: black;">
						<td>{{detail.order_id}}</td>
						{% if detail.assignment %}
						<td><a href="{{detail.assignment.url}}">Preview</a> </td>
							{% else %}
							<td>No File</td>
							{% endif %}
							<td>{{detail.deadline}}</td>
							<td>{{detail.subject}}</td>
							<td class="{{detail.status}}">{{detail.get_status_display}}</td>
							<td><div class="chatIcon"><a href="https://wa.me/+919711569678" target="_blank"><img src="/static/dashboard/images/chat.png"></a></div></td>
						</tr>
						{% endif %}

					{% endfor %}
				</table>
			</div>
			<div class="profileContent">
				<div class="col50">
					<form class="commForm mt-3" method="POST" action="/profile/" enctype="multipart/form-data">
						{% csrf_token %}
						
						<div class="avatar-upload">
					        <div class="avatar-edit">
					            <input type='file' id="imageUpload" name="profile" accept=".png, .jpg, .jpeg" />
					            <label for="imageUpload"><img title="Add profile photo" src="/static/images/camera.png"></label>
					        </div>
					        <div class="avatar-preview">
								{% if user_detail.profile %}
					            <div id="imagePreview" style="background-image: url('{{user_detail.profile.url}}');">
									{% else %}
									<div id="imagePreview" style="background-image: url('');">
										{% endif %}
					            </div>
					        </div>
					    </div>
					    <h2 class="text-dark text-left" id="user_name">{{user_detail.name}}</h2>
						<p>Edit/update your details here</p>
						<div class="">
							<label>Enter Your Name </label>
							<input type="name" name="nae" class="input" placeholder="Enter Name" required=""
								value="{{user_detail.name}}">
						</div>
						<div class="">
							<label>Enter Your Email Id </label>
							<input type="email" name="email" class="input" readonly placeholder="Enter Email"
								required="" value="{{user.email}}">
						</div>
						<div class="pos_rel">
							<label>Enter Phone/WhatsApp Number</label>
							<input name="if-phone" id="if-phone" value="{{user_detail.phone}}" class="input" required=""
								placeholder="Enter Phone Number" type="text" maxlength="10">
						</div>
						<div class="pos_rel">
							<label>University/College</label>
							<input class="input" required="" name="College" type="text" placeholder="University/College"
								value="{{user_detail.study_level}}">
						</div>
						<div>
							<input type="checkbox" id="" name="checkbox" value="">
							<label for="checkbox">Get Email Notifications</label>
						</div>

						<div class="psr mt-3">
							<input type="submit" class="formBtn theme-btn btn-style-one" value="Update">

							<a href="" class="theme-btn btn-style-one"><span class="txt">Update</span></a>

						</div>
					</form>
				</div>
				<div class="col50">
					<form class="commForm mt-3" method="POST" action="{% url 'reset_password' %}">
						{% csrf_token %}
						<h2 class="text-dark text-left">Password</h2>
						<p>Create new password here</p>
						<div class="" style="position: relative;">
							<label>New Password</label>
							<input class="input" type="password" name="password" placeholder="New Password" id="password">
							<i onclick="changeInputType()" class="show_password_icon fa fa-eye"></i>
						</div>
						<div class="pos_rel">
							<label>Confirm Password</label>
							<input class="input" type="password" name="confm_password" placeholder="Confirm Password"
								id="con_password">
							<i onclick="changeInputType2()" class="show_CPassword_icon fa fa-eye"></i>

						</div>
						<div class="psr mt-3">
							<input type="submit" class="formBtn theme-btn btn-style-one" value="Update">

							<a href="" class="theme-btn btn-style-one"><span class="txt">Update</span></a>

						</div>
					</form>
				</div>
			</div>
			<div class="live_session_content">
				<!-- live session form -->
				<form class="commForm mt-3" id="lsform" method="POST" action="/live_session_orders/" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="flex_div">
						<div class="col3 pt7">
							<label>Instruction</label>
							<textarea name="desc" id="" class=""
								placeholder="Please Enter Your Instruction Here"></textarea>
						</div>

						<div class="col3">
							<label>Question files</label>
							<div class="attachFile">
								<div class="addfile">
									<label for="reffile" class="custom-file-upload">Add File </label>
									<input name="assignment" type="file" id="reffile"
										accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png"
										style="display: none;">
								</div>
							</div>
						</div>
						<div class="col3">
							<label>Reference Materials</label>
							<div class="attachFile">
								<div class="addfile">
									<label for="ref_mat" class="custom-file-upload">Add File</label>
									<input name="reference_material" type="file" id="ref_mat"
										accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png"
										style="display: none;">
								</div>
							</div>
						</div>
					</div>
					<div class="flex_div mt30">
						<div class="">
							<label>Choose Assignment Deadline</label>
							<input required class="input date_time" type="datetime-local" id="birthdaytime" name="deadline" placeholder="Deadline" >
						</div>
						<div class="">
							<label>Duration in minutes</label>
							<input class="input" required name="Duration" type="text"
								placeholder="Duration in minutes">
						</div>
						<div class="">
							<label>Subject Name</label>
							<input class="input" required="" name="subject" type="text" placeholder="Subject Name">
						</div>
						<div class="text-center psr mt-3">
							<input type="submit" class="formBtn theme-btn btn-style-one" value="Get Solution Now">

							<a href="" class="theme-btn btn-style-one"><span class="txt">Create New Order</span></a>

						</div>
					</div>
				</form>
				<table class="mt30 table table-striped" id="lsdata" style="border: 2px solid #43b97e;">
					<tr class="thead"
						style="font-size: 15px;font-weight: 500;color: #000;border-top: none;width: 100%;background: #47bf7f;border-bottom: 2px solid #43b97e;text-align: center;">
						<td>Order ID</td>
						<td>Assignment</td>
						<td>Deadline</td>
						<td>Duration</td>
						<td>Subject</td>
						<td>Status</td>
						<td>Chat</td>
					</tr>
					{% for detail in details %}
					{% if detail.duration %}
					<tr style="color: black;">
						<td>{{detail.order_id}}</td>
						{% if detail.assignment %}
						<td> <a href="{{detail.assignment.url}}">Preview</a> </td>
						{% else %}
						<td>No File</td>
						{% endif %}
						<td>{{detail.deadline}}</td>
						<td>{{detail.duration}}</td>
						<td>{{detail.subject}}</td>
						<td class="{{detail.status}}">{{detail.get_status_display}}</td>
						<td><div class="chatIcon"><a href="https://wa.me/+919711569678" target="_blank" ><img src="/static/dashboard/images/chat.png"></a></div></td>
					</tr>
					{% endif %}

					{% endfor %}
				</table>
			</div>
			<div class="project_lab_content">
				<!-- lab form -->
				<form class="commForm mt-3" id="labform" method="POST" action="/lab_orders/" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="flex_div">
						<div class="col4">
							<label>Lab Manual</label>
							<div class="attachFile">
								<div class="addfile">
									<label for="labm" class="custom-file-upload">Add File</label>
									<input name="lab_manual" type="file" id="labm" required
										accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png"
										style="display: none;" />
								</div>
							</div>
						</div>
						<div class="col4">
							<label>Report Guidelines</label>
							<div class="attachFile">
								<div class="addfile">
									<label for="report" class="custom-file-upload">Add File</label>
									<input required name="report_guideline" type="file" id="report" style="display: none;" />
								</div>
							</div>
						</div>
						<div class="col4">
							<label>Lab Data</label>
							<div class="attachFile">
								<div class="addfile">
									<label for="labd" class="custom-file-upload">Add File</label>
									<input required name="lab_data" type="file" id="labd" style="display: none;" />
								</div>
							</div>
						</div>
						<div class="col4">
							<label>Reference Materials</label>
							<div class="attachFile">
								<div class="addfile">
									<label for="ref" class="custom-file-upload">Add File</label>
									<input required name="reference_material" type="file" id="ref" style="display: none;" />
								</div>
							</div>
						</div>
					</div>
					<div class="flex_div assignment_help_inner mt30">
						<div class="">
							<label>Subject Name</label>
							<input class="input" required="" name="subject" type="text" placeholder="Subject Name">
						</div>
						<div class="">
							<label>Choose Assignment Deadline</label>
							<input required class="input date_time" type="datetime-local" id="birthdaytime" name="deadline" placeholder="Deadline" >
						</div>
						<div class="text-center psr mt-3">
							<input type="submit" class="formBtn theme-btn btn-style-one" value="Get Solution Now">

							<a href="" class="theme-btn btn-style-one"><span class="txt">Create A New Order</span></a>

						</div>
					</div>
				</form>
				<table class="mt30 table table-striped" id="labdata" style="border: 2px solid #43b97e;">
					<tr class="thead"
						style="font-size: 15px;font-weight: 500;color: #000;border-top: none;width: 100%;background: #47bf7f;border-bottom: 2px solid #43b97e;text-align: center;">
						<td>Order ID</td>
						<td>Deadline</td>
						<td>Subject</td>
						<td>Status</td>
						<td>Chat</td>
					</tr>
					{% for lab in labs %}
					<tr style="color: black;">
						<td>{{lab.order_id}}</td>
						<td>{{lab.deadline}}</td>
						<td>{{lab.subject}}</td>
						<td class="{{lab.status}}">{{lab.status}}</td>
						<td><div class="chatIcon"><a href="https://wa.me/+919711569678" target="_blank"><img src="/static/dashboard/images/chat.png"></a></div></td>
					</tr>
				
					{% endfor %}
				</table>
			</div>

		</div>
	</div>
	<div class="modal EditTableModal" id="EditTableModal">
		<div class="modal-dialog customPopWidth">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
				</div>
				<form class="commForm mt-3 border-0" method="" enctype="multipart/form-data">
		            <div class="form_group">
		                <div class="twoField">
		                    <div class="pos_rel">
		                        <label>Your Subject/Course Code</label>
		                        <input class="input" required name="subject" type="text"
		                            placeholder="Eg. UNCC100 Self &amp; Community">
		                    </div>
		                    <div class="pos_rel">
		                        <label for="birthdaytime">Choose Assignment Deadline</label>
		                        <input required class="input date_time" type="datetime-local" id="birthdaytime" name="deadline" placeholder="Deadline" >
		                    </div>
		                </div>
		    
		                <div class="pos_rel">
		                    <label>Your Message*</label>
		                    <textarea name="Details" id="description" class="Detail"
		                        placeholder="Write assignment description"></textarea>
		                    <div>
		                        <label for="files"></label>
		                        <input type="file" name="files" id="files" multiple="" value="Add File">
		                        <p id="file-name" class="fileName"></p>
		                    </div>
		                </div>
		            </div>
		            <div class="text-center psr mt-3">
		                <input type="submit" class="formBtn theme-btn btn-style-one" value="Save changes">
		    
		                <a href="" class="theme-btn btn-style-one"><span class="txt">Save changes</span></a>
		    
		            </div>
		        </form>
			</div>
		</div>
	</div>
	
    <div class="chat-head" data-target="html"> </span>
        <input type="checkbox" id="check"> <label class="chat-btn" for="check"> <img class="comment" src="{% static 'images/chat.png' %}"><i class="fa fa-close close"></i> </label>
        <div class="chatwindow">
            
            {% include 'chat_head/chat-window.html' with uuid=user %}
            
           
        </div>
    </div>

	<div class="chat_box">
		<button id="close_chat" type="button" class="close">×</button>
		<h3>ChatBox</h3>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script>

		if ('{{ ordered }}' == 'True'){
			$("#check").click()
		}
		console.log($("#checkbox").checked)
		$('.date_time').on('keydown', function() {
		    $(this).addClass("focus");
		});

		$('#choose-file').change(function () {
			var i = $(this).prev('label').clone();
			var file = $('#choose-file')[0].files[0].name;
			$(this).prev('label').text(file);
		});


		$('#reffile').change(function () {
			var i = $(this).prev('.custom-file-upload').clone();
			var file = $('#reffile')[0].files[0].name;
			$(this).prev('.custom-file-upload').text(file);
		});
		$('#qfile').change(function () {
			var i = $(this).prev('.custom-file-upload').clone();
			var file = $('#qfile')[0].files[0].name;
			$(this).prev('.custom-file-upload').text(file);
		});
		$('#report').change(function () {
			var i = $(this).prev('label').clone();
			var file = $('#report')[0].files[0].name;
			$(this).prev('label').text(file);
		});
		$('#labm').change(function () {
			var i = $(this).prev('label').clone();
			var file = $('#labm')[0].files[0].name;
			$(this).prev('label').text(file);
		});
		$('#labd').change(function () {
			var i = $(this).prev('label').clone();
			var file = $('#labd')[0].files[0].name;
			$(this).prev('label').text(file);
		});
		$('#ref').change(function () {
			var i = $(this).prev('label').clone();
			var file = $('#ref')[0].files[0].name;
			$(this).prev('label').text(file);
		});
		$('#ref_mat').change(function () {
			var i = $(this).prev('label').clone();
			var file = $('#ref_mat')[0].files[0].name;
			$(this).prev('label').text(file);
		});
		$('#live_f').change(function () {
			var i = $(this).prev('label').clone();
			var file = $('#live_f')[0].files[0].name;
			$(this).prev('label').text(file);
		});
		$('#choose-fil').change(function () {
			var i = $(this).prev('label').clone();
			var file = $('#choose-fil')[0].files[0].name;
			$(this).prev('label').text(file);
		});

		$("#home").click(function () {
			$(".homeContant").addClass("active_");
			$(".profileContent").removeClass("active_");
			$(".live_session_content").removeClass("active_");
			$(".assignment_help_content").removeClass("active_");
			$(".project_lab_content").removeClass("active_");
		});
		$("#profile").click(function () {
			$(".profileContent").addClass("active_");
			$(".homeContant").removeClass("active_");
			$(".live_session_content").removeClass("active_");
			$(".assignment_help_content").removeClass("active_");
			$(".project_lab_content").removeClass("active_");
		});
		$("#live_session").click(function () {
			$(".live_session_content").addClass("active_");
			$(".profileContent").removeClass("active_");
			$(".homeContant").removeClass("active_");
			$(".assignment_help_content").removeClass("active_");
			$(".project_lab_content").removeClass("active_");
		});
		$("#assignment_help").click(function () {
			$(".assignment_help_content").addClass("active_");
			$(".profileContent").removeClass("active_");
			$(".homeContant").removeClass("active_");
			$(".live_session_content").removeClass("active_");
			$(".project_lab_content").removeClass("active_");
		});
		$("#project_lab").click(function () {
			$(".project_lab_content").addClass("active_");
			$(".profileContent").removeClass("active_");
			$(".homeContant").removeClass("active_");
			$(".live_session_content").removeClass("active_");
			$(".assignment_help_content").removeClass("active_");
		});

		$(document).ready(function () {
			$('.sidebar_menu ul li a').click(function () {
				$('li a').removeClass("active");
				$(this).addClass("active");
			});
		});
		$(document).ready(function () {
			$('#mobBtn').click(function () {
				$('.sidebar').toggleClass("open");
			});
		});
		$(document).ready(function () {
			$('.sidebar a').click(function () {
				$('.sidebar').toggleClass("open");
			});
		});
		$(document).ready(function () {
			$('.main_chat_icon').click(function () {
				$('.chat_box').addClass("open");
			});
			$('#close_chat').click(function () {
				$('.chat_box').removeClass("open");
			});
		});

	$("input[name='deadline']").click(function(){
	  $(this).addClass("removeAfter");
	});
	$(".custom-file-upload").click(function(){
	  $(this).addClass("addAfter");
	});
	
	</script>


	<script>
        function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            $('#imagePreview').css('background-image', 'url('+e.target.result +')');
            $('#imagePreview').hide();
            $('#imagePreview').fadeIn(650);
        }
        reader.readAsDataURL(input.files[0]);
    }
}
$("#imageUpload").change(function() {
    readURL(this);
});
    </script>
	<!--  -->
							<!--  -->
	<script>
function getdata(){
	$.ajax({
		type:"GET",
		url:'/getdata/',
		success:function(data){
		for(let i=0; i<data.length;i++){
			var order_id = data[i].order_id
			var deadline = data[i].deadline
			var subject = data[i].subject
			var status = data[i].status
			var temp = '<tr><td>'+order_id+'</td><td>'+deadline+'</td><td>'+subject+'</td><td>'+status+'</td><td>'+'<div class="chatIcon main_chat_icon"><img src="/static/dashboard/images/chat.png"></div>'+'</td></tr>'
			$("#labdata tr:last").after(temp)
		}
		}
	})
}
	</script>

     <script>
            $('#files').change(function() {
				var i = $(this).prev('label').clone();
				var file = $('#files')[0].files[0].name;
				$(this).prev('label').text(file);
			  });
        </script>
		<script>
			$("#hwform").submit(function(e){
				e.preventDefault();
				var form = $("#hwform")[0];
				var data = new FormData(form);
				data.append("csrfmiddlewaretoken",'{{ csrf_token }}')
				var actionurl = $("#hwform").attr('action');
				$.ajax({
					type:"POST",
					url:actionurl,
					data:data,
					cache: false,
					processData: false,
					contentType: false,
					success:function(data){
						var order_id = data.order_id
						var assignment = data.assignment
						var deadline = data.deadline
						var subject = data.subject
						var status = data.status
						var temp = '<tr><td>'+order_id+'</td>'+'<td>'+'<a href='+assignment+'>'+'Preview' +'</a>' +'</td>'+'<td>'+deadline+'</td><td>'+subject+'</td>'+'<td class='+`${status}`+'>' +status+'</td>'+'<td>'+'<div class="chatIcon main_chat_icon"><img src="/static/dashboard/images/chat.png"></div>'+'</td></tr>'
						$("#hwdata tr:last").after(temp)
						$('#hwform').trigger('reset')
					}
				})
			})
			$("#lsform").submit(function(e){
				e.preventDefault();
				var form = $("#lsform")[0];
				var data = new FormData(form);
				data.append("csrfmiddlewaretoken",'{{ csrf_token }}')
				var actionurl = $("#lsform").attr('action');
				$.ajax({
					type:"POST",
					url:actionurl,
					data:data,
					cache: false,
					processData: false,
					contentType: false,
					success:function(data){
						var order_id = data.order_id
						var assignment = data.assignment
						var duration = data.duration
						var deadline = data.deadline
						var subject = data.subject
						var status = data.status
						var temp = '<tr><td>'+order_id+'</td>'+'<td>'+'<a href='+assignment+'>'+'Preview' +'</a>' +'</td>'+'<td>'+deadline+'</td>'+'<td>'+duration +'</td>' +'<td>'+subject+'</td>'+'<td class='+`${status}`+'>' +status+'</td>'+'<td>'+'<div class="chatIcon main_chat_icon"><img src="/static/dashboard/images/chat.png"></div>'+'</td></tr>'
							$("#lsdata tr:last").after(temp)
						$('#lsform').trigger('reset')
					}
			
				})
			})
			
			$("#labform").submit(function(e){
				e.preventDefault();
				var form = $("#labform")[0];
				var data = new FormData(form);
				data.append("csrfmiddlewaretoken",'{{ csrf_token }}')
				var actionurl = $("#labform").attr('action');
				$.ajax({
					type:"POST",
					url:actionurl,
					data:data,
					cache: false,
					processData: false,
					contentType: false,
					success:function(data){
						var order_id = data.order_id
						var deadline = data.deadline
						var subject = data.subject
						var status = data.status
						var temp = '<tr><td>'+order_id+'</td><td>'+deadline+'</td><td>'+subject+'</td>'+'<td class='+`${status}`+'>' +status+'</td>'+'<td>'+'<div class="chatIcon main_chat_icon"><img src="/static/dashboard/images/chat.png"></div>'+'</td></tr>'
						$("#labdata tr:last").after(temp)
						$('#labform').trigger('reset')
					}
				})
			})
		</script>

		<script>
        function changeInputType() {
        $(this).toggleClass("fa-eye-slash");
          var x = document.getElementById("password");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }

        function changeInputType2() {
        $(".show_CPassword_icon").toggleClass("fa-eye-slash");
          var ConfirmPassword = document.getElementById("con_password");
          if (ConfirmPassword.type === "password") {
            ConfirmPassword.type = "text";
          } else {
            ConfirmPassword.type = "password";
          }
        }
    </script>

</body>

</html>