{% extends "base.html" %}
{% load static %}
{% block body %}
  
 <div class="banner-section serSec news-section pt-0 pb-0 banner--in">
 	<div class="pattern-layer-six" style="background-image: url('/static/images/main-slider/pattern-4.png')"></div>
 	<div class="pattern-layer-seven" style="background-image: url('/static/images/main-slider/pattern-5.png')">
		</div>
		<div class="pattern-layer-two" style="background-image: url('/static/images/main-slider/pattern-2.png')"></div>
		<div class="icon-layer-one" style="background-image:url('/static/images/icons/icon-1.png')"></div>
		<div class="image-column" style="z-index: 0;">
			<div class="pattern-layer-three" style="background-image: url('/static/images/main-slider/icon-1.png')"></div>
		</div>
		<div class="ban_container">
			<div class="row row_">
				
				<div class="col-md-6 text-center zIndex9">
					<img  class="zIndex9" src="/static/images/engineering.png">
				</div>
				<div class="col-md-6 banner_con">
					<h1>Engineering Homework Help</h1>
					<h2>Get The Best Engineering Homework Help From The Expert Tutors! </h2>
					<div class="__form-container">
						{% include "forms.html" %}
					</div>
		
		</div>
		</div>
		</div>
	</div>
	{% include "hiw.html" %}


	<section class="getting-more">
	    <div class="container">
			<div class="title title-big text-center"><h2>Our Homework Help Service In A Nutshell</h2></div>
	        <!-- <div class="title title-big text-white text-center"><h2>Turn in Quality Written Assignment.<br> Save Your Free Time.</h2> </div> -->
	        <div class="row">
	            <div class="col-md-4">
	            	<div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-1.png' %}">
		                <div class="getting-more__subtitle">
		                	<h3 class="mb-3 text-dark">All Types of Homework</h3>
		                </div>
		                <div class="getting-more__text">
		                    No matter what the subject matter is, we are here to help you! Our expert and highly skilled expert tutors will help you with your homework, whether it is an academic argument or a book summary. Not only this, we provide new and creative text.                 </div>
		            </div>
	            </div>
	            <div class="col-md-4">
		            <div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-2.png' %}">
		                <div class="getting-more__subtitle"><h3 class="mb-3 text-dark">3-6 Hours Turnaround.</h3>  </div>
		                <div class="getting-more__text">
		                    Our comprehensive expert tutors are available 24/7 to offer you instant, round-the-clock assistance with your homework issues and queries. So, if you are running out of time and are looking for someone to get help from, then rely on Tutor Champs.                </div>
		            </div>
		        </div>
		        <div class="col-md-4">
		            <div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-3.png' %}">
		                <div class="getting-more__subtitle"><h3 class="text-dark mb-3">100% Anonymous.</h3></div>
		                <div class="getting-more__text">
		                    We never take your safety for granted. All personal information, payment-related info, and other details are kept confidential to protect your identity.                 </div>
		            </div>
	        	</div>
	        </div>
	    </div>
	</section>

	<section id="quality" class="quality">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-5">
		        <div class="quality-left">
		            <div class="quality__content ">
		                <div class="quality__title">
		                	<h2 class="h_2 text-dark">High-Caliber & Quality-Assured Results</h2>
		                    <div class="quality__subtitle"><p>Being the top-rated and prominent homework help website, we never compromise on quality. We genuinely pride ourselves on providing premium-quality homework help services to our customers free from errors.</p></div>
		                </div>
		                <div class="quality__subtitle"><h4 class="mb-3 text-dark">1. Plagiarism Checking</h4></div>
		                <div class="quality__text"><p>Our competent expert tutors write original solutions for your problem, free from any error and plagiarism. Not only this, but we also cross-check all the noted data using many trusted tools to offer you 100% unique answers.</p></div>
		                <div class="quality__subtitle"><h4 class="mb-3 text-dark">2. Strict Quality Control </h4></div>
		                <div class="quality__text"><P>We not only strive to deliver plagiarism-free homework solutions, but we also focus on controlling the quality. That's why every paper/solution is examined by experienced and professional editors.</P></div>
		            </div>
		        </div>
		    </div>
	        <div class="col-md-7">
	        	<div class="quality-right">
		            <div class="quality__img text-center pt-4">
	                        <img class="lazy" src="{% static 'images/quality-img.png' %}">
	                </div>
		        </div>
	        </div>
	    	</div>
	    </div>
	</section>
	
	
	<!-- Testimonial Section -->
	<section class="testimonial-section">
		<div class="circle-one paroller" data-paroller-factor="-0.20" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="circle-two paroller" data-paroller-factor="0.20" data-paroller-factor-lg="-0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="pattern-layer-two" style="background-image:url('/static/images/background/pattern-10.png')"></div>
		<div class="auto-container">
			<div class="inner-container">
				<div class="pattern-layer" style="background-image:url('/static/images/background/pattern-9.png')"></div>
				<!-- Sec Title -->
				<div class="sec-title centered">
					<div class="title">Testimonial</div>
					<h2>Words From Customers</h2>
					<div class="text">95% of students love us! Let’s take a look, what they say about our services!</div>
				</div>
				<div class="testimonial-carousel owl-carousel owl-theme">
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Tutor Champs is truly an efficient Assignment writing service according to me. I am amazed by the sheer professionalism and transparency of the writers of this site. I’m sticking to this site for all my academic requirements.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Chris</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Every site I approached always quoted ridiculously high prices for offering Homework Help. Then my friend recommended your site and I found that the prices were extremely nominal.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Kennedy</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I've always been such an average student, but then Tutor Champs happened, and that reflected positively on my academic performance. Hiring you guys for my paper was the best thing I've done.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Sejal</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I had casually placed an order on Tutor Champs for a short essay and wanted to see if their claim of timely delivery of tasks was true or not. The assignment was not delivered on time, but the quality of the essay was also remarkable.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Joe</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I love these guys, so amazing. My Assignment problem is not easy, but they did so well. I will go with the more, Thank you to the tutor. Amazing job on time.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Anita</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Excellent experience with a professionally delivered work. Highly recommended! Answered my question which I didn't understand and broke it down into sections which was very useful and understandable.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Cesar</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Testimonial Section -->

	<section class="HomHelp content_sec">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
		            <h2 class="h_2 mb-3 text-dark">Master Engineering Homework Help  With Our Online Tutoring Service</h2>
		            <p>Engineering combines maths and science, whose application is used to create and build structures and machines. Everything around us is created by engineers, such as bridges, smartphones, roads, robots, buildings, computers, etc.</p>
		            <p>It is considered a highly appreciated field worldwide, but it’s not an easy subject to master. This vast academic field brings lots of challenges and requires a sturdy base in science and mathematics. Not only this, one needs to have good technical skills, analytical skills, and problem-solving abilities to master engineering.</p>
					<p>Thus, all those students pursuing engineering and looking for professional help can get in touch with us. From assistance with assignments to guidance on a specific topic, we are here to assist you on different course specializations that come under engineering, such as:</p>
		
		            <ul>
		            	<li><p>Computer Engineering</p></li>
						<li><p>Electrical Engineering</p></li>
						<li><p>Chemical Engineering</p></li>
						<li><p>Mechanical Engineering</p></li>
						<li><p>Aerospace Engineering</p></li>
						<li><p>Biochemical Engineering</p></li>
						<li><p>Geotechnical Engineering</p></li>
						<li><p>Civil Engineering</p></li>
						<li><p>Environmental Engineering & others.</p></li>
		            </ul>
		            <p>You can take engineering homework help and engineering assignment help from our knowledgeable educators either on personalized sessions, or you can simply submit your query along with supporting data and files. Our skillful tutors will provide relevant notes, guide you with your issues, and offer you some helpful tips that assist you in acing this most challenging field.</p>
					<h2 class="h_2 mb-3 text-dark">Get Engineering Help Online You Have Been Looking For!</h2>
					<p>We all are aware of the fact that engineering is not an easy subject to master. It requires proper dedication, focus, and technical understanding to deal with various scientific methods and techniques. So, to make your engineering game strong, we have brought up a powerful and easy-to-use e-learning platform that is managed by our dedicated and expert engineering tutors.</p>
					<h3 class="h_3 mb-3 text-dark">Learn Engineering With Technology – Online Sessions</h3>
					<p>If you want to enhance your engineering knowledge, taking a 1:1 personalized session is the best! Our online engineering tutor will provide you deep insight into the topics being taught on the interactive whiteboard. Not only this, but you will also be offered a study guide and informative material that makes the tough job more manageable. </p>
					<h3 class="h_3 mb-3 text-dark">Help With Engineering Homework</h3>
					<p>“Is there someone who can do my engineering homework?” thoughts like this must arise in the mind of students who are coping with this complex subject. Thus, if you need any help with your engineering homework, connect with a TutorChamps educator. Sign up, submit the asked details and post your queries. Our credible educators will assist you with the best solution.</p>
					<h3 class="h_3 mb-3 text-dark">Engineering Writing Services</h3>
					<p>From dissertation to project reports, assignments, and much more, TutorChamps is a one-stop platform where all your education needs get catered to. We are regarded as the #1 engineering help website, as we have helped thousands of students worldwide with our effective services. <br>So, don’t waste your precious time looking for online experts here and there. Connect with talented and dedicated tutors available at TutorChamps! Schedule your personalized online tutoring session or request homework help. We are happy to help you no matter what your issue is!</p>
					<h2 class="h_2 mb-3 text-dark">Get Perfect Engineering Assignment Help Service@ Tutorchamps</h2>
					<p>Writing engineering assignments is a complex task! It takes a lot of time and requires comprehensive knowledge and understanding of engineering concepts. Thus, if you are running out of time, struggling with your assignment, and looking for expert help, feel free to rely on us.</p>
						<p>Our educators will help you in completing your engineering assignment on time. Most importantly, our experienced and highly competent tutors will deliver 100% original and accurate content. Furthermore, to ensure quality, every assignment is cross-checked by proofreaders available here.</p>
						<p>So if you want us to do your assignment, fill the form available on the official website or get in touch with our customer care team that is available round the clock. 
						</p>
		        </div>
		    </div>
	    	</div>
	    </div>
	</section>

	<!-- Career Section -->
	<section class="career-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title text-center">
				<h2>FAQs</h2>
			</div>
			
			<div class="row clearfix">
				
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image titlt" data-tilt data-tilt-max="4">
							<img src="{% static 'images/resource/career.png' %}" alt="" />
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<div id="accordion">
							<div class="card questions-con">
							    <div class="card-header" id="headingOne">
							      <h5 class="mb-0">
							        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										How Can I Avail Services Available At Tutor Champs?
							        </button>
							      </h5>
							    </div>

							    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							      <div class="card-body">
							        To avail of the services available at Tutor Champs, you need to sign up. For signing up, you are required to submit some details such as:
									<ul>
										<li>Email Address</li>
										<li>Phone Number</li>
										<li>Subject/Course Code</li>
										<li>Deadline</li>
										After entering the asked details mentioned above, you need to submit it. Once you are done, you can avail our services that include homework help, assignment writing service, online tutoring sessions, etc.  
									</ul>
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingTwo">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										Do Educators Available At Tutor Champs Suit Our Requirements?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							      <div class="card-body">
							        Yes! Educators available at Tutor Champs are highly experienced, skilled, and proficient in their subject matters. Not only this, they have good academic experience and a proven record of success. Thus, we offer 100% satisfaction. They will provide you with instant help that will improve your academic performance.
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingThree">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										I Want To Prepare For My Upcoming Engineering Examination. What Can I Do?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
							      <div class="card-body">
							        If you want to prepare for your upcoming engineering examination, get in touch with one of our qualified engineering tutors. You can schedule an online class where the tutor will help you in understanding the concepts. On top of this, they will also deliver technical assistance that proves beneficial to you. Moreover, educators will also provide you with some critical information, tips, and tactics that help you ace the examination. 
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingFour">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
										What Is Your Money-back Guarantee?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
							      <div class="card-body">
							        If you don’t like our service or didn’t get satisfied with the online engineering session or other education services offered by us, then you can ask for a refund from us. We will credit your amount within the stipulated time. 
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingFive">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
										Is It Safe To Take Engineering Homework Help Online?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
							      <div class="card-body">
							        It is 100% safe to avail engineering homework help online from us. Below given are some reasons that ensure this. Have a look!!
									<ul>
										<li>We keep your identity confidential.</li>
										<li> We never share your details with a third party.</li>
										<li>We deliver 100% unique and original content free from mistakes.</li>
										<li>Our customer care executives are available 24/7 to help you with your issues.</li>
										<li>We never ask for a high price. We offer our service at reasonable price rates.</li>
										<li>We aim to deliver your homework, assignments on time.</li>
									</ul> 
							      </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Career Section -->
	
	<!-- Main Footer -->

	{% endblock body %}
