{% extends "base.html" %}
{% load static %}
{% block body %}

<div class="banner-section serSec news-section pt-0 pb-0 banner--in">
 	<div class="pattern-layer-six" style="background-image: url('/static/images/main-slider/pattern-4.png')"></div>
 	<div class="pattern-layer-seven" style="background-image: url('/static/images/main-slider/pattern-5.png')">
		</div>
		<div class="pattern-layer-two" style="background-image: url('/static/images/main-slider/pattern-2.png')"></div>
		<div class="icon-layer-one" style="background-image:url('/static/images/icons/icon-1.png')"></div>
		<div class="image-column" style="z-index: 0;">
			<div class="pattern-layer-three" style="background-image: url('/static/images/main-slider/icon-1.png')"></div>
		</div>
	<div class="ban_container">
		<div class="row row_">
			<div class="col-md-6 text-center zIndex9">
				<img  class="zIndex9" src="/static/images/essay-writing.png">
			</div>
			<div class="col-md-6 banner_con">
				<h1>Essay Writing Services</h1>
				<h2>Get The Best Essay Writing Services From The Expert Writers!</h2>
				<div class="__form-container">
					{% include "forms.html" %}
				</div>
	
	</div>
	</div>
	</div>
</div>
{% include "hiw.html" %}

<section class="getting-more">
	<div class="container">
		<div class="title title-big text-center"><h2>Our Essay Help Service In A Nutshell</h2></div> <!-- <div class="title title-big text-white text-center"><h2>Turn in Quality Written Assignment.<br> Save Your Free Time.</h2> </div> -->
		<div class="row">
			<div class="col-md-4">
				<div class="getting-more__item ">
					<img class="lazy" alt="" src="{% static 'images/getting-more-img-1.png' %}">
					<div class="getting-more__subtitle">
						<h3 class="mb-3 text-dark">All Types of Essays. </h3>
					</div>
					<div class="getting-more__text">
						No matter what the subject matter is, we are here to help you! Our expert and highly skilled expert writers will help you with your essay, whether it is an academic argument or a book summary. Not only this, we provide new and creative text.                  </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="getting-more__item ">
					<img class="lazy" alt="" src="{% static 'images/getting-more-img-2.png' %}">
					<div class="getting-more__subtitle"><h3 class="mb-3 text-dark">3-6 Hours Turnaround.</h3>  </div>
					<div class="getting-more__text">
						Our comprehensive expert writers are available 24/7 to offer you instant, round-the-clock assistance with your essay issues and queries. So, if you are running out of time and are looking for someone to get help from, then rely on Tutor Champs.                 </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="getting-more__item ">
					<img class="lazy" alt="" src="{% static 'images/getting-more-img-3.png' %}">
					<div class="getting-more__subtitle"><h3 class="text-dark mb-3">100% Anonymous.</h3></div>
					<div class="getting-more__text">
						We never take your safety for granted. All personal information, payment-related info, and other details are kept confidential to protect your identity.                 </div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="quality" class="quality">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
			<div class="quality-left">
				<div class="quality__content ">
					<div class="quality__title">
						<h2 class="h_2 text-dark">High-Caliber & Quality-Assured Results</h2>
						<div class="quality__subtitle"><p>Being the top-rated and prominent essay help website, we never compromise on quality. We genuinely pride ourselves on providing premium-quality essay help services to our customers free from errors.</p></div>
					</div>
					<div class="quality__subtitle"><h4 class="mb-3 text-dark">1. Plagiarism Checking</h4></div>
					<div class="quality__text"><p>ur competent expert writers write original solutions for your problem, free from any error and plagiarism. Not only this, but we also cross-check all the noted data using many trusted tools to offer you 100% unique answers.</p></div>
					<div class="quality__subtitle"><h4 class="mb-3 text-dark">2. Strict Quality Control </h4></div>
					<div class="quality__text"><P>We not only strive to deliver plagiarism-free essay wriitng solutions, but we also focus on controlling the quality. That's why every paper/solution is examined by experienced and professional editors.</P></div>
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<div class="quality-right">
				<div class="quality__img text-center pt-4">
						<img class="lazy" src="{% static 'images/quality-img.png' %}">
				</div>
			</div>
		</div>
		</div>
	</div>
</section>


<!-- Testimonial Section -->
<section class="testimonial-section">
	<div class="circle-one paroller" data-paroller-factor="-0.20" data-paroller-factor-lg="0.20"
		data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
	<div class="circle-two paroller" data-paroller-factor="0.20" data-paroller-factor-lg="-0.20"
		data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
	<div class="pattern-layer-two" style="background-image:url('/static/images/background/pattern-10.png')"></div>
	<div class="auto-container">
		<div class="inner-container">
			<div class="pattern-layer" style="background-image:url('/static/images/background/pattern-9.png')"></div>
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">Testimonial</div>
				<h2>Words From Customers</h2>
				<div class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu <br>
					fugiat nulla pariatur Duis aute irure dolor in reprehenderit in</div>
			</div>
			<div class="testimonial-carousel owl-carousel owl-theme">
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">Tutor Champs is truly an efficient Assignment writing service according to me.
							I am amazed by the sheer professionalism and transparency of the writers of this site. I’m
							sticking to this site for all my academic requirements.</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="{% static 'images/customer.png' %}" alt="" />
								</div>
								<h6>Chris</h6>
								<div class="designation">student</div>
							</div>
						</div>
						<div class="quote-icon flaticon-quote-2"></div>
					</div>
				</div>
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">Every site I approached always quoted ridiculously high prices for offering
							Homework Help. Then my friend recommended your site and I found that the prices were
							extremely nominal.</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="{% static 'images/customer.png' %}" alt="" />
								</div>
								<h6>Kennedy</h6>
								<div class="designation">student</div>
							</div>
						</div>
						<div class="quote-icon flaticon-quote-2"></div>
					</div>
				</div>
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">I've always been such an average student, but then Tutor Champs happened, and
							that reflected positively on my academic performance. Hiring you guys for my paper was the
							best thing I've done.</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="{% static 'images/customer.png' %}" alt="" />
								</div>
								<h6>Sejal</h6>
								<div class="designation">student</div>
							</div>
						</div>
						<div class="quote-icon flaticon-quote-2"></div>
					</div>
				</div>
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">I had casually placed an order on Tutor Champs for a short essay and wanted to
							see if their claim of timely delivery of tasks was true or not. The assignment was not
							delivered on time, but the quality of the essay was also remarkable.</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="{% static 'images/customer.png' %}" alt="" />
								</div>
								<h6>Joe</h6>
								<div class="designation">student</div>
							</div>
						</div>
						<div class="quote-icon flaticon-quote-2"></div>
					</div>
				</div>
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">I love these guys, so amazing. My Assignment problem is not easy, but they did
							so well. I will go with the more, Thank you to the tutor. Amazing job on time.</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="{% static 'images/customer.png' %}" alt="" />
								</div>
								<h6>Anita</h6>
								<div class="designation">student</div>
							</div>
						</div>
						<div class="quote-icon flaticon-quote-2"></div>
					</div>
				</div>
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">Excellent experience with a professionally delivered work. Highly recommended!
							Answered my question which I didn't understand and broke it down into sections which was
							very useful and understandable.</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="{% static 'images/customer.png' %}" alt="" />
								</div>
								<h6>Cesar</h6>
								<div class="designation">student</div>
							</div>
						</div>
						<div class="quote-icon flaticon-quote-2"></div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- End Testimonial Section -->

<section class="HomHelp content_sec">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="h_2 mb-3 text-dark">Why You Will Love Tutor Champs Essay Writing Service?</h2>
				<p>Writing an essay can be challenging for innumerable reasons and when someone has strict deadlines can make it impossible to achieve quality while maintaining the integrity of the same. Tutor champs is a place where you will find yourself searching for online essay help. We give the best essay writing service and the most trusted one in customized academic support. Our essay writer can help you acquire the grades you want by providing a framework from which you can learn and develop your own unique work. </p>
				<h3 class="h_3 mb-3 text-dark">Privacy First</h3>
				
				<p>As the best company, we are fully general data protection compliant. In simple terms, the data acquired from you is outlined in our privacy policy. Your data is safe and protected with us!</p>
				
				<h3 class="h_3 mb-3 text-dark">Expert Asserted Quality</h3>
				<p>We are aware of the importance of work quality. So we invest heavily in quality checking. Every piece of essay writing service is personally inspected before delivering it to you. We review grammar & spelling, structure, references, and many more to make sure the work your receive is what you have requested and with 100% originality. To make sure the final online essay writing help is perfect, every work goes to our writers for editing. </p>
				
				<h3 class="h_3 mb-3 text-dark">Free Proofreading</h3>
				<p>We offer essay writing help for in effective price when it comes to proofreading. Our experts rectify the
					calculation mistakes or erroneous reasoning in your paper and provide online proofreading service.
					Moreover, they verify whether the data sample or equipment calibration used in your research paper
					is accurate or not.</p>
				
				<h3 class="h_3 mb-3 text-dark">Round The Clock Assistance</h3>
				<p>Our customer executives are available 24*7. Thus, if you have any queries about our essay
					help service, get in touch with our executives via live chat or email. Moreover, if you need any
					modification in your writing assignment, you can convey the message to our executives. They will help you
					out with the procedure.</p>
				<p>Thus, if you are wondering, “I need help with essay assignment," we are here to assist you. Our
					scholars offer the best essay help service, as far as editing and plagiarism checking is
					concerned.</p>
				
				<h2 class="h_2 mb-3 text-dark">Simple Steps for Writing An Effective Essay</h2>
				
				<P>Writing an essay is a difficult skill to acquire because it involves both creativity and rational planning, but if you follow these guidelines when writing an essay, you should be fine. <span style="text-transform: uppercase;">Tutor Champs</span>.</P>
				<p>The following are aspects in which our experts on essay help services excel.</p>
				
				<h3 class="h_3 mb-3 text-dark">What Is a Paragraph?</h3>
				<p>When you start writing an essay, make sure the first line of every paragraph should make the point very clearly. After that, you need to expand upon the point and explain why it relevant. This is the basic step for analyzing the complete essay. </p>
				
				<h3 class="h_3 mb-3 text-dark">Structure Of Your Essay</h3>
				<p>The second point must be followed logically one after the other. To make your essay the best, each paragraph should take the reader to the next points. This is called signposting. These signposts give the way to keep your reader on track. </p>

				<h3 class="h_3 mb-3 text-dark">Conclude Your Argument</h3>
				<p>At last, you need to tell the audience what you are going to say, conclude it and tell them what you have stated above. With clear and logical progression, have your line of argument in the end. This will make the user have a clear understanding of the complete essay. </p>
			</div>
		</div>
	</div>
	</div>
</section>

<!-- Career Section -->
<section class="career-section">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title text-center">
			<h2>FAQs</h2>
		</div>

		<div class="row clearfix">

			<!-- Image Column -->
			<div class="image-column col-lg-5 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="image titlt" data-tilt data-tilt-max="4">
						<img src="{% static 'images/resource/career.png' %}" alt="" />
					</div>
				</div>
			</div>

			<!-- Content Column -->
			<div class="content-column col-lg-7 col-md-12 col-sm-12">
				<div class="inner-column">
					<div id="accordion">
						<div class="card questions-con">
							<div class="card-header" id="headingOne">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
										aria-expanded="true" aria-controls="collapseOne">
										How Quickly You Can Write My Essay for Me?
									</button>
								</h5>
							</div>

							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
								data-parent="#accordion">
								<div class="card-body">
									Our academics are elite writers. Our team tries to provide you top-grade essays in
									as little as 24 hours, sometimes less than that! </div>
							</div>
						</div>
						<div class="card questions-con">
							<div class="card-header" id="headingTwo">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" data-toggle="collapse"
										data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										Is Your Essay Writing Service Legal? </button>
								</h5>
							</div>
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
								data-parent="#accordion">
								<div class="card-body">
									Yes, our online essay help is legal and we have a privacy policy. All type of data
									given by you is confidential in any case. </div>
							</div>
						</div>
						<div class="card questions-con">
							<div class="card-header" id="headingThree">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed questions" data-toggle="collapse"
										data-target="#collapseThree" aria-expanded="false"
										aria-controls="collapseThree">
										Can You do My Essay for Any Subject? </button>
								</h5>
							</div>
							<div id="collapseThree" class="collapse" aria-labelledby="headingThree"
								data-parent="#accordion">
								<div class="card-body">
									Yes, just drop down your requirements and we will find an expert for you. </div>
							</div>
						</div>
						<div class="card questions-con">
							<div class="card-header" id="headingFour">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed questions" data-toggle="collapse"
										data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
										Does the Essay Writing Service have Any Features? </button>
								</h5>
							</div>
							<div id="collapseFour" class="collapse" aria-labelledby="headingFour"
								data-parent="#accordion">
								<div class="card-body">
									Yes, when you take service from us you get the following things:
									<ul>
										<li style="list-style: disc;">Plagiarism Report</li>
										<li style="list-style: disc;" >Unlimited revisions</li>
										<li style="list-style: disc;" >Best writer</li>
										<li style="list-style: disc;" >Outline</li>
										<li style="list-style: disc;" >Formatting</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
{% endblock body %}