{% extends "base.html" %}
{% load static %}
{% block body %}
  
 
	
	<section class="career-section pt-5 pb-5 mb-3">
		<div class="auto-container">
			
			<!-- Sec Title -->
			<div class="contentSec privacy sec-title mb-0">
				<h2>FAQs for Students</h2>
			</div>
			
			<div class="row clearfix">
				
				<!-- Content Column -->
				<div class="content-column col-lg-12 col-md-12 col-sm-12">
					<div class="inner-column pt-3">
						<div id="accordion">
							<div class="card questions-con">
							    <div class="card-header" id="headingOne">
							      <h5 class="mb-0">
							        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										Is It Legal To Take Online Homework Help? 
							        </button>
							      </h5>
							    </div>

							    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							      <div class="card-body">
							        Yes, taking assistance in homework is completely legal. The information provided by you while placing the order such as email or phone number is kept confidential from a third party. We recommend you read the homework before you submit it to your university.
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingTwo">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										What Can I Expect From Tutor Champs In Terms Of Services?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							      <div class="card-body">
							        We offer assistance with all types of tasks that are assigned to students. We can help you with any type of academic writing, whether it's a case study, essay, or research report.
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingThree">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										How Can I Be Sure That The Answers I Get Are Correct?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
							      <div class="card-body">
									Tutor Champs exclusively works with qualified online tutors that have extensive topic expertise. Our instructors double-check the solutions before submitting them to verify that they are correct.
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingFour">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
										Would You Be Willing To Rewrite The Paper For Me If I Asked? 
							        </button>
							      </h5>
							    </div>
							    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
							      <div class="card-body">
							        Yes, we give our customers free limitless revisions in the event that the final work we produce does not fit the specifications they specified. 
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingFive">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
										Is It Safe To Use Your Writing Services? 
							        </button>
							      </h5>
							    </div>
							    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
							      <div class="card-body">
							        Are you concerned that the assignment may include copied content? You don't have to while you're here! To perform an in-depth research phase, our authors rely on reliable sources. They create well-thought-out, plagiarism-free material to assure the highest level of quality and pleasure 
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingSix">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
										Why Am I Being Required To Pay For Your Services? 
							        </button>
							      </h5>
							    </div>
							    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
							      <div class="card-body">
							        We expect students to pay for the services they use because we must reward our subject matter experts for their time and work. 
							      </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>

	<section class="career-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="contentSec privacy mb-3">
				<h2>FAQs for Tutor</h2>
			</div>
			
			<div class="row clearfix">
				
				<!-- Content Column -->
				<div class="content-column col-lg-12 col-md-12 col-sm-12">
					<div class="inner-column pt-3">
						<div id="accordion_2">
							<div class="card questions-con">
							    <div class="card-header" id="headingOne_">
							      <h5 class="mb-0">
							        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne_" aria-expanded="true" aria-controls="collapseOne_">
										What Exactly Is A Tutor Rating? 
							        </button>
							      </h5>
							    </div>

							    <div id="collapseOne_" class="collapse show" aria-labelledby="headingOne_" data-parent="#accordion_2">
							      <div class="card-body">
							        We think that the only way to learn and improve is for students to provide frequent feedback. As a result, we encourage students to give their teachers a rating based on the solutions they provide. Fellow students can then use these ratings to choose instructors for their sessions.
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingTwo_">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo_" aria-expanded="false" aria-controls="collapseTwo_">
										Are Your Writers Competent? 
							        </button>
							      </h5>
							    </div>
							    <div id="collapseTwo_" class="collapse" aria-labelledby="headingTwo_" data-parent="#accordion_2">
							      <div class="card-body">
							        Absolutely. You don't have to be concerned about their fitness for the position because they have both experience and academic qualifications. Our authors have all worked as professional essay writers for a long time and have completed several papers similar to the one you want. So you can sit back and relax, knowing that your paper is in good hands.
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingThree_">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseThree_" aria-expanded="false" aria-controls="collapseThree_">
										What Happens If The Answer I'm Given Is Incorrect?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseThree_" class="collapse" aria-labelledby="headingThree_" data-parent="#accordion_2">
							      <div class="card-body">
							        At Tutor Champs, we work hard to guarantee that all solutions are valid and conceptually clear. However, we recognize that human mistake is always a possibility. As a result, in the unusual event that an erroneous response is submitted, we promptly refund the student's cash and assign the question to a different instructor. 
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingFour_">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseFour_" aria-expanded="false" aria-controls="collapseFour_">
										What If My Tutor Rejects Me After I Accept? 
							        </button>
							      </h5>
							    </div>
							    <div id="collapseFour_" class="collapse" aria-labelledby="headingFour_" data-parent="#accordion_2">
							      <div class="card-body">
							        We have a strict policy that only allows tutors to accept projects that they can complete. If a tutor denies your assignment after it has been accepted, we will promptly assign it to another teacher and make sure you get your solutions on time. 
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingFive_">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseFive_" aria-expanded="false" aria-controls="collapseFive_">
										Why Should I Use Your Company? There Are A Lot Of People Like You.
							        </button>
							      </h5>
							    </div>
							    <div id="collapseFive_" class="collapse" aria-labelledby="headingFive_" data-parent="#accordion_2">
							      <div class="card-body">
							        True, there are a lot of other businesses out there, but they're not all the same as us. We work hard to keep our reputation, and unlike other businesses, we insist on producing solely unique material. The best way to find out why you should use us is to give us a try; you'll see how much of a difference we make for you.
							      </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	
	<!-- Main Footer -->

	{% endblock body %}
