{% extends "base.html" %}
{% load static %}
{% block meta %}
<meta charset="utf-8"> 
<title>FAQs for Students @TutorChamps.com - #1 Homework Help Provider</title>
<meta name="description" content="TutorChamps provides answers to a wide variety of student common questions about services, payment methods, privacy. Etcetera. " />
<meta name="robots" content="index, follow">
<meta name="keywords" content="faqs, faqs for students" />
<link rel="canonical" href="https://tutorchamps.com/faqs/" />
<meta property="og:type" content="article" />
<meta property="og:title" content="FAQs for Students @TutorChamps.com - #1 Homework Help Provider" />
<meta property="og:description" content="TutorChamps provides answers to a wide variety of student common questions about services, payment methods, privacy. Etcetera." />
<meta property="og:url" content="https://tutorchamps.com/faqs/" />
<meta property="og:locale" content="en_USA" />
<meta property="og:site_name" content="TutorChamps.com" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="FAQs for Students @TutorChamps.com - #1 Homework Help Provider" />
<meta name="twitter:description" content="TutorChamps provides answers to a wide variety of student common questions about services, payment methods, privacy. Etcetera." />
{% endblock meta %}
{% block body %}
  
 
	
	<section class="career-section pt-5 pb-5 mb-3">
		<div class="auto-container">
			
			<!-- Sec Title -->
			<div class="contentSec privacy sec-title mb-0">
				<h2>FAQs for Students</h2>
			</div>
			
			<div class="row clearfix">
				
				<!-- Content Column -->
				<div class="content-column col-lg-12 col-md-12 col-sm-12">
					<div class="inner-column pt-3">
						<div id="accordion">
							<div class="card questions-con">
							    <div class="card-header" id="headingOne">
							      <h5 class="mb-0">
							        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										Is it legal to take online homework help? 
							        </button>
							      </h5>
							    </div>

							    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							      <div class="card-body">
							        Yes, taking assistance in homework is completely legal. We recommend you read the homework before you submit it to your university.
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingTwo">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										What are the different types of services offered by TutorChamps?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							      <div class="card-body">
							        TutorChamps offers a wide range of services including:
									<ul>
										<li>Online Homework Help</li>
										<li>Essay Writing Services</li>
										<li>Online Assignment Help</li>
										<li>Live Sessions</li>
										<li>Project/Lab Report Help</li>
										<li>Dissertation Writing Services</li>
										<li>Coursework Writing Services</li>
										<li>Case Study Writing Services</li>
									</ul>
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingThree">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										Which subjects do you cater to?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
							      <div class="card-body">
									We cater to many subjects and constantly keep adding to the list. Some of them are listed here:
									<ul>
										<li>Physics</li>
										<li>Chemistry</li>
										<li>Biology</li>
										<li>Mathematics</li>
										<li>Science</li>
										<li>Statistics</li>
										<li>Economics</li>
										<li>English</li>
										<li>Programming</li>
										<li>Engineering</li>
										<li>Computer Science</li>
										<li>Accounting</li>
										<li>Nursing</li>
										<li>Management</li>
										<li>Finance</li>
									</ul>
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingFour">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
										What is the quality of tutors available with you?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
							      <div class="card-body">
							        At TutorChamps, we take special care to ensure that we handpick tutors to work with you. Each tutor is an expert in the field of study and has a proven track record of writing and assisting students. 
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingFive">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
										How can I be assured of the accuracy of the solutions provided by you?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
							      <div class="card-body">
							        We hire experts to help you with your homework and assignments. Once they have double-checked the solution, the paper is forwarded to another in-house team that checks for errors and plagiarism. Once they are convinced that the document is error-free, it is shared with you.
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingSix">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
										Will the writer make edits to the submitted assignment if I am not satisfied with it? 
							        </button>
							      </h5>
							    </div>
							    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
							      <div class="card-body">
							        Yes, we offer unlimited revisions if our writers fail to comply with the instructions and guidelines provided by you. However, if you change the requirements, then the edits will be charged. 
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingSeven">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
										Can I schedule the live tutoring session at any time I want? 
							        </button>
							      </h5>
							    </div>
							    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
							      <div class="card-body">
							        Yes, our tutors are available round the clock. You can chat with the tutor and schedule the tutoring session based on your convenience. 
							      </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>

	<section class="career-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="contentSec privacy mb-3">
				<h2>FAQs for Tutors</h2>
			</div>
			
			<div class="row clearfix">
				
				<!-- Content Column -->
				<div class="content-column col-lg-12 col-md-12 col-sm-12">
					<div class="inner-column pt-3">
						<div id="accordion_2">
							<div class="card questions-con">
							    <div class="card-header" id="headingOne_">
							      <h5 class="mb-0">
							        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne_" aria-expanded="true" aria-controls="collapseOne_">
										What Exactly Is A Tutor Rating? 
							        </button>
							      </h5>
							    </div>

							    <div id="collapseOne_" class="collapse show" aria-labelledby="headingOne_" data-parent="#accordion_2">
							      <div class="card-body">
							        We think that the only way to learn and improve is for students to provide frequent feedback. As a result, we encourage students to give their tutors a rating based on the solutions they provide. Fellow students can then use these ratings to choose instructors for their sessions.
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingTwo_">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo_" aria-expanded="false" aria-controls="collapseTwo_">
										Are Your Writers Competent? 
							        </button>
							      </h5>
							    </div>
							    <div id="collapseTwo_" class="collapse" aria-labelledby="headingTwo_" data-parent="#accordion_2">
							      <div class="card-body">
							        Absolutely. You don't have to be concerned about their fitness for the position because they have both experience and academic qualifications. Our authors have all worked as professional essay writers for a long time and have completed several papers similar to the one you want. So you can sit back and relax, knowing that your paper is in good hands.
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingThree_">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseThree_" aria-expanded="false" aria-controls="collapseThree_">
										What Happens If The Answer I'm Given Is Incorrect?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseThree_" class="collapse" aria-labelledby="headingThree_" data-parent="#accordion_2">
							      <div class="card-body">
							        At TutorChamps, we work hard to guarantee that all solutions are valid and conceptually clear. However, we recognize that human mistake is always a possibility. As a result, in the unusual event that an erroneous response is submitted, we promptly refund the student's cash and assign the question to a different instructor. 
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingFour_">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseFour_" aria-expanded="false" aria-controls="collapseFour_">
										What If My Tutor Rejects Me After I Accept? 
							        </button>
							      </h5>
							    </div>
							    <div id="collapseFour_" class="collapse" aria-labelledby="headingFour_" data-parent="#accordion_2">
							      <div class="card-body">
							        We have a strict policy that only allows tutors to accept projects that they can complete. If a tutor denies your assignment after it has been accepted, we will promptly assign it to another teacher and make sure you get your solutions on time. 
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingFive_">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseFive_" aria-expanded="false" aria-controls="collapseFive_">
										Why Should I Use Your Company? There Are A Lot Of People Like You.
							        </button>
							      </h5>
							    </div>
							    <div id="collapseFive_" class="collapse" aria-labelledby="headingFive_" data-parent="#accordion_2">
							      <div class="card-body">
							        True, there are a lot of other businesses out there, but they're not all the same as us. We work hard to keep our reputation, and unlike other businesses, we insist on producing solely unique material. The best way to find out why you should use us is to give us a try; you'll see how much of a difference we make for you.
							      </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	
	<!-- Main Footer -->

	{% endblock body %}
