<form class="commForm mt-3" method="post" action="/order/" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="text-dark">Guaranteed Higher Grade Or Get Your Money Back!</h2>
            <div class="form_group">
            </div>
            <div class="form_group">
                <div class="twoField">
                    <div class="pos_rel">
                        <label>Your Subject/Course Code</label>
                        <input class="input" required name="subject" type="text"
                            placeholder="Eg. UNCC100 Self &amp; Community">
                    </div>
                    <div class="pos_rel">
                        <label for="birthdaytime">Choose Assignment Deadline</label>
                        <input required class="input date_time" type="datetime-local" id="birthdaytime" name="deadline" placeholder="Deadline" >
                    </div>
                </div>
    
                <div class="pos_rel">
                    <label>Your Message*</label>
                    <textarea name="Details" id="description" class="Detail"
                        placeholder="Write assignment description"></textarea>
                    <div>
                        <label for="files"></label>
                        <input type="file" name="files" id="files" multiple="" value="Add File">
                        <p id="file-name" class="fileName"></p>
                    </div>
                </div>
            </div>
            <div class="text-center psr mt-3">
                <input type="submit" class="formBtn theme-btn btn-style-one" value="Get Solution Now" data-toggle="modal" id="form_button">
    
                <a href="" class="theme-btn btn-style-one"><span class="txt">Get Solution Now</span></a>
    
            </div>
        </form>

        <ul class="rating_inner">
            <li>
               <div class="img_con"> <img src="/static/images/small_logo.jpg"></div>
            <div>
                <p><a href="" target="_blank">TutorChamps</a></p>
                <img src="/static/images/stars.svg">
            </div>
            <span>4.7</span>
        </li>
            <li>
                <div class="img_con">
                    <img style="margin-top: 2px;" src="/static/images/trustpilot.png">
                </div>
                <div>
                    <p><a href="" target="_blank" rel="nofollow">Trustpilot </a></p>
                    <img src="/static/images/stars.svg">
                </div>
                <span>4.8</span>
            </li>
            <li>
                <div class="img_con">
                    <img  style="margin-top: -68px;" src="/static/images/rating-sprite-v2.svg">
                </div>
            <div>
                <p><a href="https://www.sitejabber.com/reviews/edubirdie.com" target="_blank" rel="nofollow">Sitejabber</a></p>
                <img src="/static/images/stars.svg">
            </div>
            <span>4.7</span>
        </li>
    </ul>
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <script>
            $('#files').change(function() {
				var i = $(this).prev('label').clone();
				var file = $('#files')[0].files[0].name;
				$(this).prev('label').text(file);
			  });
        </script>
 
