{% extends "base.html" %}
{% load static %}
{% block body %}
{% block meta %}
<meta charset="utf-8">
<title>Online Homework Help | #1 Assignment Help Website | TutorChamps.com</title>
<meta name="description" content="Get 24/7 online homework help from expert tutors at TutorChamps.com and score A+ grades. 4.5/5 rated by students. We never miss deadlines."/>
<meta name="robots" content="index, follow">
<meta name="keywords" content="online homework help, homework help service, assignment writing help, assignment help service, online assignment help, 24/7 homework help available, #1 assignment help website." />
<link rel="canonical" href="https://tutorchamps.com/"/>
<meta property="og:type" content="article" />
<meta property="og:title" content="Online Homework Help | #1 Assignment Help Website | TutorChamps.com"/>
<meta property="og:description" content="Get 24/7 online homework help from expert tutors at TutorChamps.com and score A+ grades. 4.5/5 rated by students. We never miss deadlines." />
<meta property="og:url" content="https://tutorchamps.com/"/>
<meta property="og:locale" content="en_USA" />
<meta property="og:site_name" content="TutorChamps.com"/>
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Online Homework Help | #1 Assignment Help Website | TutorChamps.com" />
<meta name="twitter:description" content="Get 24/7 online homework help from expert tutors at TutorChamps.com and score A+ grades. 4.5/5 rated by students. We never miss deadlines."/>
{% endblock meta %}
<style>
	.rating_inner{margin: 50px 0 0!important;}
	.banner_con>h1{margin-top: 0!important;}
	.banner_con>h2{padding-bottom: 20px;}
</style>

<section class="banner-section homeBanner" id="home">
	<div class="auto-container">
		<div class="pattern-layer-six" style="background-image: url('/static/images/main-slider/pattern-4.png')"></div>
		<div class="pattern-layer-seven" style="background-image: url('/static/images/main-slider/pattern-5.png')">
		</div>
		<div class="pattern-layer-eight" style="background-image: url('/static/images/main-slider/icon-2.png')"></div>
		<div class="row clearfix">

			<!-- Image Column -->
			<div class="image-column col-lg-6 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="pattern-layer-one"
						style="background-image: url('/static/images/main-slider/pattern-1.png')"></div>
					<div class="pattern-layer-two"
						style="background-image: url('/static/images/main-slider/pattern-2.png')"></div>
					<div class="pattern-layer-three"
						style="background-image: url('/static/images/main-slider/icon-1.png')"></div>
					<div class="pattern-layer-four"
						style="background-image: url('/static/images/main-slider/pattern-3.png')"></div>
					<div class="pattern-layer-five"
						style="background-image: url('/static/images/main-slider/icon-2.png')"></div>
					<div class="image">
						<img src="{% static 'images/main-slider/image-1.png' %}" alt="" />
					</div>
					<div class="image-two pl-3">
						<img src="{% static 'images/main-slider/image-4.png' %}" alt="" />
					</div>
					<div class="image-content"
						style="background-image: url('/static/images/main-slider/pattern-6.png')">
						<p>5400+ Orders <br> Delivered</p>
					</div>
				</div>
			</div>

			<!-- Content Column -->
			<div class="content-column homepageform col-lg-6 col-md-12 col-sm-12">
				<div class="inner-column banner_con">
					<h1>#1 Online Homework Help Service</h1>
					<h2>Enhance Your Academic Performance With Online Homework Help From Experts!</h2>
					{% include "forms.html" %}
				</div>
			</div>

		</div>
	</div>
</section>


<section class="benefit-section">
	<div class="auto-container">
		<div>
			<div class="col-12 sec-title">
				<h2 class="text-center mb-4">Who Are We?</h2> 
				<p>TutorChamps is a revolutionary online learning platform dedicated to making your academic journey smooth and effective. We offer two categories of services:</p>
				<ol class="" style="padding-left: 15px;">
					<li style="list-style: auto;"><b>Online Homework Help</b></li>
					<li style="list-style: auto;"><b>On-demand Question Solving</b></li>
				</ol>
				<p>We cover around 250+ subjects and have a team of 2000+ subject matter experts to help you. With TutorChamps, every student can be assured of an academic mentor by their side. We believe in creating an ecosystem that makes learning easy and helps you improve your grades.</p>
			</div>
			
		</div>

	</div>
</section>

<section class="courses-section">
	<div class="pattern-layer" style="background-image:url('/static/images/background/pattern-2.png')"></div>
	<div class="circle-one paroller" data-paroller-factor="-0.20" data-paroller-factor-lg="0.20"
		data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
	<div class="circle-two paroller" data-paroller-factor="0.20" data-paroller-factor-lg="-0.20"
		data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
	<div class="auto-container">
		<div class="sec-title centered">
			<h2 class="mb-4">Our Services</h2>
			<p>At TutorChamps, we have designed a range of services to help you with most of your academic queries. With academic courses getting tougher and students having to juggle between exams, homework, and assignments, these services can help you manage your studies with ease.</p>
		</div>
		<div class="row clearfix">
			<div class="course-block col-lg-4 col-md-6 col-sm-12">
				<a class="a_" href="/online-homework-help/">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'images/hwhelp.jpg' %}" alt="" />
							<h3>
								<span><img src="/static/images/reader.png" alt="Online Homework Help" />
								Online Homework Help</span> 
							</h3>
						</div>
						<div class="lower-content">
							<p>Homework can be overwhelming for most students. TutorChamps offers high-quality 24/7 Homework Help with a quick turnaround. Read more...</p>
						</div>
					</div>
				</a>
			</div>

			<!-- Course Column -->
			<div class="course-block col-lg-4 col-md-6 col-sm-12">
				<a class="a_" href="/online-assignment-help/">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'images/resource/course-3.jpg' %}" alt="" />
							<h3><span><img src="/static/images/assignmentIco.png" alt="Online Homework Help" />Online Assignment Help</span> </h3>
						</div>
						<div class="lower-content">
							<p>Assignments are the cornerstone of modern education. With TutorChamps, get academic experts to help you with your assignments 24x7. Read more...
								</p>
						</div>
					</div>
				</a>
			</div>

			<!-- Course Column -->
			<div class="course-block col-lg-4 col-md-6 col-sm-12">
				<a class="a_" href="/essay-writing-services/">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'images/resource/course-2.jpg' %}" alt="" />
							<h3><span><img src="/static/images/essay.png" alt="Online Homework Help" />Essay Writing Services </span> </h3>
						</div>
						<div class="lower-content">
							<p>Writing a high-quality essay within timelines can be tough. Avail of our essay writing services to create an effective essay on any topic. Read more...</p>
						</div>
					</div>
				</a>
			</div>

		</div>
		<div class="row clearfix">
			<div class="course-block col-lg-4 col-md-6 col-sm-12">
				<a class="a_" href="/live-sessions/">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'images/live.jpg' %}" alt="" />
							<h3><span><img src="/static/images/stopwatch.png" alt="Online Homework Help" />Live Sessions</span> </h3>
						</div>
						<div class="lower-content">
							<p>Nothing beats a one-tone coaching session for achieving academic excellence. TutorChamps offers live tutoring for all grades. Read more...
								</p>
						</div>
					</div>
				</a>
			</div>

			<!-- Course Column -->
			<div class="course-block col-lg-4 col-md-6 col-sm-12">
				<a class="a_" href="/project-lab-report-help/">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'images/projectrp.jpg' %}" alt="" />
							<h3><span><img src="/static/images/projectReport.png" alt="Online Homework Help" />Project/Lab Report Help</span> </h3>
						</div>
						<div class="lower-content">
							<p>If you are looking for assistance in writing a project report or a lab report analyzing a lab experiment, then our experts have got you covered. Read more...</p>
						</div>
					</div>
				</a>
			</div>

			<!-- Course Column -->
			<div class="course-block col-lg-4 col-md-6 col-sm-12">
				<a class="a_" href="/dissertation-writing-services/">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'images/dissertation-writing.jpg' %}" alt="" />
							<h3><span><img src="/static/images/DWriting.png" alt="Online Homework Help" />Dissertation Writing Services</span> </h3>
						</div>
						<div class="lower-content">
							<p>Creating a thesis or dissertation based on original research can be time-consuming. Our dissertation writing services help you craft your dissertation. Read more...
								</p>
						</div>
					</div>
				</a>
			</div>

			<!-- Course Column -->
			<div class="course-block col-lg-4 col-md-6 col-sm-12">
				<a class="a_" href="/coursework-writing-services/">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'images/coursework_img.jpg' %}" alt="" />
							<h3><span><img style="filter: none;" src="/static/images/course_icon.png" alt="Online Homework Help" />Coursework Writing Services</span> </h3>
						</div>
						<div class="lower-content">
							<p>As a part of your academic course, you might be expected to submit coursework after attending hours of lectures. We offer different types of coursework writing services. Read more...
								</p>
						</div>
					</div>
				</a>
			</div>

			<!-- Course Column -->
			<div class="course-block col-lg-4 col-md-6 col-sm-12">
				<a class="a_" href="/case-study-writing-services/">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'images/case-study.jpg' %}" alt="" />
							<h3><span><img src="/static/images/case-study_icon.png" alt="Online Homework Help" />Case Study Writing Services</span> </h3>
						</div>
						<div class="lower-content">
							<p>Case studies help you display a comprehensive understanding of the subject. TutorChamps has experts to help you create engaging and insightful case studies. Read more...
								</p>
						</div>
					</div>
				</a>
			</div>

		</div>

	</div>
</section>

<section id="counter-stats" class="wow fadeInRight">
	<div class="pattern-layer-seven" style="background-image: url('/static/images/main-slider/pattern-5.png')"></div>
	<div class="background-layer-one" style="background-image:url('/static/images/background/pattern-5.png')">
	</div>
	<div class="icon-layer-one" style="background-image:url('/static/images/icons/icon-1.png')"></div>
	<div class="container keyMetrics">
		<h2 class="text-center text-dark font-weight-bold ">Why TutorChamps?</h2>
		<p class="pb-5 mb-3 text-center">We are a one-stop destination for all your online tutoring and homework help needs.
		</p>
		<div class="row">
			<div class="col-md-4">
				<div class="stats shadow-sm">
					<div>
						<img src="{% static 'images/graduation.png' %}"><br>
						<div class="count">3000+</div>
						<h5>Expert Tutors</h5>
						<small>are ready to help you around the clock with professional guidance and feedback!</small>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="stats shadow-sm">
					<div>
						<img src="/static/images/subject_ico.png"> <br>
						<div class="count">270+</div>
						<h5>Subjects</h5>
						<small>expert tutors are available at TutorChamps, are subject specialists that offer help with any topic of Math, English, Science, etc.</small>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="stats shadow-sm">
					<div>
						<img src="/static/images/24-hours_ico.png"><br>
						<div class="count">24/7</div>
						<h5>Student Support</h5>
						<small>is available at TutorChamps. If you face any technical glitch while accessing our portal, we have a support team to help you troubleshoot it within no time.</small>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="stats shadow-sm">
					<div>
						<img src="/static/images/pricing_ico.png"><br>
						<div class="count">Competitive</div>
						<h5>Pricing</h5>
						<small>because we understand the importance of costs for students and have designed services at reasonable prices.</small>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="stats shadow-sm">
					<div>
						<img src="/static/images/time_ico_2.png"><br>
						<div class="count">Timely</div>
						<h5>Delivery</h5>
						<small>because we understand the importance of time in delivering homework, projects, and assignment. Our online homework help team works round-the-clock to ensure quick solutions.</small>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="stats shadow-sm">
					<div>
						<img src="/static/images/high_quality_ico.png"><br>
						<div class="count">High-Quality</div>
						<h5>Assurance</h5>
						<small>because we ensure that all content written by our ‘champs’ is free from errors and plagiarism. We check and double-check the content before submitting it to you.</small>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center mb-4 pt-3">
			<a href="#home" class="theme-btn btn-style-one"><span class="txt">Get Solution Now</span></a>
		</div>
	</div>
	<!-- end container -->
</section>

<section class="skill-section">
	<div class="pattern-layer" style="background-image:url('/static/images/background/pattern-8.png')"></div>
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Skill Column -->
			<div class="skill-column col-lg-7 col-md-12 col-sm-12">
				<div class="inner-column">
					<!-- Sec Title -->
					<div class="sec-title pt-3">
						<!-- <div class="title">Our Status valu</div> -->
						<h2>Some Stats</h2>
						<div class="text">Our dedication, rigorous preparation, hard work, a team of highly qualified experts makes us different from others. Below given are some real-time stats that make us the best in the industry!</div>
					</div>
					<div class="skills">

						<!-- Skill Item -->
						<div class="skill-item">
							<div class="skill-header clearfix">
								<div class="skill-title">97% Score High Grades</div>
								<div class="skill-percentage">
									<div class="count-box">
										<span class="count-text" data-speed="2000" data-stop="97">0</span>%
									</div>
								</div>
							</div>
							<div class="skill-bar">
								<div class="bar-inner">
									<div class="bar progress-line" data-width="97"></div>
								</div>
							</div>
						</div>

						<!-- Skill Item -->
						<div class="skill-item">
							<div class="skill-header clearfix">
								<div class="skill-title">98% Clients Refer Us To Their Friends</div>
								<div class="skill-percentage">
									<div class="count-box"><span class="count-text" data-speed="2000"
											data-stop="98">0</span>%</div>
								</div>
							</div>
							<div class="skill-bar">
								<div class="bar-inner">
									<div class="bar progress-line" data-width="98"></div>
								</div>
							</div>
						</div>

						<!-- Skill Item -->
						<div class="skill-item">
							<div class="skill-header clearfix">
								<div class="skill-title">100% Money back policy*</div>
								<div class="skill-percentage">
									<div class="count-box"><span class="count-text" data-speed="2000"
											data-stop="100">0</span>%</div>
								</div>
							</div>
							<div class="skill-bar">
								<div class="bar-inner">
									<div class="bar progress-line" data-width="100"></div>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>

			<!-- Image Column -->
			<div class="image-column col-lg-5 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="circle-one"></div>
					<div class="circle-two"></div>
					<div class="image titlt" data-tilt data-tilt-max="4">
						<img src="{% static 'images/resource/skill.png' %}" alt="" />
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<section class="instructor-section mt100">
		<div class="background-layer SAfter" style="background-image:url('/static/images/background/1.png')"></div>
		<div class="background-layer-one" style="background-image:url('/static/images/background/pattern-1.png')"></div>
		<div class="background-layer-two" style="background-image:url('/static/images/background/pattern-2.png')"></div>
		<div class="auto-container">
			<div class="row clearfix">
				<div class="col-12 sec-title text-center"><h2>How It Works?</h2> </div>
				<div class="service-block col-lg-3 col-md-3 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="border-layer"></div>
						<div class="icon-box">
							<div class="icon flaticon-verify"></div>
						</div>
						<h3 class="h3_hover">Submit Your Requirement</h3>
						<div class="text">Tell us what assistance you need. Whether it is homework help, online tutoring, assignment or essay writing service, or any other assistance. Provide a detailed explanation of what you are looking for. </div>
					</div>
				</div>
				<div class="service-block col-lg-3 col-md-3 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
						<div class="border-layer"></div>
						<div class="icon-box">
							<div class="icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
						</div>
						<h3 class="h3_hover">Set Deadline</h3>
						<div class="text">Our tutors need to know the date when you need the homework, assignment, or project. Please ensure that you keep a buffer to make any last-minute changes if needed.</div>
					</div>
				</div>
				<div class="service-block col-lg-3 col-md-3 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="border-layer"></div>
						<div class="icon-box">
							<div class="icon"><i class="fa fa-credit-card" aria-hidden="true"></i></div>
						</div>
						<h3 class="h3_hover">Make Payment</h3>
						<div class="text">We ensure that our services are affordable and cost-efficient. Get a quote from our experts and choose from a range of options to make the payment for the desired service.</div>
					</div>
				</div>
				<div class="service-block col-lg-3 col-md-3 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
						<div class="border-layer"></div>
						<div class="icon-box">
							<div class="icon "><i class="fa fa-lightbulb-o" aria-hidden="true"></i> </div>
						</div>
						<h3 class="h3_hover">Receive Solution</h3>
						<div class="text">As soon as the payment is received, our team gets to work and ensures that you receive your homework or project in your inbox on or before the deadline.</div>
					</div>
				</div>
			</div>
		</div>
</section>

<section class="testimonial-section">
	<div class="circle-one paroller" data-paroller-factor="-0.20" data-paroller-factor-lg="0.20"
		data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
	<div class="circle-two paroller" data-paroller-factor="0.20" data-paroller-factor-lg="-0.20"
		data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
	<div class="pattern-layer-two" style="background-image:url('static/images/background/pattern-10.png')"></div>
	<div class="auto-container">
		<div class="inner-container">
			<div class="pattern-layer" style="background-image:url('/static/images/background/pattern-9.png')"></div>
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">Testimonial</div>
				<h2>Words From Customers</h2>
				<div class="text">Our students love us. Here is what some of them have to say.</div>
			</div>
			<div class="testimonial-carousel owl-carousel owl-theme">
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">Honestly Speaking! I love these guys! They offer homework help services at an affordable price range as compared to other ones. I am delighted with their service and solutions. Surely recommend this learning platform to my friends as well!</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="{% static 'images/customer.png' %}" alt="" />
								</div>
								<h6>Beca Jones</h6>
								<div class="designation">student</div>
							</div>
						</div>
						<div class="quote-icon flaticon-quote-2"></div>
					</div>
				</div>
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">The tutors available here are exceptionally talented. They helped with my school homework. I schedule the live session at night. Despite the time, they offer me the best solution along with some valuable tips.</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="{% static 'images/customer.png' %}" alt="" />
								</div>
								<h6>Chris W. Phillip</h6>
								<div class="designation">student</div>
							</div>
						</div>
						<div class="quote-icon flaticon-quote-2"></div>
					</div>
				</div>
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">Excellent and hassle-free service! I get my assignment before the deadline. I get good marks on that assignment. I will visit again! Thanks for the help!</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="{% static 'images/customer.png' %}" alt="" />
								</div>
								<h6>Kindle Brown</h6>
								<div class="designation">student</div>
							</div>
						</div>
						<div class="quote-icon flaticon-quote-2"></div>
					</div>
				</div>
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">The personalized one-to-one session is impressive. The tutor helped with my queries and offered a step-by-step solution so that I can understand it easily. I would highly recommend TutorChamps to my friends also. Not only their services are excellent, but their pricing is also nominal!</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="{% static 'images/customer.png' %}" alt="" />
								</div>
								<h6>Sophia William</h6>
								<div class="designation">student</div>
							</div>
						</div>
						<div class="quote-icon flaticon-quote-2"></div>
					</div>
				</div>
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">One of my friends recommended this online learning platform. I raised a query late at night, and I was surprised when I got an immediate reply. TutorChamps not only help with my college assignment but also assist in improving my grades.</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="{% static 'images/customer.png' %}" alt="" />
								</div>
								<h6>Neeraj Arora</h6>
								<div class="designation">student</div>
							</div>
						</div>
						<div class="quote-icon flaticon-quote-2"></div>
					</div>
				</div>
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">With so many online homework and assignment service providers available, it becomes challenging to select the best one, but then I learned about TutorChamps. I take help for my assignment and get it delivered even before time. The content was good and properly formatted. Thank you for your service!</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="{% static 'images/customer.png' %}" alt="" />
								</div>
								<h6>Joe Matthew</h6>
								<div class="designation">student</div>
							</div>
						</div>
						<div class="quote-icon flaticon-quote-2"></div>
					</div>
				</div>
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">Honestly Speaking! I love these guys! They offer homework help services at an affordable price range as compared to other ones. I am delighted with their service and solutions. Surely recommend this learning platform to my friends as well!</div>
						<div class="text">They did so well! They offer homework help services at an affordable price range as compared to other ones. I am delighted with their service and solutions. Surely recommend this learning platform to my friends as well!</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="{% static 'images/customer.png' %}" alt="" />
								</div>
								<h6>Beca Jones</h6>
								<div class="designation">student</div>
							</div>
						</div>
						<div class="quote-icon flaticon-quote-2"></div>
					</div>
				</div>
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">The tutors available here are exceptionally talented. They helped with my school homework. I schedule the live session at night. Despite the time, they offer me the best solution along with some valuable tips.</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="{% static 'images/customer.png' %}" alt="" />
								</div>
								<h6>Chris W. Phillip</h6>
								<div class="designation">student</div>
							</div>
						</div>
						<div class="quote-icon flaticon-quote-2"></div>
					</div>
				</div>
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">Excellent and hassle-free service! I get my assignment before the deadline. I get good marks on that assignment. I will visit again! Thanks for the help!</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="{% static 'images/customer.png' %}" alt="" />
								</div>
								<h6>Kindle Brown</h6>
								<div class="designation">student</div>
							</div>
						</div>
						<div class="quote-icon flaticon-quote-2"></div>
					</div>
				</div>
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">The personalized one-to-one session is impressive. The tutor helped with my queries and offered a step-by-step solution so that I can understand it easily. I would highly recommend TutorChamps to my friends also. Not only their services are excellent, but their pricing is also nominal!</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="{% static 'images/customer.png' %}" alt="" />
								</div>
								<h6>Sophia William</h6>
								<div class="designation">student</div>
							</div>
						</div>
						<div class="quote-icon flaticon-quote-2"></div>
					</div>
				</div>
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">One of my friends recommended this online learning platform. I raised a query late at night, and I was surprised when I got an immediate reply. TutorChamps not only help with my college assignment but also assist in improving my grades.</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="{% static 'images/customer.png' %}" alt="" />
								</div>
								<h6>Neeraj Arora</h6>
								<div class="designation">student</div>
							</div>
						</div>
						<div class="quote-icon flaticon-quote-2"></div>
					</div>
				</div>
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">With so many online homework and assignment service providers available, it becomes challenging to select the best one, but then I learned about TutorChamps. I take help for my assignment and get it delivered even before time. The content was good and properly formatted. Thank you for your service!</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="{% static 'images/customer.png' %}" alt="" />
								</div>
								<h6>Joe Matthew</h6>
								<div class="designation">student</div>
							</div>
						</div>
						<div class="quote-icon flaticon-quote-2"></div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="career-section">
	<div class="auto-container">
		<div class="sec-title text-center">
			<h2>FAQs</h2>
			<p class="pt-4">Here are some frequently asked questions about TutorChamps. If you don’t see your question here, then please feel free to contact us.</p>
		</div>
		<div class="row faqs_row clearfix">
			<div class="image-column col-lg-5 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="image titlt" data-tilt data-tilt-max="4">
						<img src="{% static 'images/resource/career.png' %}" alt="" />
					</div>
				</div>
			</div>

			<div class="content-column col-lg-7 col-md-12 col-sm-12">
				<div class="inner-column pt-0">
					<div id="accordion">
						<div class="card questions-con">
							<div class="card-header" id="headingOne">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
										aria-expanded="true" aria-controls="collapseOne">
										Why is TutorChamps the Best Homework Help Website?
									</button>
								</h5>
							</div>
							

							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
								data-parent="#accordion">
								<div class="card-body">
									There are many factors that make TutorChamps stand among the best Homework Help websites. Primarily, our focus is on the overall knowledge enhancement of students and not merely offering tutoring and a homework or assignment help service. Our team is our strength. We handpick tutors to ensure a great experience across the board. Further, we ensure that our services are priced as reasonably as possible. Students can also benefit from a range of features like one-on-one sessions, 24/7 tutor availability, lifetime access to recordings, etc. As a homework and assignment help website, TutorChamps is a preferred name among students.
								</div>
							</div>
						</div>
						<div class="card questions-con">
							<div class="card-header" id="headingTwo">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" data-toggle="collapse"
										data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										What are the Benefits of Taking Online Homework Help from TutorChamps?
									</button>
								</h5>
							</div>
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
								data-parent="#accordion">
								<div class="card-body">
									Every student faces challenges while studying. However, these challenges become roadblocks when there is nobody to offer assistance. TutorChamps understands that academic education has gone through a huge change over years. Today, students need as much guidance and assistance as they can get. We offer online tutoring services and homework help to make sure that students submit their projects, assignments, and homework on time and learn in the process.
								</div>
							</div>
						</div>
						<div class="card questions-con">
							<div class="card-header" id="headingThree">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed questions" data-toggle="collapse"
										data-target="#collapseThree" aria-expanded="false"
										aria-controls="collapseThree">
										How can I Register Myself on TutorChamps?
										
									</button>
								</h5>
							</div>
							<div id="collapseThree" class="collapse" aria-labelledby="headingThree"
								data-parent="#accordion">
								<div class="card-body">
									Registering on TutorChamps is easy:
									<ul>
										<li>First, visit the official website of TutorChamps - <a href="/">tutorchamps.com</a>. Next, submit your requirement in the given order form. Create a profile and receive your login information via email. Log in to the dashboard and get started.</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card questions-con">
							<div class="card-header" id="headingFour">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed questions" data-toggle="collapse"
										data-target="#collapseFour" aria-expanded="false"
										aria-controls="collapseFour">
										Are the Tutors Available on TutorChamps Highly Qualified?
									</button>
								</h5>
							</div>
							<div id="collapseFour" class="collapse" aria-labelledby="headingFour"
								data-parent="#accordion">
								<div class="card-body">
									Yes, all the tutors who are working with TutorChamps are highly qualified, experienced, and talented. They possess experience in both classroom teaching and online sessions. Moreover, most of them hold Masters or Ph.D. degrees in different subject matters, including English, Science, Arts & Commerce, etc.
								</div>
							</div>
						</div>
						<div class="card questions-con">
							<div class="card-header" id="headingFive">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed questions" data-toggle="collapse"
										data-target="#collapseFive" aria-expanded="false"
										aria-controls="collapseFive">
										Is it safe to Use TutorChamps? Is My Personal Information Protected?
									</button>
								</h5>
							</div>
							<div id="collapseFive" class="collapse" aria-labelledby="headingFive"
								data-parent="#accordion">
								<div class="card-body">
									Yes, your identity and personal information are kept confidential. We respect your privacy; that’s why we didn’t share any information with anyone. We only ask for personal details for verification purposes.
								</div>
							</div>
						</div>
						<div class="card questions-con">
							<div class="card-header" id="headingsix">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed questions" data-toggle="collapse"
										data-target="#collapseSix" aria-expanded="false"
										aria-controls="collapseSix">
										What are the Technical Requirements of Using TutorChamps?
									</button>
								</h5>
							</div>
							<div id="collapseSix" class="collapse" aria-labelledby="headingsix"
								data-parent="#accordion">
								<div class="card-body">
									To attend an online session, you need to have a computer or laptop with an internet connection, webcam, and headphones.
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>

<section class="news-section pt-4 mb-5 pb-5">
	<div class="pattern-layer" style="background-image:url('/static/images/background/pattern-11.png')"></div>
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<div class="ctaSec mb-5">
				<div class="img_dot" style="background-image:url('/static/images/icons/icon-2.png')"></div>
	            <span class="pl-5">Browse across 1 Million Assignment Samples for Free</span>
	            <span class="pl-5">Over 2000+ Experts Ready to Assist You 24/7</span>
	            <a href="#home" class="theme-btn btn-style-one border_r"><span class="txt">Get Solution Now</span></a>
	        </div>
			<div class="title">Our Blogs</div>
			<h2 class="mt-0">Latest Blogs And Articles</h2>
			<div class="text">Interested in knowing about the latest trends in online education or online homework solutions? Want to learn some handy tips and tricks to improve your writing skills or be better prepared for the exam? Check our Blogs section.</div>
		</div>
		<div class="inner-container">
			<div class="icon-layer-one" style="background-image:url('/static/images/icons/icon-1.png')"></div>
			<div class="icon-layer-two" style="background-image:url('/static/images/icons/icon-2.png')"></div>
			<div class="icon-layer-three" style="background-image:url('/static/images/icons/icon-2.png')"></div>
			<div class="row clearfix">

				<!-- News Block -->
				<div class="news-block col-lg-6 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="{% url 'blog-6' %}"><img src="{% static 'images/top-50-research-paper-topics-in-2021-home.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="border-layer"></div>
							<ul class="post-info">
								<li>Essay Writing</li>
								<li>Updated August 02, 2018</li>
							</ul>
							<h4><a href="{% url 'blog-6' %}">Top 50 Research Paper Topics In 2021</a></h4>
							<a href="{% url 'blog-6' %}" class="more">More <span class="fa fa-angle-double-right"></span></a>
						</div>
					</div>
				</div>

				<!-- News Block -->
				<div class="news-block col-lg-6 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="{% url 'blog-2' %}"><img src="{% static 'images/resource/news-7.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="border-layer"></div>
							<ul class="post-info">
								<li>Education</li>
								<li>Updated August 03, 2017</li>
							</ul>
							<h4><a href="{% url 'blog-2' %}">How To Do Homework Fast? Know Everything Here!</a></h4>
							<a href="{% url 'blog-2' %}" class="more">More <span class="fa fa-angle-double-right"></span></a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<!-- Main Footer -->
{% endblock body %}