{% extends "base.html" %}
{% load static %}
{% block body %}
<section class="banner-section homeBanner">
	<div class="auto-container">
		<div class="pattern-layer-six" style="background-image: url('/static/images/main-slider/pattern-4.png')"></div>
		<div class="pattern-layer-seven" style="background-image: url('/static/images/main-slider/pattern-5.png')">
		</div>
		<div class="pattern-layer-eight" style="background-image: url('/static/images/main-slider/icon-2.png')"></div>
		<div class="row clearfix">

			<!-- Image Column -->
			<div class="image-column col-lg-6 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="pattern-layer-one"
						style="background-image: url('/static/images/main-slider/pattern-1.png')"></div>
					<div class="pattern-layer-two"
						style="background-image: url('/static/images/main-slider/pattern-2.png')"></div>
					<div class="pattern-layer-three"
						style="background-image: url('/static/images/main-slider/icon-1.png')"></div>
					<div class="pattern-layer-four"
						style="background-image: url('/static/images/main-slider/pattern-3.png')"></div>
					<div class="pattern-layer-five"
						style="background-image: url('/static/images/main-slider/icon-2.png')"></div>
					<div class="image">
						<img src="{% static 'images/main-slider/image-1.png' %}" alt="" />
					</div>
					<div class="image-two pl-3">
						<img src="{% static 'images/main-slider/image-4.png' %}" alt="" />
					</div>
					<div class="image-content"
						style="background-image: url('/static/images/main-slider/pattern-6.png')">
						<p>5400+ Order <br> Delivered</p>
					</div>
				</div>
			</div>

			<!-- Content Column -->
			<div class="content-column homepageform col-lg-6 col-md-12 col-sm-12">
				<div class="inner-column banner_con">
					<h1>No.1 Online Homework Help Service</h1>
					<h2>Enhance Your Academic Performance With Online Homework Help From Experts!</h2>
					{% include "forms.html" %}
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Banner Section -->

<!-- Instructor Section -->
<section class="instructor-section">
		<div class="background-layer SAfter" style="background-image:url('/static/images/background/1.png')"></div>
		<div class="background-layer-one" style="background-image:url('/static/images/background/pattern-1.png')"></div>
		<div class="background-layer-two" style="background-image:url('/static/images/background/pattern-2.png')"></div>
		<div class="auto-container">
			<div class="row clearfix">
				<div class="col-12 sec-title text-center"><h2>How It Works?</h2> </div>
				<div class="service-block col-lg-3 col-md-3 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="border-layer"></div>
						<div class="icon-box">
							<div class="icon flaticon-verify"></div>
						</div>
						<h3><a href="">Submit Your Requirements</a></h3>
						<div class="text">Please type/upload your homework questions to get a perfect homework solution instantly from experts.</div>
					</div>
				</div>
				<div class="service-block col-lg-3 col-md-3 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
						<div class="border-layer"></div>
						<div class="icon-box">
							<div class="icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
						</div>
						<h3><a href="">Set Deadline</a></h3>
						<div class="text">Please set a specific date based on your urgency at which you need your complete homework solution.</div>
					</div>
				</div>
				<div class="service-block col-lg-3 col-md-3 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="border-layer"></div>
						<div class="icon-box">
							<div class="icon"><i class="fa fa-credit-card" aria-hidden="true"></i></div>
						</div>
						<h3><a href="">Payment For Homework</a></h3>
						<div class="text">Get the best quote for your homework from our experts. You can use any payment method to secure the process of payment.</div>
					</div>
				</div>
				<div class="service-block col-lg-3 col-md-3 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
						<div class="border-layer"></div>
						<div class="icon-box">
							<div class="icon "><i class="fa fa-lightbulb-o" aria-hidden="true"></i> </div>
						</div>
						<h3><a href="">Receive Completed Solution</a></h3>
						<div class="text">Well, now you are all set to get a unique and quality homework solution delivered to your inbox before your deadlines.</div>
					</div>
				</div>
			</div>
		</div>
</section>
<!-- End Instructor Section -->

<!-- Benefit Section -->
<section class="benefit-section">
	<div class="background-layer-one" style="background-image:url('/static/images/background/pattern-5.png')"></div>
	<div class="background-layer-two" style="background-image:url('/static/images/background/pattern-6.png')"></div>
	<div class="auto-container">
		<div class="row clearfix">
			<div class="images-column col-lg-7 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="pattern-layer" style="background-image:url('/static/images/background/pattern-3.png')">
					</div>
					<div class="pattern-layer-two"
						style="background-image:url('/static/images/background/pattern-4.png')"></div>
					<div class="color-layer"></div>
					<div class="image">
						<img src="{% static 'images/resource/benefit-1.jpg' %}" alt="" />
					</div>
					<div class="image-two">
						<img src="{% static 'images/resource/benefit-3.jpg' %}" alt="" />
					</div>
					<div class="image-three">
						<img src="{% static 'images/resource/benefit-2.jpg' %}" alt="" />
					</div>
				</div>
			</div>
			<div class="content-column col-lg-5 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="sec-title">
						<div class="title">Features</div>
						<h2>Features That Makes Tutor Champs Unique From Others</h2>
					</div>
					<ul class="list-style-one">
						<li><span class="icon flaticon-double-check"></span><strong>3000+ Expert Tutors</strong>We house a team of 2000+ expert tutors who are ready to offer online assignment help and college homework help round the clock, no matter what time it is!</li>
						<li><span class="icon flaticon-double-check"></span><strong>Cost Effective Pricing</strong>We
							assure to provide 100% high-quality assignment help and homework writing service at an
							affordable price range. We focus on improving your grades, not on charging more from you.
						</li>
						<li><span class="icon flaticon-double-check"></span><strong>One Destination for All Subject
								Solutions</strong>Being the leading online tutoring platform, we offer help to students with a wide array of subjects, including Statistics, Math, Physics, Economics, etc.
						</li>
					</ul>
					<div class="btn-box pt-4">
						<a href="/features/" class="theme-btn btn-style-one"><span class="txt">View more</span></a>
					</div>
				</div>
			</div>
		</div>
		<div>
			<p>Tutor Champs is a revolutionary online learning platform that offers online tutoring services and
				homework help. Our motive is to help students improve their grades by providing the highest quality
				on-demand tutoring and online sessions that qualified and expert tutors handle.</p>
			<p>We house a team of 2000+ subject matter experts who offer students assistance in more than 250+ subjects,
				including Programming, Statistics, Accounting, Physics, Economics, Engineering, English, Chemistry, and
				many others. Our digital platform helps students with their learning needs and provides tutors a medium
				to share their knowledge with others.</p>
		</div>

	</div>
</section>
<!-- End Benefit Section -->

<!-- Feature Section -->
<section class="feature-section">
	<div class="pattern-layer" style="background-image:url('/static/images/background/pattern-7.png')"></div>
	<div class="auto-container">
		<div class="row clearfix">
			<div class="content-column col-lg-7 col-md-12 col-sm-12">
				<div class="inner-column pt-1">
					<div class="sec-title">
						<h2 class="pb-5">Why Should You Take Online Homework Help From Tutor Champs?</h2>
						<ul class="list-style-one mt-5">
							<li><span class="icon flaticon-double-check"></span>Our team of expert tutors works 24/7 so
								that you can connect with an online tutor in just a matter of seconds irrespective of
								you want help with a whole chapter or a single question.</li>
							<li><span class="icon flaticon-double-check"></span>Our experienced tutors provide online
								tutoring services using whiteboard technology so that students can easily understand and
								learn.</li>
							<li><span class="icon flaticon-double-check"></span>We assure timely delivery of solutions.
								Our expert tutors work day and night to offer fast and quick solutions to your problems
								free from errors and plagiarism.</li>
							<li><span class="icon flaticon-double-check"></span>We offer round-the-clock customer
								support to offer assistance with technical or other related issues. Moreover, we offer
								homework help at competitive pricing.
							</li>
						</ul>
					</div>
					<!-- <div class="btn-box">
							<a href="" class="theme-btn btn-style-two"><span class="txt">Short courses</span></a>
						</div> -->
				</div>
			</div>

			<!-- Image Column -->
			<div class="image-column col-lg-5 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="color-layer"></div>
					<div class="image wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<img src="{% static 'images/resource/feature.jpg' %}" alt="" />
						<div class="overlay-box">
							<div class="content">
								<h3>How Does Online Tutoring Work For Students?</h3>
								<p>E-learning is gaining widespread popularity around the world because of the unlimited benefits it offers. It plays a vital role in fulfilling homework and other learning requirements.<br> Furthermore, online tutoring/teaching is considered the best and effective way to learn, as it helps in absorbing things faster. Get in touch with extraordinary expert tutors available at Tutor Champs!</p>
								<a href="/" class="learn">Get Solution Now!</a>
							</div>
						</div>
					</div>
					<div class="feature-icon wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<img src="{% static 'images/resource/feature-icon.png' %}" alt="" />
					</div>
				</div>
			</div>

		</div>

	</div>
</section>
<!-- End Benefit Section -->

<!-- Courses Section -->
<section class="courses-section">
	<div class="pattern-layer" style="background-image:url('/static/images/background/pattern-2.png')"></div>
	<div class="circle-one paroller" data-paroller-factor="-0.20" data-paroller-factor-lg="0.20"
		data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
	<div class="circle-two paroller" data-paroller-factor="0.20" data-paroller-factor-lg="-0.20"
		data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
	<div class="auto-container">
		<div class="sec-title centered">
			<h2>Unlocking A New World Of Possibilities and Uplifting Results With Our Beneficial & Fruitful Services
			</h2>
			<div class="text">Our featured services are going to help you to solve your all academic queries.</div>
		</div>
		<div class="row clearfix">
			<div class="course-block col-lg-4 col-md-6 col-sm-12">
				<a class="a_" href="/online-homework-help/">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'images/hwhelp.jpg' %}" alt="" />
							<h2>
								<span><img src="/static/images/reader.png" alt="Online Homework Help" />
								Online Homework Help</span> 
							</h2>
						</div>
						<div class="lower-content">
							<p>Are you looking for someone who can help you with your homework? If yes, then reach out to
								Tutor Champs. We have a team of 2000+ experts who can help with your homework.</p>
						</div>
					</div>
				</a>
			</div>

			<!-- Course Column -->
			<div class="course-block col-lg-4 col-md-6 col-sm-12">
				<a class="a_" href="/online-assignment-help/">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'images/resource/course-3.jpg' %}" alt="" />
							<h2><span><img src="/static/images/assignmentIco.png" alt="Online Homework Help" />Online Assignment Help</span> </h2>
						</div>
						<div class="lower-content">
							<p>Tutor Champs is one of the best choice to get online assignment help for all subjects. Our
								assignment experts possess great skills in writing assignments.</p>
						</div>
					</div>
				</a>
			</div>

			<!-- Course Column -->
			<div class="course-block col-lg-4 col-md-6 col-sm-12">
				<a class="a_" href="/essay-writing-services/">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'images/resource/course-2.jpg' %}" alt="" />
							<h2><span><img src="/static/images/essay.png" alt="Online Homework Help" />Essay Writing Services </span> </h2>
						</div>
						<div class="lower-content">
							<p>Get a plagiarism-free, unique and attractive essay from highly qualified professional essay
								writers available here. Share your essay title, provide instructions, and get the essay done
								at affordable rates.</p>
						</div>
					</div>
				</a>
			</div>

		</div>
		<div class="row clearfix">
			<div class="course-block col-lg-4 col-md-6 col-sm-12">
				<a class="a_" href="/live-sessions/">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'images/live.jpg' %}" alt="" />
							<h2><span><img src="/static/images/stopwatch.png" alt="Online Homework Help" />Live Sessions</span> </h2>
						</div>
						<div class="lower-content">
							<p>Communicate with knowledgeable and experienced tutors via live sessions to get real-time
								solutions for your queries. Schedule sessions according to your ease, make payment, upload
								reference material, and get quick solutions.</p>
						</div>
					</div>
				</a>
			</div>

			<!-- Course Column -->
			<div class="course-block col-lg-4 col-md-6 col-sm-12">
				<a class="a_" href="/project-lab-report-help/">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'images/projectrp.jpg' %}" alt="" />
							<h2><span><img src="/static/images/projectReport.png" alt="Online Homework Help" />Project/Lab Report Help</span> </h2>
						</div>
						<div class="lower-content">
							<p>Well, if you want help on lab or project reports, we are here to assist you! You need to
								upload your work requirements, format, data, and other material to seek guidance from
								experts.</p>
						</div>
					</div>
				</a>
			</div>

			<!-- Course Column -->
			<div class="course-block col-lg-4 col-md-6 col-sm-12">
				<a class="a_" href="/dissertation-writing-services/">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'images/dissertation-writing.jpg' %}" alt="" />
							<h2><span><img src="/static/images/DWriting.png" alt="Online Homework Help" />Dissertation Writing Services</span> </h2>
						</div>
						<div class="lower-content">
							<p>Dissertation writing is a complex process that requires a lot of research and writing. Thus
								if you are seeking top-notch dissertation writing services, get in touch with us!</p>
						</div>
					</div>
				</a>
			</div>

		</div>

	</div>
</section>
<!-- End Courses Section -->

<!-- Career Section -->
<section class="career-section">
	<div class="auto-container">
		<div class="sec-title text-center">
			<h2>FAQs</h2>
		</div>

		<div class="row faqs_row clearfix">
			<div class="image-column col-lg-5 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="image titlt" data-tilt data-tilt-max="4">
						<img src="{% static 'images/resource/career.png' %}" alt="" />
					</div>
				</div>
			</div>

			<div class="content-column col-lg-7 col-md-12 col-sm-12">
				<div class="inner-column pt-0">
					<div id="accordion">
						<div class="card questions-con">
							<div class="card-header" id="headingOne">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
										aria-expanded="true" aria-controls="collapseOne">
										Why Is Tutor Champs Considered The Best Homework Help Website?
									</button>
								</h5>
							</div>
							

							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
								data-parent="#accordion">
								<div class="card-body">
									We are regarded as the best help with homework websites, as we not only focus on providing tutoring and homework service, but we also strive to enhance the knowledge base of students we are connected with. <br>In addition to this, we house a team of highly qualified and talented tutors that offer easy and step-by-step solutions. Moreover, we provide learning solutions at competitive pricing accompanied by various exciting features, including one-on-one sessions, 24/7 tutor availability, lifetime access to recordings, etc.
								</div>
							</div>
						</div>
						<div class="card questions-con">
							<div class="card-header" id="headingTwo">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" data-toggle="collapse"
										data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										What Are The Benefits Of Taking Online Homework Help From Tutor Champs?
									</button>
								</h5>
							</div>
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
								data-parent="#accordion">
								<div class="card-body">
									Every student faces some issues while studying, but the main problem arises when you find nobody to seek help. Thus, here comes the role of Tutor Champs that offer homework help, assignment writing help, etc. <br>We provide online tutoring services and help students explore their strengths and talents through learning. Students can schedule an online session with expert tutors at their convenience from the comfort of their homes.  Overall, Tutor Champs makes learning easy!
								</div>
							</div>
						</div>
						<div class="card questions-con">
							<div class="card-header" id="headingThree">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed questions" data-toggle="collapse"
										data-target="#collapseThree" aria-expanded="false"
										aria-controls="collapseThree">
										How Can I Register Myself On Tutor Champs?
										
									</button>
								</h5>
							</div>
							<div id="collapseThree" class="collapse" aria-labelledby="headingThree"
								data-parent="#accordion">
								<div class="card-body">
									For this, you need to follow the below stated procedure. Have a look!!
									<ul>
										<li>First of all, visit the official website of Tutor Champs - <a href="/">tutorchamps.com</a></li>
										<li>After that, you need to submit your requirement in the given order form. </li>
										<li>Now, you will be redirected to the dashboard and get login details on your email, Hurrah! you are done!</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card questions-con">
							<div class="card-header" id="headingFour">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed questions" data-toggle="collapse"
										data-target="#collapseFour" aria-expanded="false"
										aria-controls="collapseFour">
										Are Tutors Available At Tutor Champs Highly Qualified?
									</button>
								</h5>
							</div>
							<div id="collapseFour" class="collapse" aria-labelledby="headingFour"
								data-parent="#accordion">
								<div class="card-body">
									Yes, all the tutors who are working with us are highly qualified, experienced, and talented. They possess experience in both classroom teaching and online sessions. Moreover, most of them hold Masters or Ph.D. degrees in different subject matters, including English, Science, Arts & Commerce, etc.
								</div>
							</div>
						</div>
						<div class="card questions-con">
							<div class="card-header" id="headingFive">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed questions" data-toggle="collapse"
										data-target="#collapseFive" aria-expanded="false"
										aria-controls="collapseFive">
										Are My Identity And Personal Information Protected? Is It Safe To Use Tutor Champs?
									</button>
								</h5>
							</div>
							<div id="collapseFive" class="collapse" aria-labelledby="headingFive"
								data-parent="#accordion">
								<div class="card-body">
									Your identity and personal information are kept confidential. We respect your privacy; that’s why we didn’t share any information with anyone. Although, we need some personal details for verification purposes!
								</div>
							</div>
						</div>
						<div class="card questions-con">
							<div class="card-header" id="headingsix">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed questions" data-toggle="collapse"
										data-target="#collapseSix" aria-expanded="false"
										aria-controls="collapseSix">
										What Are The Technical Requirements?
									</button>
								</h5>
							</div>
							<div id="collapseSix" class="collapse" aria-labelledby="headingsix"
								data-parent="#accordion">
								<div class="card-body">
									To attend an online session, you need to have a computer or laptop with an internet connection, webcam, and headphones.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Career Section -->

<!-- Skill Section -->
<section class="skill-section">
	<div class="pattern-layer" style="background-image:url('/static/images/background/pattern-8.png')"></div>
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Skill Column -->
			<div class="skill-column col-lg-7 col-md-12 col-sm-12">
				<div class="inner-column">
					<!-- Sec Title -->
					<div class="sec-title pt-3">
						<!-- <div class="title">Our Status valu</div> -->
						<h2>Stats That Shows We Are Unique From Other E-learning Platforms</h2>
						<div class="text">Our dedication, rigorous preparation, hard work, a team of highly qualified experts makes us different from others. Below given are some real-time stats that make us the best in the industry!</div>
					</div>
					<div class="skills">

						<!-- Skill Item -->
						<div class="skill-item">
							<div class="skill-header clearfix">
								<div class="skill-title">97% Score High Grades</div>
								<div class="skill-percentage">
									<div class="count-box">
										<span class="count-text" data-speed="2000" data-stop="97">0</span>%
									</div>
								</div>
							</div>
							<div class="skill-bar">
								<div class="bar-inner">
									<div class="bar progress-line" data-width="97"></div>
								</div>
							</div>
						</div>

						<!-- Skill Item -->
						<div class="skill-item">
							<div class="skill-header clearfix">
								<div class="skill-title">98% Clients Refer Us To Their Friends</div>
								<div class="skill-percentage">
									<div class="count-box"><span class="count-text" data-speed="2000"
											data-stop="98">0</span>%</div>
								</div>
							</div>
							<div class="skill-bar">
								<div class="bar-inner">
									<div class="bar progress-line" data-width="98"></div>
								</div>
							</div>
						</div>

						<!-- Skill Item -->
						<div class="skill-item">
							<div class="skill-header clearfix">
								<div class="skill-title">100% Money back policy*</div>
								<div class="skill-percentage">
									<div class="count-box"><span class="count-text" data-speed="2000"
											data-stop="100">0</span>%</div>
								</div>
							</div>
							<div class="skill-bar">
								<div class="bar-inner">
									<div class="bar progress-line" data-width="100"></div>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>

			<!-- Image Column -->
			<div class="image-column col-lg-5 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="circle-one"></div>
					<div class="circle-two"></div>
					<div class="image titlt" data-tilt data-tilt-max="4">
						<img src="{% static 'images/resource/skill.png' %}" alt="" />
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Skill Section -->

<!-- Testimonial Section -->
<section class="testimonial-section">
	<div class="circle-one paroller" data-paroller-factor="-0.20" data-paroller-factor-lg="0.20"
		data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
	<div class="circle-two paroller" data-paroller-factor="0.20" data-paroller-factor-lg="-0.20"
		data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
	<div class="pattern-layer-two" style="background-image:url('static/images/background/pattern-10.png')"></div>
	<div class="auto-container">
		<div class="inner-container">
			<div class="pattern-layer" style="background-image:url('/static/images/background/pattern-9.png')"></div>
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">Testimonial</div>
				<h2>Words From Customers</h2>
				<div class="text">95% of students love us! Let’s take a look, what they say about our services!</div>
			</div>
			<div class="testimonial-carousel owl-carousel owl-theme">
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">Honestly Speaking! I love these guys! They offer homework help services at an affordable price range as compared to other ones. I am delighted with their service and solutions. Surely recommend this learning platform to my friends as well!</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="{% static 'images/customer.png' %}" alt="" />
								</div>
								<h6>Beca Jones</h6>
								<div class="designation">student</div>
							</div>
						</div>
						<div class="quote-icon flaticon-quote-2"></div>
					</div>
				</div>
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">The tutors available here are exceptionally talented. They helped with my school homework. I schedule the live session at night. Despite the time, they offer me the best solution along with some valuable tips.</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="{% static 'images/customer.png' %}" alt="" />
								</div>
								<h6>Chris W. Phillip</h6>
								<div class="designation">student</div>
							</div>
						</div>
						<div class="quote-icon flaticon-quote-2"></div>
					</div>
				</div>
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">Excellent and hassle-free service! I get my assignment before the deadline. I get good marks on that assignment. I will visit again! Thanks for the help!</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="{% static 'images/customer.png' %}" alt="" />
								</div>
								<h6>Kindle Brown</h6>
								<div class="designation">student</div>
							</div>
						</div>
						<div class="quote-icon flaticon-quote-2"></div>
					</div>
				</div>
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">The personalized one-to-one session is impressive. The tutor helped with my queries and offered a step-by-step solution so that I can understand it easily. I would highly recommend Tutor Champs to my friends also. Not only their services are excellent, but their pricing is also nominal!</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="{% static 'images/customer.png' %}" alt="" />
								</div>
								<h6>Sophia William</h6>
								<div class="designation">student</div>
							</div>
						</div>
						<div class="quote-icon flaticon-quote-2"></div>
					</div>
				</div>
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">One of my friends recommended this online learning platform. I raised a query late at night, and I was surprised when I got an immediate reply. Tutor Champs not only help with my college assignment but also assist in improving my grades.</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="{% static 'images/customer.png' %}" alt="" />
								</div>
								<h6>Neeraj Chopra</h6>
								<div class="designation">student</div>
							</div>
						</div>
						<div class="quote-icon flaticon-quote-2"></div>
					</div>
				</div>
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">With so many online homework and assignment service providers available, it becomes challenging to select the best one, but then I learned about Tutor Champs. I take help for my assignment and get it delivered even before time. The content was good and properly formatted. Thank you for your service!</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="{% static 'images/customer.png' %}" alt="" />
								</div>
								<h6>Joe Matthew</h6>
								<div class="designation">student</div>
							</div>
						</div>
						<div class="quote-icon flaticon-quote-2"></div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- End Testimonial Section -->

<!-- News Section -->
<section class="news-section">
	<div class="pattern-layer" style="background-image:url('/static/images/background/pattern-11.png')"></div>
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<div class="title">Our Blogs</div>
			<h2>Latest articles and blogs</h2>
			<div class="text">Our blogs and articles are based on the latest trends in online education and have tips
				and tricks<br> that help the students in their exam preparation and writing skills.</div>
		</div>
		<div class="inner-container">
			<div class="icon-layer-one" style="background-image:url('/static/images/icons/icon-1.png')"></div>
			<div class="icon-layer-two" style="background-image:url('/static/images/icons/icon-2.png')"></div>
			<div class="icon-layer-three" style="background-image:url('/static/images/icons/icon-2.png')"></div>
			<div class="row clearfix">

				<!-- News Block -->
				<div class="news-block col-lg-6 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="{% url 'blog-6' %}"><img src="{% static 'images/top-50-research-paper-topics-in-2021-home.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="border-layer"></div>
							<ul class="post-info">
								<li>Essay Writing</li>
								<li>Updated August 02, 2018</li>
							</ul>
							<h4><a href="{% url 'blog-6' %}">Top 50 Research Paper Topics In 2021</a></h4>
							<a href="{% url 'blog-6' %}" class="more">More <span class="fa fa-angle-double-right"></span></a>
						</div>
					</div>
				</div>

				<!-- News Block -->
				<div class="news-block col-lg-6 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="{% url 'blog-2' %}"><img src="{% static 'images/resource/news-7.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="border-layer"></div>
							<ul class="post-info">
								<li>Education</li>
								<li>Updated August 03, 2017</li>
							</ul>
							<h4><a href="{% url 'blog-2' %}">How To Do Homework Fast? Know Everything Here!</a></h4>
							<a href="{% url 'blog-2' %}" class="more">More <span class="fa fa-angle-double-right"></span></a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- End News Section -->

<section id="counter-stats" class="wow fadeInRight">
	<div class="pattern-layer-seven" style="background-image: url('/static/images/main-slider/pattern-5.png')"></div>
	<div class="background-layer-one" style="background-image:url('/static/images/background/pattern-5.png')">
	</div>
	<div class="icon-layer-one" style="background-image:url('/static/images/icons/icon-1.png')"></div>
	<div class="container-fluid text-muted my-5 keyMetrics">
		<h2 class="text-center text-dark font-weight-bold ">Key Metrics</h2>
		<p class="pb-5 mb-3 text-center">One-Stop Destination for all your Homework Help Needs</p>
		<div class="d-flex justify-content-around flex-properties">
			<div class="stats shadow-sm rounded-lg p-4">
				<div>
					<img src="{% static 'images/graduation.png' %}"><br>
					<div class="count">3000</div>
					<h5>Expert Tutors</h5>
					<small>are ready to help you around the clock with professional guidance and feedback!</small>
				</div>
			</div>

			<div class="stats shadow-sm rounded-lg p-4">
				<div>
					<i class="fa fa-clipboard" aria-hidden="true"></i><br>
					<div class="count">1000000</div>
					<h5>Answers</h5>
					<small>in every 30 seconds, our knowledgeable and expert tutors solve a question and help a student succeed academically.</small>
				</div>
			</div>

			<div class="stats shadow-sm rounded-lg p-4">
				<div>
					<i class="fa fa-list-ul" aria-hidden="true"></i><br>
					<div class="count">270</div>
					<h5>Subjects</h5>
					<small>expert tutors are available at Tutor Champs, are subject specialists that offer help with any topic of Math, English, Science, etc.</small>
				</div>
			</div>


		</div>
		<div class="text-center mt-5 pt-3">
			<a href="/order-now/" class="theme-btn btn-style-one"><span class="txt">Get Solution Now</span></a>
		</div>
	</div>
	<!-- end container -->
</section>

<!-- Main Footer -->
{% endblock body %}