{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="banner-section serSec news-section pt-0 pb-4 banner--in">
	 	<div class="pattern-layer-six" style="background-image: url('/static/images/main-slider/pattern-4.png')"></div>
	 	<div class="pattern-layer-seven" style="background-image: url('/static/images/main-slider/pattern-5.png')">
			</div>
			<div class="pattern-layer-two" style="background-image: url('/static/images/main-slider/pattern-2.png')"></div>
			<div class="icon-layer-one" style="background-image:url('/static/images/icons/icon-1.png')"></div>
			<div class="image-column" style="z-index: 0;">
				<div class="pattern-layer-three" style="background-image: url('/static/images/main-slider/icon-1.png')"></div>
			</div>
			<div class="ban_container">
				<div class="row row_">
					<div class="col-md-6 text-center zIndex9">
						<img class="zIndex9" src="/static/images/live.png">
					</div>
					<div class="col-md-6 banner_con">
						<h1 class="zIndex9">Live Sessions</h1>
						<h2  class="zIndex9">Book A Live Sessions With  Expert Tutors And Solve All Doubts Instantly!</h2>
						<div class="__form-container">
							<form class="commForm mt-3" method="POST" action="" enctype="multipart/form-data">
								{% csrf_token %}
								<h2 class="text-dark">Guaranteed Higher Grade Or Get Your Money Back!</h2>
	                            <div class="form_group">
	                            </div>
	                            <div class="form_group">
	                                <div class="twoField">
	                                	<div class="pos_rel">
		                                	<label>Your Subject/Course Code</label>
		                                    <input class="input" name="subject" type="text" required="" placeholder="Eg. UNCC100 Self &amp; Community">
		                                </div>
										<div class="pos_rel">
											<label for="">Deadline</label>
											<input type="date" required="" class="input" name="deadline" id="birthday" placeholder="Deadline">
										</div>
		                                <div class="pos_rel">
		                                	<label>Select Session Duration</label>
		                                    <select required="" class="input" id="inputState" name="duration">
		                                    	<option selected="" disabled="">Session Duration</option>
						                        <option value="15">15 minutes</option>
												<option value="30">30 minutes</option>
												<option value="45">45 minutes</option>
												<option value="60">1 hour</option>
												<option value="90">1 hour 30 minutes</option>
												<option value="120">2 hours</option>
												<option value="150">2 hour 30 minutes</option>
												<option value="180">3 hours</option>
												<option value="210">3 hour 30 minutes</option>
												<option value="240">4 hours</option>
												<option value="270">4 hour 30 minutes</option>
												<option value="300">5 hours</option>
												<option value="330">5 hour 30 minutes</option>
												<option value="360">6 hours</option>
												<option value="390">6 hour 30 minutes</option>
												<option value="420">7 hours</option>
												<option value="450">7 hour 30 minutes</option>
												<option value="480">8 hours</option>
												<option value="510">8 hour 30 minutes</option>
												<option value="540">9 hours</option>
												<option value="570">9 hour 30 minutes</option>
												<option value="600">10 hours</option>
												<option value="630">10 hour 30 minutes</option>
												<option value="660">11 hours</option>
												<option value="690">11 hour 30 minutes</option>
												<option value="720">12 hours</option>
						                    </select>
		                                </div>
	                                </div>
	                                
	                                <div class="pos_rel">
	                                    <label>Your Message*</label>
	                                    <textarea name="Details" id="description" class="Detail" required="" placeholder="Write Session description"></textarea>
	                                    <!-- <div> 
											<label for="files" class="custom-file-upload" id="choose-file-label">Add File</label>                                   	
	                                    	<input type="file" name="files" id="files"  required="" value="Add File">
	                                    	
	                                    </div> -->
	                                    <div>
					                        <input type="file" name="files" id="files" multiple="" value="Add File">
					                        <p id="file-name" class="fileName"></p>
					                    </div>
	                                </div>
	                            </div>
	                            <div class="text-center psr mt-3">
									
									<input type="submit" class="formBtn theme-btn btn-style-one" value="Book A Session Now">
		
									<a href="" class="theme-btn btn-style-one"><span class="txt">Book A Session Now</span></a>
	                            </div>
	                        </form>
						</div>
			
			</div>
			</div>
			</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<!-- <script>
		$('#files').change(function() {
			var i = $(this).prev('label').clone();
			var file = $('#files')[0].files[0].name;
			$(this).prev('label').text(file);
		  });
	</script> -->
	<script>
            var input = document.getElementById('files');
            var info_area = document.getElementById('file-name');
            input.addEventListener('change', showFileName);
            function showFileName(event) {
                var input = event.srcElement;
                var fileName = input.files[0].name;
                info_area.textContent = fileName;
            }
    
        </script>
	
	{% include "hiw.html" %}

	<section class="getting-more">
	    <div class="container">
			<div class="title title-big text-center"><h2>Our Homework Help Service In A Nutshell</h2></div>
	        <!-- <div class="title title-big text-white text-center"><h2>Turn in Quality Written Assignment.<br> Save Your Free Time.</h2> </div> -->
	        <div class="row">
	            <div class="col-md-4">
	            	<div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-1.png' %}">
		                <div class="getting-more__subtitle">
		                	<h3 class="mb-3 text-dark">All Types of Homework</h3>
		                </div>
		                <div class="getting-more__text">
		                    No matter what the subject matter is, we are here to help you! Our expert and highly skilled expert tutors will help you with your homework, whether it is an academic argument or a book summary. Not only this, we provide new and creative text.                 </div>
		            </div>
	            </div>
	            <div class="col-md-4">
		            <div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-2.png' %}">
		                <div class="getting-more__subtitle"><h3 class="mb-3 text-dark">3-6 Hours Turnaround.</h3>  </div>
		                <div class="getting-more__text">
		                    Our comprehensive expert tutors are available 24/7 to offer you instant, round-the-clock assistance with your homework issues and queries. So, if you are running out of time and are looking for someone to get help from, then rely on Tutor Champs.                </div>
		            </div>
		        </div>
		        <div class="col-md-4">
		            <div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-3.png' %}">
		                <div class="getting-more__subtitle"><h3 class="text-dark mb-3">100% Anonymous.</h3></div>
		                <div class="getting-more__text">
		                    We never take your safety for granted. All personal information, payment-related info, and other details are kept confidential to protect your identity.                 </div>
		            </div>
	        	</div>
	        </div>
	    </div>
	</section>

	<section id="quality" class="quality">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-5">
		        <div class="quality-left">
		            <div class="quality__content ">
		                <div class="quality__title">
		                	<h2 class="h_2 text-dark">High-Caliber & Quality-Assured Results</h2>
		                    <div class="quality__subtitle"><p>Being the top-rated and prominent homework help website, we never compromise on quality. We genuinely pride ourselves on providing premium-quality homework help services to our customers free from errors.</p></div>
		                </div>
		                <div class="quality__subtitle"><h4 class="mb-3 text-dark">1. Plagiarism Checking</h4></div>
		                <div class="quality__text"><p>Our competent expert tutors write original solutions for your problem, free from any error and plagiarism. Not only this, but we also cross-check all the noted data using many trusted tools to offer you 100% unique answers.</p></div>
		                <div class="quality__subtitle"><h4 class="mb-3 text-dark">2. Strict Quality Control </h4></div>
		                <div class="quality__text"><P>We not only strive to deliver plagiarism-free homework solutions, but we also focus on controlling the quality. That's why every paper/solution is examined by experienced and professional editors.</P></div>
		            </div>
		        </div>
		    </div>
	        <div class="col-md-7">
	        	<div class="quality-right">
		            <div class="quality__img text-center pt-4">
	                        <img class="lazy" src="{% static 'images/quality-img.png' %}">
	                </div>
		        </div>
	        </div>
	    	</div>
	    </div>
	</section>
	
	
	<!-- Testimonial Section -->
	<section class="testimonial-section">
		<div class="circle-one paroller" data-paroller-factor="-0.20" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="circle-two paroller" data-paroller-factor="0.20" data-paroller-factor-lg="-0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="pattern-layer-two" style="background-image:url('/static/images/background/pattern-10.png')"></div>
		<div class="auto-container">
			<div class="inner-container">
				<div class="pattern-layer" style="background-image:url('/static/images/background/pattern-9.png')"></div>
				<!-- Sec Title -->
				<div class="sec-title centered">
					<div class="title">Testimonial</div>
					<h2>Words From Customers</h2>
					<div class="text">95% of students love us! Let’s take a look, what they say about our services!</div>
				</div>
				<div class="testimonial-carousel owl-carousel owl-theme">
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Tutor Champs is truly an efficient Assignment writing service according to me. I am amazed by the sheer professionalism and transparency of the writers of this site. I’m sticking to this site for all my academic requirements.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Chris</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Every site I approached always quoted ridiculously high prices for offering Homework Help. Then my friend recommended your site and I found that the prices were extremely nominal.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Kennedy</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I've always been such an average student, but then Tutor Champs happened, and that reflected positively on my academic performance. Hiring you guys for my paper was the best thing I've done.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Sejal</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I had casually placed an order on Tutor Champs for a short essay and wanted to see if their claim of timely delivery of tasks was true or not. The assignment was not delivered on time, but the quality of the essay was also remarkable.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Joe</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I love these guys, so amazing. My Assignment problem is not easy, but they did so well. I will go with the more, Thank you to the tutor. Amazing job on time.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Anita</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Excellent experience with a professionally delivered work. Highly recommended! Answered my question which I didn't understand and broke it down into sections which was very useful and understandable.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Cesar</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Testimonial Section -->

	<section class="HomHelp content_sec">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
		            <h2 class="h_2 mb-3 text-dark">Know how Tutor Champs Live Assignment Help Works! </h2>
		            <p>Are you looking for the most experienced tutoring companies in the nation? If your reaction is yes, we’ve got the right solution for you here. We offer on-demand, 1 to 1 live tutoring, live homework help and academic support for all the grades. Here you can get instant homework solutions from tackling tough assignments to studying for a big test by Live sessions. A live Session is a webinar or training conducted with a person that is not recorded. If you have any queries related to homework or assignment, you can book your live session according to your convenience. Here you will be able to clear all your doubts in detail and have a one to one interaction with expert tutors.</p>
					
					<h3 class="h_3 mb-3 text-dark">Provide reference material while booking your session</h3>
					<p>If you are willing to have live assignment help from the expert of the Tutor Champs, then you must provide them with references related to the topic for which you need help. This will help them to find the perfect tutor for you so that you can get the most out of them. For expert help all you have to do is let them know about the session date, starting time, duration and subject name.  </p>
					<h3 class="h_3 mb-3 text-dark">Confirm your booking and pay </h3>
					<p>After booking your session, you are just one step away from an instant homework solution. Just confirm your booking, make a payment and enjoy your homework with the live homework help provided by the experts of Tutor Champs. They will provide you  1 with 1 live tutoring so that you get a chance to refine your performance.</p>
					<h3 class="h_3 mb-3 text-dark">Clear your doubts and Bounce back from low grades</h3>
					<p>You can clear your doubts during the live session itself through the chat option available. The best feature of having live tutor help is that you can ask them any doubt you have on their WhatsApp and get a response immediately. They offer complete and comprehensive solutions to all your doubts. With live assignment help, you will definitely boost your grades. </p>
					<h2 class="h_2 mb-3 text-dark">Why Prefer Live Sessions from Tutor Champs? </h2>
					<p>The live session is the answer to all student worries. Tutor Champs are experts in their respective fields, and they are standing 24*7 by your side to help you with any query. If you want detailed answers to your doubts, then 1 to 1 live tutoring is the right choice for you. Here are some points on why you should choose live sessions from Tutor Champs. </p>
					<h3 class="h_3 mb-3 text-dark">Step by step guidance from experts</h3>
					<p>Stuck with a tricky problem! Don't worry. The expert tutors will walk you step-by-step through all the solutions related to your query so you can learn the technique to reach the answer on your own. They can even recommend worksheets so you can keep practising later. With this type of personal attention, you can boost your academic grades. Suppose you have a test on Monday. Worried! Tutor Champs will provide you immediate help from making a study plan to coming up with worksheets for practice. </p>
					<h3 class="h_3 mb-3 text-dark">Set your life session according to your needs </h3>
					<p>Some concepts need more focus, Right! So With live sessions, you can stress mainly on your weak subjects or topics and make them crystal clear. Homework help live chat is the best option you can use during live sessions to clear your doubts from the experts. The team of the best teachers will provide you with solutions for all the subjects.</p>
					<h3 class="h_3 mb-3 text-dark">Get help on the go</h3>
					<p>1 to 1 live tutoring makes it easy to get proper and immediate help. Just WhatsApp your problem, and their expert tutor will find the solution for you in seconds. So get help from the experts whenever you get stuck, and keep school stress away. </p>

		        </div>
		    </div>
	    	</div>
	    </div>
	</section>

	<!-- Career Section -->
	<section class="career-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title text-center">
				<h2>FAQs</h2>
			</div>
			
			<div class="row clearfix">
				
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image titlt" data-tilt data-tilt-max="4">
							<img src="{% static 'images/resource/career.png' %}" alt="" />
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<div id="accordion">
							<div class="card questions-con">
							    <div class="card-header" id="headingOne">
							      <h5 class="mb-0">
							        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										How Do I Ensure That The Solutions Received Are Correct?
							        </button>
							      </h5>
							    </div>

							    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							      <div class="card-body">
							        Tutor Champs has a team of the most qualified online tutors who have in-depth knowledge of subject areas. You will get a tutor who will be experienced in that subject. They will double-check the solutions before providing them to you to ensure their correctness.
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingTwo">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										Can I Submit Multiple Questions At Once? 
							        </button>
							      </h5>
							    </div>
							    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							      <div class="card-body">
									Absolutely, yes! You can submit as many doubts as you want to get your concepts crystal clear. The motto of live assignment help is to encourage the learners.  
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingThree">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										How Long Will It Take To Get Solutions?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
							      <div class="card-body">
							        The experts try hard to give you solutions as soon as possible. When the tutors receive your doubts they send you the solution in a couple of hours. Set a deadline if you want your solutions fast, it will never be crossed.   
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingFour">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
										What To Do If My Question Subject Is Not Listed In The List?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
							      <div class="card-body">
							        If your subject is not mentioned in the list, you can choose the 'other' option and submit it to us. We'll clear your query ASAP.  
							      </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Career Section -->
	
	<!-- Main Footer -->

	{% endblock body %}
