{% extends "base.html" %}
{% load static %}
{% block body %}
  
 <div class="banner-section serSec news-section pt-0 pb-0 banner--in">
 	<div class="pattern-layer-six" style="background-image: url('/static/images/main-slider/pattern-4.png')"></div>
 	<div class="pattern-layer-seven" style="background-image: url('/static/images/main-slider/pattern-5.png')">
		</div>
		<div class="pattern-layer-two" style="background-image: url('/static/images/main-slider/pattern-2.png')"></div>
		<div class="icon-layer-one" style="background-image:url('/static/images/icons/icon-1.png')"></div>
		<div class="image-column" style="z-index: 0;">
			<div class="pattern-layer-three" style="background-image: url('/static/images/main-slider/icon-1.png')"></div>
		</div>
	<div class="ban_container">
		<div class="row row_">
			<div class="col-md-6 text-center zIndex9">
				<img  class="zIndex9" src="/static/images/math.png">
			</div>
				<div class="col-md-6 banner_con">
					<h1>Math Homework Help</h1>
					<h2>Get The Best Math Homework Help From The Expert Tutors! </h2>
					<div class="__form-container">
						{% include "forms.html" %}
					</div>
		
		</div>
		</div>
		</div>
	</div>
	
	{% include "hiw.html" %}


	<section class="getting-more">
	    <div class="container">
			<div class="title title-big text-center"><h2>Our Homework Help Service In A Nutshell</h2></div>
	        <!-- <div class="title title-big text-white text-center"><h2>Turn in Quality Written Assignment.<br> Save Your Free Time.</h2> </div> -->
	        <div class="row">
	            <div class="col-md-4">
	            	<div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-1.png' %}">
		                <div class="getting-more__subtitle">
		                	<h3 class="mb-3 text-dark">All Types of Homework</h3>
		                </div>
		                <div class="getting-more__text">
		                    No matter what the subject matter is, we are here to help you! Our expert and highly skilled expert tutors will help you with your homework, whether it is an academic argument or a book summary. Not only this, we provide new and creative text.                 </div>
		            </div>
	            </div>
	            <div class="col-md-4">
		            <div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-2.png' %}">
		                <div class="getting-more__subtitle"><h3 class="mb-3 text-dark">3-6 Hours Turnaround.</h3>  </div>
		                <div class="getting-more__text">
		                    Our comprehensive expert tutors are available 24/7 to offer you instant, round-the-clock assistance with your homework issues and queries. So, if you are running out of time and are looking for someone to get help from, then rely on Tutor Champs.                </div>
		            </div>
		        </div>
		        <div class="col-md-4">
		            <div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-3.png' %}">
		                <div class="getting-more__subtitle"><h3 class="text-dark mb-3">100% Anonymous.</h3></div>
		                <div class="getting-more__text">
		                    We never take your safety for granted. All personal information, payment-related info, and other details are kept confidential to protect your identity.                 </div>
		            </div>
	        	</div>
	        </div>
	    </div>
	</section>

	<section id="quality" class="quality">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-5">
		        <div class="quality-left">
		            <div class="quality__content ">
		                <div class="quality__title">
		                	<h2 class="h_2 text-dark">High-Caliber & Quality-Assured Results</h2>
		                    <div class="quality__subtitle"><p>Being the top-rated and prominent homework help website, we never compromise on quality. We genuinely pride ourselves on providing premium-quality homework help services to our customers free from errors.</p></div>
		                </div>
		                <div class="quality__subtitle"><h4 class="mb-3 text-dark">1. Plagiarism Checking</h4></div>
		                <div class="quality__text"><p>Our competent expert tutors write original solutions for your problem, free from any error and plagiarism. Not only this, but we also cross-check all the noted data using many trusted tools to offer you 100% unique answers.</p></div>
		                <div class="quality__subtitle"><h4 class="mb-3 text-dark">2. Strict Quality Control </h4></div>
		                <div class="quality__text"><P>We not only strive to deliver plagiarism-free homework solutions, but we also focus on controlling the quality. That's why every paper/solution is examined by experienced and professional editors.</P></div>
		            </div>
		        </div>
		    </div>
	        <div class="col-md-7">
	        	<div class="quality-right">
		            <div class="quality__img text-center pt-4">
	                        <img class="lazy" src="{% static 'images/quality-img.png' %}">
	                </div>
		        </div>
	        </div>
	    	</div>
	    </div>
	</section>
	
	
	<!-- Testimonial Section -->
	<section class="testimonial-section">
		<div class="circle-one paroller" data-paroller-factor="-0.20" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="circle-two paroller" data-paroller-factor="0.20" data-paroller-factor-lg="-0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="pattern-layer-two" style="background-image:url('/static/images/background/pattern-10.png')"></div>
		<div class="auto-container">
			<div class="inner-container">
				<div class="pattern-layer" style="background-image:url('/static/images/background/pattern-9.png')"></div>
				<!-- Sec Title -->
				<div class="sec-title centered">
					<div class="title">Testimonial</div>
					<h2>Words From Customers</h2>
					<div class="text">95% of students love us! Let’s take a look, what they say about our services!</div>
				</div>
				<div class="testimonial-carousel owl-carousel owl-theme">
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Tutor Champs is truly an efficient Assignment writing service according to me. I am amazed by the sheer professionalism and transparency of the writers of this site. I’m sticking to this site for all my academic requirements.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Chris</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Every site I approached always quoted ridiculously high prices for offering Homework Help. Then my friend recommended your site and I found that the prices were extremely nominal.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Kennedy</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I've always been such an average student, but then Tutor Champs happened, and that reflected positively on my academic performance. Hiring you guys for my paper was the best thing I've done.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Sejal</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I had casually placed an order on Tutor Champs for a short essay and wanted to see if their claim of timely delivery of tasks was true or not. The assignment was not delivered on time, but the quality of the essay was also remarkable.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Joe</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I love these guys, so amazing. My Assignment problem is not easy, but they did so well. I will go with the more, Thank you to the tutor. Amazing job on time.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Anita</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Excellent experience with a professionally delivered work. Highly recommended! Answered my question which I didn't understand and broke it down into sections which was very useful and understandable.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Cesar</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Testimonial Section -->

	<section class="HomHelp content_sec">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
		            <h2 class="h_2 mb-3 text-dark">Improve Your Maths Score With Tutorchamps</h2>
		            <p>Maths is a broad, complex, yet exciting subject that opens new doors of exciting career opportunities and courses. It is one of the most fundamental subjects you will find while studying in primary school, high school, and college.</p>
		            <p>Mathematics is one such subject that not only helps us with our academics but also plays a crucial role in our daily lives. Thus, all those students who find this subject challenging and are looking for someone who can offer math homework help to them are one right platform.</p>
					<p>Our professional and experienced online math tutor provides 24/7 assistance that helps in making remarkable improvement in their maths score. Not only this, but we also assist in the following:</p>
					<h3 class="h_3 mb-3 text-dark">Exam Preparation</h3>
					<p>If you want to prepare for your upcoming mathematics examination and are seeking a maths expert, then get in touch with one of the educators available at TutorChamps. They will help you in preparing for the examination by offering one-on-one personalized sessions and provide you a detailed explanation.</p>
					<h3 class="h_3 mb-3 text-dark">Full-Lesson Guidance to a Specific Problem</h3>
					<p>Whether you are stuck with a specific maths question or want guidance with the entire maths chapter, we are ready to help you. Our skilled educators will clear all your doubtful concepts and offer step-by-step explanations.</p>
					<h3 class="h_3 mb-3 text-dark">Boost your Maths Game</h3>
					<p>We not only offer help with math homework but we also assist students in developing strong math skills and help them gain confidence. This helps in improving their academic score and motivates them to learn new things. </p>
					<h3 class="h_3 mb-3 text-dark">Math Assignment Help</h3>
					<p>Are you searching for someone who can help you with your maths assignment? If yes, then TutorChamps is an ideal platform for you! Our dedicated and talented team of maths experts will deliver 100% unique and original content that makes you stand out from the crowd. </p>
					<h2 class="h_2 mb-3 text-dark">Perks Of Taking Online Maths Tutoring With Us</h2>
					<h3 class="h_3 mb-3 text-dark">Saves Time & Money</h3>
					<p>ITaking online maths tutoring classes from TutorChamps will help in saving the precious time that you may spend while traveling to the maths tuition class! Moreover, we provide online maths classes at very affordable price rates compared to the traditional maths classes that help save more money.</p>
					<h3 class="h_3 mb-3 text-dark">Contended Learning Environment</h3>
					<p>It is said that students learn faster and grasp things quickly in a comfortable environment. Thus, taking online classes in the comfort of your home will help in boosting your skills.</p>
					<h3 class="h_3 mb-3 text-dark">Flexible & Convenient</h3>
					<p>Online classes are flexible and offer convenience. You can schedule your class according to your timetable, whether it is late in the night or early in the morning. Our tutors assist throughout the day!</p>
					<h2 class="h_2 mb-3 text-dark">From Algebra To Trigonometry – We Got You Covered!</h2>	
					<p>Being the #1 Math Help Website, we pride ourselves on providing 24/7, instant and practical guidance to students in need. Whether you are stuck with a problem of Geometry, Calculus, Algebra, or Statistics, our highly qualified team provides math help online with 1:1 online sessions.</p>
					<ul>
						<li>TutorChamps online classrooms are fully equipped with all the tools and features; you need to interact with the educators.</li>
						<li>All the teachers available at TutorChamps are highly experienced and certified. On top of this, they have prior experience of teaching maths.</li>
						<li>Most importantly, they are thoroughly vetted. Our team of experts carefully reviews all the personalized online tutoring sessions.</li>
						<li>From help with your homework to test preparation, assignments, and much more, we aim to deliver 100% satisfaction in all areas./li>
						<li>Additionally, we also focus on enhancing student’s engagement and performance.</li>
					</ul>
					<p>Who can do my math homework? How can I achieve good grades, how can I sharpen my math skills? If you are rounding around these thoughts, then get in touch with us today! You can sign-up by visiting the official website or can connect with our customer care team.</p>
		        </div>
		    </div>
	    	</div>
	    </div>
	</section>

	<!-- Career Section -->
	<section class="career-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title text-center">
				<h2>FAQs</h2>
			</div>
			
			<div class="row clearfix">
				
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image titlt" data-tilt data-tilt-max="4">
							<img src="{% static 'images/resource/career.png' %}" alt="" />
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<div id="accordion">
							<div class="card questions-con">
							    <div class="card-header" id="headingOne">
							      <h5 class="mb-0">
							        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										Why is TutorChamps known as the Best Maths Homework Help Website?							        </button>
							      </h5>
							    </div>

							    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							      <div class="card-body">
							        TutorChamps is known as the Best Maths Homework Help Website because of the following reasons:
									<ul class="u_list">
										<li>We hire only experienced and highly professional educators with a proven track record of success.</li>
										<li>Maths tutors available here can easily handle complex problems and offer straightforward explanations so that students can grasp them quickly.</li>
										<li>We aim to deliver 100% new, original and high-quality assignments made from scratch.</li>
										<li>Our homework help service is available at an affordable price range. We never charge more from our customers.</li>
										<li>We also provide a money-back guarantee.</li>
										<li>Our educators can easily cover all the essential math subjects, including econometrics, binomial theorem, statistical project writing, etc.</li>
										<li>Our team of mathematics experts is accessible twenty-four hours every day so that you can get instant help.</li>
									</ul>
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingTwo">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										My Boy Is Struggling With Math Homework? What Can I Do?						        </button>
							      </h5>
							    </div>
							    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							      <div class="card-body">
							        If your boy is stuck with math homework, you can take help from us. Firstly, we help students by making the concepts clear so that they can easily understand the problems. After that, we give them some powerful tips and tricks that help in accelerating their learning process. Not only this, but we also provide personalized sessions to clear their doubts. Additionally, we also prepare them for their examination with our effective tutoring service. 
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingThree">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										I Am Looking For A Maths Expert Who Can Help Me With My Assignment?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
							      <div class="card-body">
							        Well, if you are searching for a qualified maths educator who can help with your assignment, visit the official website of TutorChamps. We house a team of skilled, expertise and dedicated maths tutors who will help with your issues. To get your assignment done, visit the web page. After that, please submit your email id, phone number, deadline, subject code, and other asked details and submit it. We will deliver your work within the deadline! 
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingFour">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
										Did You Offer Help In All Subject Areas Of Maths?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
							      <div class="card-body">
							        Yes, we offer assistance in all subject areas of maths, including:
									<ul>
										<li>Algebra</li>
										<li>Probability</li>
										<li>Amusements</li>
										<li>Complex Analysis</li>
										<li>Differential Equations</li>
										<li>Calculus</li>
										<li>Number Theory</li>
										<li>Constants and Numerical Sequences</li>
										<li>Fourier Series</li>
										<li>Logic and Philosophy</li>
										<li>Mathematical Physics</li>
									</ul>
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingFive">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
										Why Should I Take Online Tutoring Classes From Tutorchamps?						        </button>
							      </h5>
							    </div>
							    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
							      <div class="card-body">
							        The reasons behind this are varied and numerous. If you are not sure about the concepts, running out of time, or if you have any memorizing problems were you unable to remember tables, formulas, different procedures to solve a particular problem, then you can take an online tutoring session where our educators will teach you how to remember things and gives you some valuable tips and tricks. Additionally, if you wish to upgrade your maths score and want to be on top of your class, get yourself enrolled in the personalized session today. 
							      </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Career Section -->
	
	<!-- Main Footer -->

	{% endblock body %}
