{% extends "base.html" %}
{% load static %}
{% block body %}
  
 <div class="banner-section serSec news-section pt-0 pb-0 banner--in">
 	<div class="pattern-layer-six" style="background-image: url('/static/images/main-slider/pattern-4.png')"></div>
 	<div class="pattern-layer-seven" style="background-image: url('/static/images/main-slider/pattern-5.png')">
		</div>
		<div class="pattern-layer-two" style="background-image: url('/static/images/main-slider/pattern-2.png')"></div>
		<div class="icon-layer-one" style="background-image:url('/static/images/icons/icon-1.png')"></div>
		<div class="image-column" style="z-index: 0;">
			<div class="pattern-layer-three" style="background-image: url('/static/images/main-slider/icon-1.png')"></div>
		</div>
		<div class="ban_container">
			<div class="row row_">
				
				<div class="col-md-6 text-center zIndex9">
					<img  class="zIndex9" src="/static/images/assignment.png">
				</div>
				<div class="col-md-6 banner_con">
					<h1>Online Assignment Help</h1>
					<h2>Get The Best Online Assignment Help From The Expert Writers! </h2>
					<div class="__form-container">
						{% include "forms.html" %}
					</div>
		
		</div>
		</div>
		</div>
	</div>
	
	<!-- Instructor Section -->
	{% include "hiw.html" %}


	<section class="getting-more">
	    <div class="container">
			<div class="title title-big text-center"><h2>Our Assignment Help Service In A Nutshell</h2></div>
	        <!-- <div class="title title-big text-white text-center"><h2>Turn in Quality Written Assignment.<br> Save Your Free Time.</h2> </div> -->
	        <div class="row">
	            <div class="col-md-4">
	            	<div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-1.png' %}">
		                <div class="getting-more__subtitle">
		                	<h3 class="mb-3 text-dark">All Types of Assignment</h3>
		                </div>
		                <div class="getting-more__text">
		                    No matter what the subject matter is, we are here to help you! Our expert and highly skilled expert tutors will help you with your assignment, whether it is an academic argument or a book summary. Not only this, we provide new and creative text.                 </div>
		            </div>
	            </div>
	            <div class="col-md-4">
		            <div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-2.png' %}">
		                <div class="getting-more__subtitle"><h3 class="mb-3 text-dark">3-6 Hours Turnaround.</h3>  </div>
		                <div class="getting-more__text">
		                    Our comprehensive expert tutors are available 24/7 to offer you instant, round-the-clock assistance with your assignment issues and queries. So, if you are running out of time and are looking for someone to get help from, then rely on Tutor Champs.                </div>
		            </div>
		        </div>
		        <div class="col-md-4">
		            <div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-3.png' %}">
		                <div class="getting-more__subtitle"><h3 class="text-dark mb-3">100% Anonymous.</h3></div>
		                <div class="getting-more__text">
		                    We never take your safety for granted. All personal information, payment-related info, and other details are kept confidential to protect your identity.                 </div>
		            </div>
	        	</div>
	        </div>
	    </div>
	</section>

	<section id="quality" class="quality">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-5">
		        <div class="quality-left">
		            <div class="quality__content ">
		                <div class="quality__title">
		                	<h2 class="h_2 text-dark">High-Caliber & Quality-Assured Results</h2>
		                    <div class="quality__subtitle"><p>Being the top-rated and prominent assignment help website, we never compromise on quality. We genuinely pride ourselves on providing premium-quality assignment help services to our customers free from errors.</p></div>
		                </div>
		                <div class="quality__subtitle"><h4 class="mb-3 text-dark">1. Plagiarism Checking</h4></div>
		                <div class="quality__text"><p>Our competent expert tutors write original solutions for your problem, free from any error and plagiarism. Not only this, but we also cross-check all the noted data using many trusted tools to offer you 100% unique answers.</p></div>
		                <div class="quality__subtitle"><h4 class="mb-3 text-dark">2. Strict Quality Control </h4></div>
		                <div class="quality__text"><P>We not only strive to deliver plagiarism-free assignment solutions, but we also focus on controlling the quality. That's why every paper/solution is examined by experienced and professional editors.</P></div>
		            </div>
		        </div>
		    </div>
	        <div class="col-md-7">
	        	<div class="quality-right">
		            <div class="quality__img text-center pt-4">
	                        <img class="lazy" src="{% static 'images/quality-img.png' %}">
	                </div>
		        </div>
	        </div>
	    	</div>
	    </div>
	</section>
	
	
	<!-- Testimonial Section -->
	<section class="testimonial-section">
		<div class="circle-one paroller" data-paroller-factor="-0.20" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="circle-two paroller" data-paroller-factor="0.20" data-paroller-factor-lg="-0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="pattern-layer-two" style="background-image:url('/static/images/background/pattern-10.png')"></div>
		<div class="auto-container">
			<div class="inner-container">
				<div class="pattern-layer" style="background-image:url('/static/images/background/pattern-9.png')"></div>
				<!-- Sec Title -->
				<div class="sec-title centered">
					<div class="title">Testimonial</div>
					<h2>Words From Customers</h2>
					<div class="text">95% of students love us! Let’s take a look, what they say about our services!</div>
				</div>
				<div class="testimonial-carousel owl-carousel owl-theme">
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Tutor Champs is truly an efficient Assignment writing service according to me. I am amazed by the sheer professionalism and transparency of the writers of this site. I’m sticking to this site for all my academic requirements.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Chris</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Every site I approached always quoted ridiculously high prices for offering assignment help. Then my friend recommended your site and I found that the prices were extremely nominal.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Kennedy</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I've always been such an average student, but then Tutor Champs happened, and that reflected positively on my academic performance. Hiring you guys for my paper was the best thing I've done.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Sejal</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I had casually placed an order on Tutor Champs for a short essay and wanted to see if their claim of timely delivery of tasks was true or not. The assignment was not delivered on time, but the quality of the essay was also remarkable.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Joe</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I love these guys, so amazing. My Assignment problem is not easy, but they did so well. I will go with the more, Thank you to the tutor. Amazing job on time.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Anita</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Excellent experience with a professionally delivered work. Highly recommended! Answered my question which I didn't understand and broke it down into sections which was very useful and understandable.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Cesar</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Testimonial Section -->

	<section class="HomHelp content_sec">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
		            <h2 class="h_2 mb-3 text-dark">How Does Tutor Champs Assignment Writing Service Work?</h2>
		            <p>Are you worried about the burden of assignments and Want somebody to help you with it? Then you must know that Tutor Champs offers you online assignment help. You can get professional help and support anywhere and anytime from the experts of Tutor Champs. You just need to pay for assignment help and watch your work done in no time. With the numerous benefits they offer, the most important one is that you will score better grades in class. Increasingly, more and more students prefer assignment writing services from experts as it is time-saving as well as convenient.</p>
		            <h3 class="h_3 mb-3 text-dark">Create your account</h3>
					<p>You can create your account on the homepage of the company. You can either click on ‘Register’ available at the right top corner or click on 'sign in'. On clicking, you will be directed to another page. There you need to fill in all the required details.</p>
					<h3 class="h_3 mb-3 text-dark">Ask for help and provide references</h3>
					<p>Now you are ready to get online assignment help from Tutor Champs. Write your doubts and send them with a set deadline. They will make sure that the deadline is never crossed. Make sure you provide references to help them find the perfect tutor for your online assignment help.</p>
					<h3 class="h_3 mb-3 text-dark">Hire the tutor of your choice</h3>
					<p>The next step is to choose the tutor according to your needs and preferences. 
						Tutor Champs has a team of most skilled professionals who are experts in their respective fields. Therefore, you can get a tutor who will provide a great assignment help service to you. You can pay for assignment help and get extreme expertise from qualified tutors. 
						</p>
						<h3 class="h_3 mb-3 text-dark">Get quality service with no plagiarism</h3>
						<p>Tutor Champs ensure that the service they provide is excellent. All their solutions are original and you will not get into copyright issues. Additionally, these original answers will help you stand out from the crowd in your academic year and get an excellent result. </p>
		            
					<h2 class="h_2 mb-3 text-dark">Why Should You Choose Tutor Champs To Get Online Assignment Help?</h2>
					<h3 class="h_3 mb-3 text-dark">24/7 assignment assistance</h3>
					<p>In case you have a query about textbook questions or a mathematical problem, Tutor Champs experts will provide 24*7 assistance. They will be present all the time with you to guide you and support you throughout your work. If you have doubts after receiving your assignment, they will clear it out as many times as you want until you are satisfied. </p>
					<h3 class="h_3 mb-3 text-dark">Student-friendly tutors</h3>
					<p>Tutor Champs experts provide assignment help in a number of subjects such as Mathematics, Physics, Biology, Statistics, Chemistry, Earth Science, English, Computer Science, Calculus and others. The assignment help service provides you with a student-friendly platform. If you ask them 'write my assignment for me' they would be more than happy to help you with it. </p>
					<h3 class="h_3 mb-3 text-dark">Direct Communication</h3>
					<p>If you want to directly communicate with your assignment helper, Tutor Champs provides you with this facility. They allow you to directly ask your doubts from the experts through WhatsApp or email. You can ask for unlimited revisions if you're not satisfied with the work. Students can easily submit their queries and get homework help within a certain period of time.</p>
					<h3 class="h_3 mb-3 text-dark">Tutor Champs has Expert tutors</h3>
					<p>If you are looking for highly qualified teachers who will support you throughout your writing journey, then Tutor Champs is definitely the right choice. The teachers are well qualified global tutors who have passed out of premier academic institutions and come with academic or industry experience. If you want to avail of an assignment writing service from them, contact them right away. </p>
					<h3 class="h_3 mb-3 text-dark">Step by step guidance</h3>
					<p>Here you will get step-by-step writing assistance from experts to meet your assignment deadline. Students can ask questions directly on the tutor WhatsApp and they will provide the fastest solution. In case a student is unable to understand the solution provided by them, they will follow step by step methodology to make the student clear his/her concepts.</p>
		        </div>
		    </div>
	    	</div>
	    </div>
	</section>

	<!-- Career Section -->
	<section class="career-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title text-center">
				<h2>FAQs</h2>
			</div>
			
			<div class="row clearfix">
				
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image titlt" data-tilt data-tilt-max="4">
							<img src="{% static 'images/resource/career.png' %}" alt="" />
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<div id="accordion">
							<div class="card questions-con">
							    <div class="card-header" id="headingOne">
							      <h5 class="mb-0">
							        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										How Long Will It Take To Get Solutions?
							        </button>
							      </h5>
							    </div>

							    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							      <div class="card-body">
							        Tutor Champs make sure that all your assignments are done before your final submission. In case of urgent assignment help service, we recommend you to set a deadline and we will assure you that your deadline is never crossed.
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingTwo">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										Can I Submit Multiple Questions At Once?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							      <div class="card-body">
							        A big yes, we encourage students to submit as many questions as they prefer. We assure you that all your questions will be answered very soon. 
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingThree">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										What Happens If A Tutor Cancels An Accepted Session?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
							      <div class="card-body">
							        Generally, we don't encourage the cancellation of sessions. As the sessions are set after both parties agree to it. However, in an unlikely situation of a tutor cancelling a session, the student is refunded the payment for the session that is cancelled. 
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingFour">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
										What Happens If I Am Provided With An Incorrect Solution? 
							        </button>
							      </h5>
							    </div>
							    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
							      <div class="card-body">
							        We send solutions after it is double-checked by the tutor. In case, if you receive an incorrect solution, we immediately refund the student payment and assign the question to a new tutor. 
							      </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Career Section -->
	
	<!-- Main Footer -->

	{% endblock body %}
