{% extends "base.html" %}
	{% block body %}
	  
	<section class="ban-inner ordPage">
	    <div class="container">
	      	<div class="row">
	        	<div class="col-lg-12">
	          		<div class="orderForm mt-5 mb-4">
	          			{% include "forms.html" %}
	          		</div>
	                     
	        	</div>
	        </div>
	    </div>
	</section>

	<section class="services ordPage mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-dark">Why Students <span class="wow animate__animated animate__animated" style="visibility: visible;">Trust</span> Us</h2>
                <p class="width70">Tutor Champs is dedicated towards making homework simpler for students since 2015. Our PhD expert tutors ensure high quality work within deadline for higher grades.</p>
                <a class="readMore" href="/features/">Read More   
                	<svg id="point-to" viewBox="0 0 512 512">
    
					    <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792 H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083 c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z "></path>
					  </svg>
                </a> </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="srvSub">
                        <span class="wow  animate__slideInLeft animate__animated"><img src="https://www.myassignmentservices.com/assets/front/images/ord-steps.jpg" alt=""></span>
                        <p>100% Plagiarsim Free Solutions</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="srvSub">
                        <span class="wow  animate__slideInDown animate__animated"><img src="https://www.myassignmentservices.com/assets/front/images/ord-experts.jpg" alt=""></span>
                        <p>2500+ Expert Tutors</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="srvSub">
                        <span class="wow  animate__slideInDown animate__animated"><img src="https://www.myassignmentservices.com/assets/front/images/ord-live-expert.jpg" alt=""></span>
                        <p>One Destination for All Subject Solutions</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="srvSub">
                        <span class="wow  animate__slideInRight animate__animated"><img src="https://www.myassignmentservices.com/assets/front/images/ord-app.jpg" alt=""></span>
                        <p>24x7 Availability</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="srvSub">
                        <span class="wow animate__animated animate__slideInLeft"><img src="https://www.myassignmentservices.com/assets/front/images/ord-social.jpg" alt=""></span>
                        <p>Confidentiality</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="srvSub">
                        <span class="wow animate__animated animate__slideInUp"><img src="https://www.myassignmentservices.com/assets/front/images/ord-secret.jpg" alt=""></span>
                        <p>100% Correct Solutions</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="srvSub">
                        <span class="wow animate__animated animate__slideInUp"><img src="https://www.myassignmentservices.com/assets/front/images/ord-refund.jpg" alt=""></span>
                        <p>On Time delivery</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="srvSub">
                        <span class="wow animate__animated animate__slideInRight"><img src="https://www.myassignmentservices.com/assets/front/images/ord-student.jpg" alt=""></span>
                        <p>Cost Effective Pricing</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
	
	{% endblock body %}
