<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <title>Done</title>
    <style>
    	body{
    		min-height: 100vh;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    text-align: center;
		}
		h1{
        	font-family: 'Noto Sans TC', sans-serif;
		    font-size: 30px;
		    font-weight: 800;
		    text-transform: capitalize;
		    color: #000;
        }
        p{  
        	font-size: 16px;
		    line-height: 1.7em;
		    margin-bottom: 12px;
		    font-weight: 400;
		    font-family: 'Noto Sans TC', sans-serif;
		}
		
    </style>
</head>
<body>
    

<div class="container p-4">
    <h1 class="font-weight-bold">Password reset complete</h1>
    <hr>
    <p>Your password has been set. You may go ahead and log in now.</p>                 
    
    <div class="text-center psr mt-5">
        <a href="/login" class="theme-btn btn-style-one"><span class="txt">Log in</span></a>
    </div>
</div>

</body>
</html>
