{% extends "base.html" %}
{% load static %}
{% block meta %}
<meta charset="utf-8"> 
<title>Privacy Policy - TutorChamps - #1 Homework Help Provider</title>
<meta name="description" content="TutorChamps strictly cares for the privacy of its customers and promises to keep the data secure in any way possible. " />
<meta name="robots" content="index, follow">
<meta name="keywords" content="privacy policy, privacy policy for students" />
<link rel="canonical" href="https://tutorchamps.com/privacy-policy/" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Privacy Policy - TutorChamps - #1 Homework Help Provider" />
<meta property="og:description" content="TutorChamps strictly cares for the privacy of its customers and promises to keep the data secure in any way possible." />
<meta property="og:url" content="https://tutorchamps.com/privacy-policy/" />
<meta property="og:locale" content="en_USA" />
<meta property="og:site_name" content="TutorChamps.com" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Privacy Policy - TutorChamps - #1 Homework Help Provider" />
<meta name="twitter:description" content="TutorChamps strictly cares for the privacy of its customers and promises to keep the data secure in any way possible." />
{% endblock meta %}

{% block body %}
  
 

	<section class="contentSec privacy py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 left">
        
                                        
                    <h1>Privacy Policy</h1>
<p>It is essential that you maintain your privacy. This Privacy Policy explains how we (hereinafter referred to as "we," "our," or "us") collect, utilise, and disclose Personal Information about or from you on TUTORCHAMPS.COM (hereinafter referred to as "Site").</p>
<p>You agree to be bound by the terms and conditions of this Privacy Policy by using this Site. You fully consent to our collection, use, and sharing of your personal information in line with this Privacy Policy by accepting it. Please do not use this Site if you do not agree.
<br>This Privacy Policy is part of the Terms of Service and is governed by them.</p>
<p>In July 2021, this Privacy Policy was modified.</p>
<h3>We place a high value on your privacy. There are a few basic concepts that we follow</h3>
  <ul class="u_list">
    <li>We are considerate of the personal data we request from you and the personal information we acquire about you as a result of our services.</li>
    <li>We preserve personal information until we no longer have a need for it or until it is required by law.</li>
    <li>We want to make it as easy as possible for you to decide what information is published publicly (or kept private), indexed by search engines, and permanently erased from our website.</li>
    <li>We strive for complete openness in how we collect, handle, and disclose your personal data.</li>
  </ul>
<h3>Cookies</h3>
<p>"Cookies" are unique identifiers transmitted from a web server and saved on your computer's hard drive that allows us to recognise you when you return to our site. Cookies are used on our site to keep track of how you reached us. We do not use cookies to store or transmit any personal information about you on the Internet in order to safeguard your privacy. You can choose whether or not to accept cookies. Most web browsers allow cookies by default, however, you can generally change your browser's settings to reject cookies if you prefer. Certain elements of the site may not operate properly or at all if you opt to reject cookies. We have no control over how third parties utilise cookies.</p>
<h3>Jurisdiction and the legislation that governs it </h3>
<p>The laws of India govern and are construed in line with the terms of this Privacy Policy. You agree to submit to the exclusive and exclusive jurisdiction of the Delhi, India courts.</p>
<h3>Security </h3>
<p>The security of your information is extremely important to TutorChamps. To encrypt information sent over the internet, we utilise SSL (Secure Socket Layer). We use acceptable physical, technical, and administrative security measures and make every effort to ensure that they are appropriate for the situation. However, no mode of communication via the Internet, or of electronic storage, is completely safe. As a result, while we attempt to secure your personal information using commercially reasonable measures, we cannot guarantee its ultimate security.</p>
<h3>Modifications to this Privacy Policy</h3>
<p>This Privacy Policy may be updated from time to time. Adjustments in laws, regulations and industry standards may necessitate those modifications, or we may make changes to our company. We'll update this page with the changes, and we encourage you to check back often to keep up to date. If we make changes that substantially impact your privacy rights, we will notify you through email or through the Website. You should delete your account if you disagree with the modifications to this Privacy Policy.</p>                     </div>
          </div>
  </div>
</section>
	
	<!-- Main Footer -->

	{% endblock body %}
