{% extends "base.html" %}
{% load static %}
{% block body %}
  

<section class="contentSec privacy py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 left">                                        
            <h1>Refund Policy</h1>
              <p>Tutor Champs is a well-known academic writing service. We have been effectively offering high-quality assignment and homework help to all students in order to make the completion of assignments and test preparation simpler and easier. We strive to deliver the finest services possible, however, in the event of a problem or an error, clients may request a refund.</p>
              <p>If you change your mind and decide to stop using our service after making a payment, the amount you will be reimbursed will be determined by how much work has been completed up to that point. The amount refunded will be the payment price less the cost of work completed up to that point. Along with the return amount, the work completed up to that point will be provided.</p>
              <p>If you are dissatisfied with our services, you can request a refund. An agreement between the Website administrator and the user is required to begin a refund. If you are unable to reach an agreement, there will be no returns. We shall contact our subject's expert about the price of the refund once it has been begun, and the amount determined by our expert will be reimbursed.</p>
              </div>
          </div>
  </div>
</section>
	
	<!-- Main Footer -->

	{% endblock body %}
