{% extends "base.html" %}
{% load static %}
{% block body %}
  
 <div class="banner-section serSec news-section pt-0 pb-0 banner--in">
 	<div class="pattern-layer-six" style="background-image: url('/static/images/main-slider/pattern-4.png')"></div>
 	<div class="pattern-layer-seven" style="background-image: url('/static/images/main-slider/pattern-5.png')">
		</div>
		<div class="pattern-layer-two" style="background-image: url('/static/images/main-slider/pattern-2.png')"></div>
		<div class="icon-layer-one" style="background-image:url('/static/images/icons/icon-1.png')"></div>
		<div class="image-column" style="z-index: 0;">
			<div class="pattern-layer-three" style="background-image: url('/static/images/main-slider/icon-1.png')"></div>
		</div>
	<div class="ban_container">
		<div class="row row_">
			<div class="col-md-6 text-center zIndex9">
				<img  class="zIndex9" src="/static/images/science.png">
			</div>
				<div class="col-md-6 banner_con">
					<h1>Science Homework Help</h1>
					<h2>Get The Best Science Homework Help From The Expert Tutors! </h2>
					<div class="__form-container">
						{% include "forms.html" %}
					</div>
		
		</div>
		</div>
		</div>
	</div>
	
	{% include "hiw.html" %}


	<section class="getting-more">
	    <div class="container">
			<div class="title title-big text-center"><h2>Our Homework Help Service In A Nutshell</h2></div>
	        <!-- <div class="title title-big text-white text-center"><h2>Turn in Quality Written Assignment.<br> Save Your Free Time.</h2> </div> -->
	        <div class="row">
	            <div class="col-md-4">
	            	<div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-1.png' %}">
		                <div class="getting-more__subtitle">
		                	<h3 class="mb-3 text-dark">All Types of Homework</h3>
		                </div>
		                <div class="getting-more__text">
		                    No matter what the subject matter is, we are here to help you! Our expert and highly skilled expert tutors will help you with your homework, whether it is an academic argument or a book summary. Not only this, we provide new and creative text.                 </div>
		            </div>
	            </div>
	            <div class="col-md-4">
		            <div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-2.png' %}">
		                <div class="getting-more__subtitle"><h3 class="mb-3 text-dark">3-6 Hours Turnaround.</h3>  </div>
		                <div class="getting-more__text">
		                    Our comprehensive expert tutors are available 24/7 to offer you instant, round-the-clock assistance with your homework issues and queries. So, if you are running out of time and are looking for someone to get help from, then rely on Tutor Champs.                </div>
		            </div>
		        </div>
		        <div class="col-md-4">
		            <div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-3.png' %}">
		                <div class="getting-more__subtitle"><h3 class="text-dark mb-3">100% Anonymous.</h3></div>
		                <div class="getting-more__text">
		                    We never take your safety for granted. All personal information, payment-related info, and other details are kept confidential to protect your identity.                 </div>
		            </div>
	        	</div>
	        </div>
	    </div>
	</section>

	<section id="quality" class="quality">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-5">
		        <div class="quality-left">
		            <div class="quality__content ">
		                <div class="quality__title">
		                	<h2 class="h_2 text-dark">High-Caliber & Quality-Assured Results</h2>
		                    <div class="quality__subtitle"><p>Being the top-rated and prominent homework help website, we never compromise on quality. We genuinely pride ourselves on providing premium-quality homework help services to our customers free from errors.</p></div>
		                </div>
		                <div class="quality__subtitle"><h4 class="mb-3 text-dark">1. Plagiarism Checking</h4></div>
		                <div class="quality__text"><p>Our competent expert tutors write original solutions for your problem, free from any error and plagiarism. Not only this, but we also cross-check all the noted data using many trusted tools to offer you 100% unique answers.</p></div>
		                <div class="quality__subtitle"><h4 class="mb-3 text-dark">2. Strict Quality Control </h4></div>
		                <div class="quality__text"><P>We not only strive to deliver plagiarism-free homework solutions, but we also focus on controlling the quality. That's why every paper/solution is examined by experienced and professional editors.</P></div>
		            </div>
		        </div>
		    </div>
	        <div class="col-md-7">
	        	<div class="quality-right">
		            <div class="quality__img text-center pt-4">
	                        <img class="lazy" src="{% static 'images/quality-img.png' %}">
	                </div>
		        </div>
	        </div>
	    	</div>
	    </div>
	</section>
	
	
	<!-- Testimonial Section -->
	<section class="testimonial-section">
		<div class="circle-one paroller" data-paroller-factor="-0.20" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="circle-two paroller" data-paroller-factor="0.20" data-paroller-factor-lg="-0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="pattern-layer-two" style="background-image:url('/static/images/background/pattern-10.png')"></div>
		<div class="auto-container">
			<div class="inner-container">
				<div class="pattern-layer" style="background-image:url('/static/images/background/pattern-9.png')"></div>
				<!-- Sec Title -->
				<div class="sec-title centered">
					<div class="title">Testimonial</div>
					<h2>Words From Customers</h2>
					<div class="text">95% of students love us! Let’s take a look, what they say about our services!</div>
				</div>
				<div class="testimonial-carousel owl-carousel owl-theme">
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Tutor Champs is truly an efficient Assignment writing service according to me. I am amazed by the sheer professionalism and transparency of the writers of this site. I’m sticking to this site for all my academic requirements.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Chris</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Every site I approached always quoted ridiculously high prices for offering Homework Help. Then my friend recommended your site and I found that the prices were extremely nominal.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Kennedy</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I've always been such an average student, but then Tutor Champs happened, and that reflected positively on my academic performance. Hiring you guys for my paper was the best thing I've done.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Sejal</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I had casually placed an order on Tutor Champs for a short essay and wanted to see if their claim of timely delivery of tasks was true or not. The assignment was not delivered on time, but the quality of the essay was also remarkable.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Joe</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I love these guys, so amazing. My Assignment problem is not easy, but they did so well. I will go with the more, Thank you to the tutor. Amazing job on time.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Anita</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Excellent experience with a professionally delivered work. Highly recommended! Answered my question which I didn't understand and broke it down into sections which was very useful and understandable.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Cesar</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Testimonial Section -->

	<section class="HomHelp content_sec">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
		            <h2 class="h_2 mb-3 text-dark">Get Your Science Homework Solved By Academic Experts</h2>
		            <p>Science is regarded as the oldest and most essential academic discipline that covers a wide range of subjects. Science helps us understand and evaluate the world around us and beyond through experiments, facts, evidence, discoveries, and observations.</p>
		            <p>After maths, science is one such subject that students find challenging to do. It becomes difficult for students to create a robust foundation and transparency between the branches of science and their significance in day-to-day life. So, all those students who are struggling with their science homework can seek help from us because we have:</p>
					<h3 class="h_3 mb-3 text-dark">Highly Reputed Online Tutors</h3>
					<p>We only hire tutors who can qualify our rigorous hiring procedure. Get science homework help from educators who have mastered the subject matter they are teaching.</p>
					<h3 class="h_3 mb-3 text-dark">Customized Classes</h3>
					<p>Our knowledgeable online science tutor offers 1:1 customized mentoring to students that enhance their learning experience. On top of this, educators play an essential role in sharpening their skills by clearing the unsure concepts and topics.</p>
					<h3 class="h_3 mb-3 text-dark">Top-Notch E-Learning Platform</h3>
					<p>Classrooms equipped with an interactive whiteboard, chat interface, and team of highly-educated tutors makes us the top-rated e-learning platform that helps students and tutors to communicate efficiently.</p>
					<h3 class="h_3 mb-3 text-dark">Recorded Sessions</h3>
					<p>By chance, if you miss your online session, you can still access the recorded videos of that online session. You can go back and review it whenever and wherever you want.</p>
					<h3 class="h_3 mb-3 text-dark">Learn From Anywhere & Anytime</h3>
					<p>You can attend science online tutoring sessions from anywhere in the world – no matter if you are sitting at home or traveling by train. Moreover, our tutors provide science help online round the clock so that you can get instant guidance from experts.</p>
					<h2 class="h_2 mb-3 text-dark">How Our Highly Qualified Science Experts Help With Your Assignments?</h2>
		            <p>There’s no surprise that science can be a tricky subject, but it's assignments are more challenging. That’s why we not only provide help with science homework, but we also strive to offer science assignment help to students in need.</p>
		            <p>If you don’t have enough time and resources to complete your science assignment and are looking for someone who can help you with that, then you are in the right place. So, share your issues with our educators and grab fruitful benefits. Don’t forget to check the process, how our tutors work for you!</p>
					<h3 class="h_3 mb-3 text-dark">Step 1: Determine The Queries</h3>
					<p>First of all, our expert science assignment writers analyze the question. They try to determine the queries and concerns. After that, they make a carefully planned strategy and work on them.</p>
					<h3 class="h_3 mb-3 text-dark">Step 2: Do Thorough Research & Gather Important Information</h3>
					<p>After determining the queries, our educators start collecting all the essential information and data required for your science assignments. They select reliable resources and check their relevance.</p>
					<h3 class="h_3 mb-3 text-dark">Step 3: Make A Draft</h3>
					<p>After collecting all the vital information and data, our assignment writers start preparing a draft by penning down everything. You will get 100% unparalleled, creative, and error-free assignments made from scrape.</p>
					<h3 class="h_3 mb-3 text-dark">Step 4: Finalize It & Submit It</h3>
					<p>Once the writing is done, our experienced and professional proofreaders will check the entire assignment to ensure quality. At last, we will submit the assignment to you before the deadline.</p>
					<h2 class="h_2 mb-3 text-dark">Get Help From The #1 Science Help Website & Ace Your Science Class</h2>
					<p>No matter, you are stuck with a complicated science concept or preparing for a test. We are here to assist you! From reviewing your science problems to writing a report lab, our skilled educators offer assistance to every issue 24/7 at affordable prices. Our highly experienced team of tutors clears all the theoretical concepts and makes learning more fun.</p>
					<p>Additionally, we also provide a facility to connect with an expert educator on a 1:1 basis that will help in improving your science grades. Students will get a chance to upload their textbook and draw diagrams using the interactive whiteboard, making the learning process more effective. So, if you want to brush up on your science concepts, then get in touch with us today!</p>
		        </div>
		    </div>
	    	</div>
	    </div>
	</section>

	<!-- Career Section -->
	<section class="career-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title text-center">
				<h2>FAQs</h2>
			</div>
			
			<div class="row clearfix">
				
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image titlt" data-tilt data-tilt-max="4">
							<img src="{% static 'images/resource/career.png' %}" alt="" />
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<div id="accordion">
							<div class="card questions-con">
							    <div class="card-header" id="headingOne">
							      <h5 class="mb-0">
							        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										Can I Pay Someone To Do My Science Homework? Is It Safe?
							        </button>
							      </h5>
							    </div>

							    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							      <div class="card-body">
							        Yes, you can avail of online science homework help, and it is 100% safe to take these services. An E-Learning platform like TutorChamps is secure and trustworthy. We aim to offer you help with your homework, assignments, doubtful questions, exam preparation at cost-effective pricing. Furthermore, we never share any personal information with anyone. We keep your identity protected and confidential!
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingTwo">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										What Are The Advantages Of Taking Online Tutoring Services From Tutor Champs?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							      <div class="card-body">
							        Tutor Champs has transformed the learning and teaching procedure. Our competent and proficient experts work day and night to make the learning process more effective yet simple. Below are some advantages that compel you to take online tutoring services from TutorChamps. Have a look!
									<ul>
										<li><b>Intensified Learning with Interactive Tools:</b> We live in the 21st century, where everything is driven by technology. Students are habitual of watching online videos, texts, etc. So, they can become quickly adept at the new learning process using the interactive whiteboard. It not only strengthens their weak points but also makes them confident.
										</li>
										<li><b>Training from Masters of the Disciplines:</b> One of the primary advantages of taking online tutoring services from TutorChamps is getting trained from the masters of their fields. They will share their knowledge and practical experience with you, that is an added advantage for students.</li>
										<li><b>24/7 Availability:</b> Another benefit of taking online tuitions from TutorChamps is round-the-clock availability. Students can schedule a session at their convenience. Our dedicated educators will be ready to teach you, whether it is early in the morning or late at night.</li>
									</ul>
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingThree">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										Did You Assist In All Subject Areas Of Science?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
							      <div class="card-body">
							        Yes! We offer help in all subject areas of science such as:
									<ul>
										<li>Ecology</li>
										<li> Biology</li>
										<li>Geology</li>
										<li>Psychology</li>
										<li>Astronomy</li>
										<li>Microbiology</li>
										<li>Anatomy</li>
										<li>Earth Science</li>
										<li> Physiology and many more.</li>
									</ul>
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingFour">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
										What Is The Process Of Connecting With A Science Tutor Online?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
							      <div class="card-body">
							        If you want to connect with a science tutor online, firstly visit the official web page of TutorChamps. After that, press the “Sign In” tab. A pop-up box will appear. Now, you are required to press on the “Start Here” link given in front of “New User?”.  Then, enter the asked information, including your email id, phone number, subject code, etc. Finally, submit all the details. 
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingFive">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
										Can You Help Me With My Science Test?					        </button>
							      </h5>
							    </div>
							    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
							      <div class="card-body">
							        Yes, our educators are ready to assist you with everything – whether it is a science test, project/lab report, exam preparation, a specific problem, or a complete chapter analysis. Furthermore, to help you with your test, we conduct online sessions. All you need to book your session at your convenience. One of our talented tutors will join you and help you with all your queries, problems, and doubtful concepts. Besides this, they will also give you some valuable tips and tricks that help you ace the science test.
							      </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Career Section -->
	
	<!-- Main Footer -->

	{% endblock body %}
