{% extends "base.html" %}
{% load static %}
{% block body %}
  
 <div class="banner-section serSec news-section pt-0 pb-0 banner--in">
 	<div class="pattern-layer-six" style="background-image: url('/static/images/main-slider/pattern-4.png')"></div>
 	<div class="pattern-layer-seven" style="background-image: url('/static/images/main-slider/pattern-5.png')">
		</div>
		<div class="pattern-layer-two" style="background-image: url('/static/images/main-slider/pattern-2.png')"></div>
		<div class="icon-layer-one" style="background-image:url('/static/images/icons/icon-1.png')"></div>
		<div class="image-column" style="z-index: 0;">
			<div class="pattern-layer-three" style="background-image: url('/static/images/main-slider/icon-1.png')"></div>
		</div>
		<div class="ban_container">
			<div class="row row_">
				
				<div class="col-md-6 text-center zIndex9">
					<img  class="zIndex9" src="/static/images/Statistics.png">
				</div>
				<div class="col-md-6 banner_con">
					<h1>Statistics Homework Help</h1>
					<h2>Get The Best Statistics Homework Help From The Expert Tutors! </h2>
					<div class="__form-container">
					{% include "forms.html" %}
					</div>
		
		</div>
		</div>
		</div>
	</div>
	
	{% include "hiw.html" %}


	<section class="getting-more">
	    <div class="container">
			<div class="title title-big text-center"><h2>Our Homework Help Service In A Nutshell</h2></div>
	      
	        <div class="row">
	            <div class="col-md-4">
	            	<div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-1.png' %}">
		                <div class="getting-more__subtitle">
		                	<h3 class="mb-3 text-dark">All Types of Homework</h3>
		                </div>
		                <div class="getting-more__text">
		                    No matter what the subject matter is, we are here to help you! Our expert and highly skilled expert tutors will help you with your homework, whether it is an academic argument or a book summary. Not only this, we provide new and creative text.                 </div>
		            </div>
	            </div>
	            <div class="col-md-4">
		            <div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-2.png' %}">
		                <div class="getting-more__subtitle"><h3 class="mb-3 text-dark">3-6 Hours Turnaround.</h3>  </div>
		                <div class="getting-more__text">
		                    Our comprehensive expert tutors are available 24/7 to offer you instant, round-the-clock assistance with your homework issues and queries. So, if you are running out of time and are looking for someone to get help from, then rely on Tutor Champs.                </div>
		            </div>
		        </div>
		        <div class="col-md-4">
		            <div class="getting-more__item ">
		                <img class="lazy" alt="" src="{% static 'images/getting-more-img-3.png' %}">
		                <div class="getting-more__subtitle"><h3 class="text-dark mb-3">100% Anonymous.</h3></div>
		                <div class="getting-more__text">
		                    We never take your safety for granted. All personal information, payment-related info, and other details are kept confidential to protect your identity.                 </div>
		            </div>
	        	</div>
	        </div>
	    </div>
	</section>

	<section id="quality" class="quality">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-5">
		        <div class="quality-left">
		            <div class="quality__content ">
		                <div class="quality__title">
		                	<h2 class="h_2 text-dark">High-Caliber & Quality-Assured Results</h2>
		                    <div class="quality__subtitle"><p>Being the top-rated and prominent homework help website, we never compromise on quality. We genuinely pride ourselves on providing premium-quality homework help services to our customers free from errors.</p></div>
		                </div>
		                <div class="quality__subtitle"><h4 class="mb-3 text-dark">1. Plagiarism Checking</h4></div>
		                <div class="quality__text"><p>Our competent expert tutors write original solutions for your problem, free from any error and plagiarism. Not only this, but we also cross-check all the noted data using many trusted tools to offer you 100% unique answers.</p></div>
		                <div class="quality__subtitle"><h4 class="mb-3 text-dark">2. Strict Quality Control </h4></div>
		                <div class="quality__text"><P>We not only strive to deliver plagiarism-free homework solutions, but we also focus on controlling the quality. That's why every paper/solution is examined by experienced and professional editors.</P></div>
		            </div>
		        </div>
		    </div>
	        <div class="col-md-7">
	        	<div class="quality-right">
		            <div class="quality__img text-center pt-4">
	                        <img class="lazy" src="{% static 'images/quality-img.png' %}">
	                </div>
		        </div>
	        </div>
	    	</div>
	    </div>
	</section>
	
	
	<!-- Testimonial Section -->
	<section class="testimonial-section">
		<div class="circle-one paroller" data-paroller-factor="-0.20" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="circle-two paroller" data-paroller-factor="0.20" data-paroller-factor-lg="-0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="pattern-layer-two" style="background-image:url('/static/images/background/pattern-10.png')"></div>
		<div class="auto-container">
			<div class="inner-container">
				<div class="pattern-layer" style="background-image:url('/static/images/background/pattern-9.png')"></div>
				<!-- Sec Title -->
				<div class="sec-title centered">
					<div class="title">Testimonial</div>
					<h2>Words From Customers</h2>
					<div class="text">95% of students love us! Let’s take a look, what they say about our services!</div>
				</div>
				<div class="testimonial-carousel owl-carousel owl-theme">
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Tutor Champs is truly an efficient Assignment writing service according to me. I am amazed by the sheer professionalism and transparency of the writers of this site. I’m sticking to this site for all my academic requirements.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Chris</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Every site I approached always quoted ridiculously high prices for offering Homework Help. Then my friend recommended your site and I found that the prices were extremely nominal.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Kennedy</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I've always been such an average student, but then Tutor Champs happened, and that reflected positively on my academic performance. Hiring you guys for my paper was the best thing I've done.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Sejal</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I had casually placed an order on Tutor Champs for a short essay and wanted to see if their claim of timely delivery of tasks was true or not. The assignment was not delivered on time, but the quality of the essay was also remarkable.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Joe</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I love these guys, so amazing. My Assignment problem is not easy, but they did so well. I will go with the more, Thank you to the tutor. Amazing job on time.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Anita</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Excellent experience with a professionally delivered work. Highly recommended! Answered my question which I didn't understand and broke it down into sections which was very useful and understandable.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Cesar</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Testimonial Section -->

	<section class="HomHelp content_sec">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
		            <h2 class="h_2 mb-3 text-dark">How Does Online Statistics Homework Help?</h2>
		            <p>Are you searching for an expert help who will assist you in finishing your statistics homework before the time? If yes, then Tutor Champs is the #1 statistics help website that has helped and is helping a number of students worldwide by providing them help with statistics homework online. Students need to struggle a lot to get their assignments done on time. The Tutor Champs team offers the best statistics help online for all the students around the globe.  </p>
					<p>Tutor Champs offers fast, simple and easy service to all the students. If you're interested in taking statistics assignment help from Tutor Champs experts, just follow three simple steps and get your help right away. </p> 
					<h3 class="h_3 mb-3 text-dark">Fill The Form</h3>
					<p>Just get to the website, there you will see a form. Fill in the details that are asked by the website. After you have filled in the details, provide some information about the help you are in need of.</p>
					<h3 class="h_3 mb-3 text-dark">Choose The Tutor And Pay</h3>
					<p>The next step is to choose the tutors that will suit your needs. From a list of tutors available on the website, you can choose the one that is an expert in the subject related to your assignment. After that, you will get a quote from Tutor Champs company about the payment, just pay and confirm. </p>
					<h3 class="h_3 mb-3 text-dark">Track The Progress Of Your Work</h3>
					<p>The last step is you can communicate with your tutor related to your work. He will help you to know how much work is completed and assure you that you’ll receive your work before the deadline. When the work is completed by your tutor, you will receive a notification from where you can collect your homework. You can check the work provided by your tutor. </p>
					
					<h2 class="h_2 mb-3 text-dark">Why Should You Choose Tutor Champs Experts To Get Statistics Homework Help?</h2>
	                <p>Tutor Champs has a team of most skilled professionals who are experts in their respective fields. Statistics is a tough subject, therefore if students need to take command over it, they need proper guidance. We provide you with all-time support and in-depth information about the concept. Here are some points why you should choose Tutor Champs to get statistics assignment help.</p>
					<h3 class="h_3 mb-3 text-dark">Top-rated Tutoring Service </h3>
					<p>Tutor Champs is the right platform where you will get help from expert tutors who hold specialisations in different subjects. Not only this, if you are not satisfied with the work, you can resend your doubts and we'll get back to you. We provide you with an unlimited revision of your assignment to assure that your work is completed before the submission of your assignment.</p>
					<h3 class="h_3 mb-3 text-dark">Get Timely Solutions</h3>
					<p>If you want quick help with statistics, then you can count on the #1 statistics help website Tutor Champs. They provide you with timely solutions with step by step methods. If in case you do not understand the solution you can ask your online statistics tutor to help you with it. They will be more than happy to provide you with help.</p>
					<h3 class="h_3 mb-3 text-dark">Assurance Of Plagiarism-free Paper </h3>
					<p>If you choose Tutor Champs to get statistics assignment help, you don't have to worry about plagiarism. The professionals will double-check the quality of the paper before handing it over to you. They have special tools to check the plagiarism and quality of the paper. </p>
					<h3 class="h_3 mb-3 text-dark">Customized Content Available</h3>
					<p>If you want to have customized content, Tutor Champs is there to help you. While making the choice of the tutor you can send them specific references if you want to get your assignment to be done the same way. Your request 'do my statistics homework will be accepted by the experts in a great way. Their professional editor’s team will remove all the errors from your paper to give you the best outcome.</p>
		        </div>
		    </div>
	    	</div>
	    </div>
	</section>

	<!-- Career Section -->
	<section class="career-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title text-center">
				<h2>FAQs</h2>
			</div>
			
			<div class="row clearfix">
				
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image titlt" data-tilt data-tilt-max="4">
							<img src="{% static 'images/resource/career.png' %}" alt="" />
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<div id="accordion">
							<div class="card questions-con">
							    <div class="card-header" id="headingOne">
							      <h5 class="mb-0">
							        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										Can You Help Me With My Statistics Homework? 							        </button>
							      </h5>
							    </div>

							    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							      <div class="card-body">
							        Absolutely yes, there are a number of websites that can help you with your statistics homework. If you want to get expert help, try Tutor Champs services. Our online statistics tutor will provide a proper solution to your statistics problems.
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingTwo">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										Can I Connect With The Tutor Champs Instantly?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							      <div class="card-body">
									A big yes, our tutors are available 24*7 to provide you with statistics homework help. If you want to connect to the tutor instantly, just sign up or click on the chat widget at the bottom right corner of the website.
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingThree">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										Can I Pay The Tutor Champs Professional Crew To Do My Statistics Homework?							        </button>
							      </h5>
							    </div>
							    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
							      <div class="card-body">
							        Yes, our Tutor Champs experts are at your service. Our team will help you with any query related to statistics. We will ensure you that the content provided is of the best quality and has zero plagiarism.  
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingFour">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
										Can Tutor Champs Expert Team Meet My Deadlines? 
							        </button>
							      </h5>
							    </div>
							    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
							      <div class="card-body">
							        Yes, we know that students have a busy life. Sometimes they remember assignments at the last moment therefore we provide emergency service too in which our experts make sure that the work is completed at the set deadline. If you want to avail statistics help online from Tutor Champs, just contact us today with a note 'do my statistics homework' and we'll reach out to you.  
							      </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Career Section -->
	
	<!-- Main Footer -->

	{% endblock body %}
