{% extends "base.html" %}
{% load static %}
{% block body %}
  
 

	<section class="contentSec privacy py-5">
		<div class="container">
		    <div class="row">
		      	<div class="col-lg-12 col-md-12 left">                                        
		            <h1>Terms and Conditions</h1>
		            <div class="pl-3">
		            	<p>Before placing an order, Tutor Champs advises all of its customers to go through our terms and conditions carefully. By entrusting your work to our assignment writing services, you are agreeing to the following terms and conditions. All users of our services, as well as visitors to our website, are subject to these terms and conditions. ‘We', ‘us', and ‘Tutor Champs' refer to https://tutorchamps.com, and ‘you' refers to parents, guardians, and students, as well as anyone else who uses our services or website.</p>
						<h2>The order's copyrights are as follows:</h2>
						<ul class="u_list">
							<li>Customers get their rights when they receive their order. </li>
							<li>We only give assignment writing help for academic study, therefore we ask that our customers only utilise our work for non-commercial purposes.</li>
						</ul>
						<h2>Limitation on Use:</h2>
						<p>By enrolling for or using tutorchamps.com's services, you agree to utilise the tutor's information solely for the purpose of studying, and that you will not use any of the solutions, answers, materials, or information accessible on or via the Services to cheat.</p>
						<h3>Warranty and Liability Limitation </h3>
						<p>Since some issues have many solutions, you should give information for those ways if you want your solution to be done with them. If you don't, your intended method solution will differ from our solution, although both are correct answers.</p>
			            <p>The pricing will be agreed upon after receiving a question. We will provide you with solutions before the deadline after the payment is received. A few follow-up questions are permitted to ensure that you comprehend the solution's structure.</p>
						<h3>Charges</h3>
						<p>For utilising any of our services, we retain the right to impose membership fees or subscription fees.</p>
						<h3>Severability </h3>
						<p>If any of these conditions is found to be unenforceable in whole or in part, the legality of the other contract terms will not be impacted. </p>
						<h3>Amendments </h3>
						<p>We have the right to change the terms and conditions at any time without prior notification to you.</p>
						<h3>Agreement</h3>
						<p>All earlier agreements will be superseded and terminated by the terms of service in the most recent agreement between the student and Tutor Champs. </p>
						<h3>Subscription </h3>
						<p>By registering for our services or subscribing to them. The user agrees to receive emails from TutorChamps.com regarding service changes and other promotional offers.</p>

		            </div>
		        </div>
		    </div>
		</div>
	</section>
	
	<!-- Main Footer -->

	{% endblock body %}
