<!DOCTYPE html>
{% load static %}
<html>

<head>
	<meta charset="utf-8">
	<title>Dashboard</title>
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'css/dash.css' %}" rel="stylesheet">
	<link href="{% static 'dashboard/css/dashboard.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&amp;display=swap"
		rel="stylesheet">
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<style>
		.notifications_table{margin-top: 30px}
		.noti_icon_box {
			position: absolute;
			top: 5px;
			right: 22px;
			display: flex;
			align-items: center;
			padding: 8px 0 0;
		}

		.noti_icon_box span {
			width: 25px;
			height: 25px;
			margin-left: 15px;
			font-size: 15px;
			background: #fff;
			box-shadow: 0 0 15px #e3e3e3;
			border-radius: 28px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #47bf7f;
		}

		.DashboardContent {
			padding: 50px 25px 25px 25px;
		}

		.checkbox_outer {
			display: flex;
			align-items: center;
			margin-bottom: 8px;
		}

		.checkbox_outer label {
			padding-left: 10px;
		}

		.selected_subject_con .form_group>div {
			width: 100%;
		}

		.static_t span span {
			display: block;
			font-size: 12px;
			line-height: 20px;
		}

		.static_t span {
			font-size: 14px;
			text-transform: uppercase;
		}

		.selected_subject_con {
			width: 33%;
		}

		.static_t {
			height: 100%;
			display: flex;
			text-align: center;
			align-items: center;
			justify-content: center;
		}

		.sub_subject_con {
			padding: 20px;
			width: 33%;
			position: relative;
		}

		.sub_subj_contnt {
			position: absolute;
			top: 0;
		}

		.main_sub_con {
			width: 33.3%;
		}

		.sub_subj_contnt .active {
			color: #000 !important;
		}

		.Update_subject_content .main_sub_con_inner li a img {
			margin-right: 8px;
		}

		.Update_subject_content .main_sub_con_inner li {
			box-shadow: 0px 0px 6px #ddd;
			display: block;
			margin: 0 5px 25px;
			padding: 8px 16px;
			border-radius: 2px;
			font-size: 14px;
		}

		.main_sub_con_inner>span {
			font-size: 14px;
			color: #47bf7f;
			font-weight: 600;
		}

		.main_sub_con_inner>p {
			font-size: 14px;
			margin-bottom: 35px;
			line-height: 19px;
		}

		.Update_subject_content .main_sub_con_inner li a:hover {
			color: #000;
		}

		.Update_subject_content .main_sub_con_inner li a {
			display: flex;
			align-items: center;
			background: transparent;
			padding: 0;
		}

		.Update_subject_content {
			position: absolute;
		}

		.Update_subject_content.active_ {
			position: initial;
			display: flex;
			width: 100%;
		}

		.change_sub:hover {
			color: #fff;
		}

		.change_sub {
			display: inline-block;
			font-size: 15px;
			line-height: 30px;
			color: #fff;
			padding: 7px 30px;
			font-weight: 700;
			overflow: hidden;
			background-color: #43b97e;
			border-radius: 80px;
		}

		.live_session_content form {
			width: 100%;
		}

		.customCountDown {
			display: flex;
			align-items: center;
			justify-content: center;
			max-width: 25%;
		}

		.commForm .pos_rel {
			width: 49% !important;
			position: relative;
		}

		.px_15 {
			padding: 0 15px;
		}

		.connent_con {
			background: #fff;
			border: 1px solid #e9e9e9;
			padding: 20px 26px 26px;
			border-radius: 15px;
			z-index: 9;
			position: relative;
			top: 10px;
			margin-bottom: 15px;
		}

		.instructions_content {
			height: 0;
			overflow: hidden;
		}

		.project_lab_content .Redeem_box+p {
			margin: 10px 0 45px;
		}

		.thead td {
			width: 25%;
			border: 1px solid #fff;
		}

		tr td {
			text-align: center;
		}

		header .profileDrop:after {
			top: 19px;
			right: -5px;
		}

		.pos_rel {
			width: 100% !important;
		}

		.secondStp .pos_rel {
			width: 47% !important;
		}

		.nextStepbtn {
			position: absolute;
			left: 0;
			top: 13px;
			color: #43b97e;
			font-size: 14px;
			text-decoration: underline !important;
		}

		.secondStp {
			display: none;
		}

		.customPopWidth {
			max-width: 600px !important;
			width: 100%;
			top: 15%;
		}

		.wcMsz {
			text-align: center;
			width: 100%;
			font-size: 16px;
			color: #43b97e;
			font-weight: 500;
		}

		.psr {
			position: relative;
		}

		@media screen and (max-width: 767px) {
			.dTbale {
				margin-top: calc(30vh - 170px);
			}

			.ProjectLabAssignment .form_group {
				display: block !important;
			}

			.ProjectLabAssignment .form_group .pos_rel {
				width: 100% !important;
			}

			td,
			th {
				font-size: 12px;
			}
		}

		.nav.nav-tabs a:hover {
			color: #000;
		}

		.tab-pane.fade.active.show {
			background: transparent !important;
		}

		.nav.nav-tabs a {
			font-size: 15px;
			padding: 10px 20px;
			display: inline-block;
			margin: 0 1px 0 0 !important;
			background: #ececec;
			border-radius: 10px 10px 0 0;
		}

		.main_sub_con_inner .nav.nav-tabs a.active {
			background: transparent !important;
		}

		.main_sub_con_inner a.active {
			color: #47bf7f !important;
		}

		.input.search {
			max-width: 200px;
		}

		.search_box h2 {
			margin: 0 0 11px !important;
			font-weight: 600;
		}

		.Redeem_box {
			max-width: 592px;
			margin: 0 auto;
			box-shadow: 0 3px 10px #ddd;
			border-radius: 30px;
			padding: 10px 10px 10px 20px;
			display: flex;
			align-items: center;
			margin-top: 25px;
		}

		.Redeem_box input {
			max-width: 420px;
			width: 100%;
			height: 43px;
		}
		#confm_password{
			width: 100%;
		}
	</style>
</head>

<body>
	<div class="mobHeader">
		<div>
			<div><img src="{% static 'images/logo.png' %}" alt="logo"></div>
			<a href="javascript:void(0);" class="mobBtn" id="mobBtn"><i class="fa fa-bars" aria-hidden="true"></i></a>
		</div>
	</div>
	{% for message in messages %}
	<script>
		alert('{{message}}')
	</script>
	{% endfor %}

	<div class="dashboardContainer clientDashboard">
		<div class="sidebar sidebar_menu">

			<ul class="sidebar_menu">
				<li><a class="mob-logo" href="/"><img src="{% static 'images/logo.png' %}" alt="logo"></a></li>
				<li><a id="home" class="active" href="#"><i class="fa fa-home"></i> Home</a></li>
				<li><a id="live_session" href="#"><i class="fa fa-video-camera"></i> My Work</a></li>
				<li><a id="profile" href="#"><i class="fa fa-user"></i> Profile</a></li>
				<li><a id="project_lab" href="#"><i class="fa fa-bug"></i> Payment</a></li>
				<li><a id="instruction" href="#"><i class="fa fa-file"></i> Instructions</a></li>
				<li class="logout"><a id="" href="/tutor-logout/"><i class="fa fa-cog"></i> Logout</a></li>
			</ul>
		</div>
		<div class="mainContent DashboardContent">
			<div class="dTbale homeContant active_">
				<ul style="margin: 0 0 -10px 20px;" class="nav nav-tabs border-0">
					<li class=""><a data-toggle="tab" class="active" href="#menu1">Assignments</a></li>
					<li><a data-toggle="tab" href="#menu3">lab</a></li>
				</ul>

				<div class="tab-content">

					<div id="menu1" class="tab-pane fade active show">
						<form class="commForm" method="" action="">
							<div class="flex_div search_box">
								<h2>Homework</h2>
								<input type="search" placeholder="Search Here ..." class="input search" name="">
							</div>
							<table class="table table-striped" style="border: 2px solid #43b97e;">
								<tbody>
									<tr class="thead"
										style="font-size: 15px;font-weight: 500;color: #000;border-top: none;width: 100%;background: #47bf7f;border-bottom: 2px solid #43b97e;text-align: center;">
										<td style="width: 20%;">ID</td>
										<td style="width: 20%;">Subject</td>
										<td style="width: 20%;">Deadline</td>
										<td style="width: 20%;">Time</td>
										<td style="width: 20%;">Amount</td>
									</tr>
									{% for assignment in assignments %}
									  {% if assignment.status == "Completed" %}
										
									  <tr style="font-size: 13px;color: #3c3b3b;border-top: none;text-align: center;">
										  <td style="width: 20%;">{{assignment.order.order_id}}</td>
										  <td style="width: 20%;">{{assignment.order.subject}}</td>
										  <td style="width: 20%;color:#43b97e;">{{assignment.order.deadline}}</td>
										  <td style="width: 20%;color:#43b97e;">{{assignment.order.deadline}}</td>
										  <td style="width: 20%;color: #43b97e;">{{assignment.amount}}</td>
										</tr>
										{% endif %}
									{% endfor %}
							
							
								</tbody>
							</table>
						</form>
					</div>
					<div id="menu3" class="tab-pane fade">
						<form class="commForm" method="" action="">
							<div class="flex_div search_box">
								<h2>Lab</h2>
								<input type="search" placeholder="Search Here ..." class="input search" name="">
							</div>
							<table class="table table-striped" style="border: 2px solid #43b97e;">
								<tbody>
									<tr class="thead"
										style="font-size: 15px;font-weight: 500;color: #000;border-top: none;width: 100%;background: #47bf7f;border-bottom: 2px solid #43b97e;text-align: center;">
										<td style="width: 20%;">ID</td>
										<td style="width: 20%;">Subject</td>
										<td style="width: 20%;">Deadline</td>
										<td style="width: 20%;">Time</td>
										<td style="width: 20%;">Amount</td>
									</tr>
									{% for lab in labs %}
									  {% if lab.status == "Completed" %}
										
									  <tr style="font-size: 13px;color: #3c3b3b;border-top: none;text-align: center;">
										  <td style="width: 20%;">{{lab.labs.order_id}}</td>
										  <td style="width: 20%;">{{lab.labs.subject}}</td>
										  <td style="width: 20%;color:#43b97e;">{{lab.labs.deadline}}</td>
										  <td style="width: 20%;color:#43b97e;">{{lab.labs.deadline}}</td>
										  <td style="width: 20%;color: #43b97e;">{{lab.amount}}</td>
										</tr>
										{% endif %}
									{% endfor %}
									

								</tbody>
							</table>
						</form>
					</div>
				</div>
			</div>
			<div class="profileContent">
				<div class="col50">
					<form class="commForm mt-3" method="POST" action="/tutor_profile/">
						{% csrf_token %}
						<div class="userprof"><img style="    filter: grayscale(1);"
								src="/static/dashboard/images/profi.png"></div>
						<h2 class="text-dark text-left">{{tutor_register.name}}</h2>
						<p>Edit/update your details here</p>
						<div class="">
							<label>Enter Your Name </label>
							<input type="name" name="nae" class="input"  placeholder="Enter Name"
								value="{{tutor_register.name}}">
						</div>
						<div class="">
							<label>Enter Your Email Id </label>
							<input type="email" name="email" class="input" readonly placeholder="Enter Email"
							 value="{{tutor.email}}">
						</div>
						<div class="">
							<label>Enter Phone/WhatsApp Number</label>
							<input name="if-phone" id="if-phone" value="{{tutor_register.phone}}" class="input"
							 placeholder="Enter Phone Number" type="text" maxlength="10">
						</div>
						<div class="">
							<label>University/College</label>
							<input class="input" required="" name="College" type="text" placeholder="University/College"
								value="{{tutor_register.college}}">
						</div>
						<div>
							<input type="checkbox" id="" name="checkbox" value="">
							<label for="checkbox">Get Email Notifications</label>
						</div>

						<div class="psr mt-3">
							<input type="submit" class="formBtn theme-btn btn-style-one" value="Get Solution Now">

							<a href="" class="theme-btn btn-style-one"><span class="txt">Update</span></a>

						</div>
					</form>
				</div>
				<div class="col50">
					<form class="commForm mt-3" method="POST" action="{% url 'tutor_reset_password' %}">
						{% csrf_token %}
						<h2 class="text-dark text-left">Password</h2>
						<p>Create new password here</p>
						<div class="">
							<label>New Password</label>
							<input class="input" type="password" name="password" placeholder="New Password" id="">
						</div>
						<div class="" id="confm_password">
							<label>Confirm Password</label>
							<input class="input" type="password" name="confm_password" placeholder="Confirm Password"
								id="">
						</div>
						<div class="psr mt-3">
							<input type="submit" class="formBtn theme-btn btn-style-one" value="Update">

							<a href="" class="theme-btn btn-style-one"><span class="txt">Update</span></a>

						</div>
					</form>
				</div>
				<div class="Update_subject_content">
					<div class="main_sub_con">
						<div class="main_sub_con_inner">
							<span>Group A</span>
							<p>You can select subjects from only one Department in this group</p>
							<ul class="nav nav-tabs border-0">
								<li><a data-toggle="tab" href="#subject_1"><img
											src="/static/dashboard/images/electronic.png"> Electronics And Communication
										Engineering</a> </li>
								<li><a data-toggle="tab" href="#subject_2"><img
											src="/static/dashboard/images/electronic.png"> Electronics And Communication
										Engineering</a> </li>
								<li><a data-toggle="tab" href="#subject_3"><img
											src="/static/dashboard/images/electronic.png"> Electronics And Communication
										Engineering</a> </li>
							</ul>
						</div>
					</div>
					<div class="sub_subject_con">
						<div class="static_t">
							<span>Chose Branch to Select<span> Coresponding Subjects</span> </span>
						</div>
						<div class="sub_subj_contnt">
							<form>
								<div class="tab-content">
									<div id="subject_1" class="tab-pane fade">
										<p>You can select subjects from only one Department in this group</p>
										<div class="checkbox_outer">
											<input type="checkbox" id="c_plus" name="c_plus" value="">
											<label for="c_plus"> c/c++</label>
										</div>
										<div class="checkbox_outer">
											<input type="checkbox" id="java" name="java" value="">
											<label for="java"> Java</label>
										</div>
										<div class="checkbox_outer">
											<input type="checkbox" id="basic_ec" name="basic_ec" value="">
											<label for="basic_ec"> Basic EC</label>
										</div>
										<div class="checkbox_outer">
											<input type="checkbox" id="matlab" name="matlab" value="">
											<label for="matlab"> matlab</label>
										</div>
									</div>
									<div id="subject_2" class="tab-pane fade">
										<p>You can select subjects from only one Department in this group</p>
										<div class="checkbox_outer">
											<input type="checkbox" id="c_plus" name="c_plus" value="">
											<label for="c_plus"> c/c++</label>
										</div>
										<div class="checkbox_outer">
											<input type="checkbox" id="basic_ec" name="basic_ec" value="">
											<label for="basic_ec"> Basic EC</label>
										</div>
									</div>
									<div id="subject_3" class="tab-pane fade">
										<p>You can select subjects from only one Department in this group</p>
										<div class="checkbox_outer">
											<input type="checkbox" id="c_plus" name="c_plus" value="">
											<label for="c_plus"> c/c++</label>
										</div>
										<div class="checkbox_outer">
											<input type="checkbox" id="java" name="java" value="">
											<label for="java"> Java</label>
										</div>
										<div class="checkbox_outer">
											<input type="checkbox" id="basic_ec" name="basic_ec" value="">
											<label for="basic_ec"> Basic EC</label>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="selected_subject_con">
						<form class="commForm p-3" method="" action="">
							<div class="pb-3"><span><i style="color: #47bf7f;" class="fa fa-check-circle"
										aria-hidden="true"></i> Selected Subjects</span></div>

							<div class="form_group">
								<div class="">
									<label>Electronic and Communication Engineering</label>
									<input class="input" required="" name="subject" type="text">
								</div>
							</div>
							<div class="form_group">
								<div class="">
									<label>CHemical Engineering</label>
									<input class="input" required="" name="subject" type="text">
								</div>
							</div>
							<div class="form_group">
								<div class="">
									<label>Electrical Engineering</label>
									<input class="input" required="" name="subject" type="text">
								</div>
							</div>
							<div class="form_group">
								<div class="">
									<label>Civil Engineering</label>
									<input class="input" required="" name="subject" type="text">
								</div>
							</div>
							<div class="form_group">
								<div class="">
									<label>Mechanical Engineering</label>
									<input class="input" required="" name="subject" type="text">
								</div>
							</div>
							<div class="text-center psr mt-3">
								<input type="submit" class="formBtn theme-btn btn-style-one" value="Update Subject">

								<a href="" class="theme-btn btn-style-one"><span class="txt">Update Subject</span></a>

							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="live_session_content">
				<ul style="margin: 0 0 -10px 20px;" class="nav nav-tabs border-0">
					<li class=""><a data-toggle="tab" class="active" href="#tab_1">Assignments</a></li>
					<li><a data-toggle="tab" href="#tab_2">lab</a></li>
				</ul>

				<div class="tab-content">

					<div id="tab_1" class="tab-pane fade active show">
						<form class="commForm" method="" action="">
							<table class="table table-striped" style="border: 2px solid #43b97e;">
								<tbody>
									<tr class="thead"
										style="font-size: 15px;font-weight: 500;color: #000;border-top: none;width: 100%;background: #47bf7f;border-bottom: 2px solid #43b97e;text-align: center;">
										<td style="width: 20%;">ID</td>
										<td style="width: 20%;">Subject</td>
										<td style="width: 20%;">Deadline</td>
										<td style="width: 20%;">Time</td>
										<td style="width: 20%;">Amount</td>
									</tr>
									{% for assignment in assignments %}
									{% if assignment.status == "Pending" %}
									  
									<tr style="font-size: 13px;color: #3c3b3b;border-top: none;text-align: center;">
										<td style="width: 20%;">{{assignment.order.order_id}}</td>
										<td style="width: 20%;">{{assignment.order.subject}}</td>
										<td style="width: 20%;color:#43b97e;">{{assignment.order.deadline}}</td>
										<td style="width: 20%;color:#43b97e;">{{assignment.order.deadline}}</td>
										<td style="width: 20%;color: #43b97e;">{{assignment.amount}}</td>
									</tr>
									{% endif %}
									{% endfor %}
							
							
								</tbody>
							</table>
						</form>
					</div>
					<div id="tab_2" class="tab-pane fade">
						<form class="commForm" method="" action="">
							<table class="table table-striped" style="border: 2px solid #43b97e;">
								<tbody>
									<tr class="thead"
										style="font-size: 15px;font-weight: 500;color: #000;border-top: none;width: 100%;background: #47bf7f;border-bottom: 2px solid #43b97e;text-align: center;">
										<td style="width: 20%;">ID</td>
										<td style="width: 20%;">Subject</td>
										<td style="width: 20%;">Deadline</td>
										<td style="width: 20%;">Time</td>
										<td style="width: 20%;">Amount</td>
									</tr>
									{% for lab in labs %}
									  {% if lab.status == "Pending" %}
										
									  <tr style="font-size: 13px;color: #3c3b3b;border-top: none;text-align: center;">
										  <td style="width: 20%;">{{lab.labs.order_id}}</td>
										  <td style="width: 20%;">{{lab.labs.subject}}</td>
										  <td style="width: 20%;color:#43b97e;">{{lab.labs.deadline}}</td>
										  <td style="width: 20%;color:#43b97e;">{{lab.labs.deadline}}</td>
										  <td style="width: 20%;color: #43b97e;">{{lab.amount}}</td>
										</tr>
										{% endif %}
									{% endfor %}
									

								</tbody>
							</table>
						</form>
					</div>
				</div>
			</div>
			<div class="instructions_content" id="instructions_content">
				<iframe title="CVHA Plumbing Need a Plumbing Services?" onload="window.parent.scrollTo(0,0)"
					allowtransparency="true" allowfullscreen="true" allow="geolocation; microphone; camera"
					src="https://digiversal.in/cv/sample/Resume1.pdf" frameborder="0" style="min-width: 100%;
    height: 96vh;
    border: none;" scrolling="no"></iframe>
			</div>
			<div class="project_lab_content">

				<form class="commForm mt-3" method="POST" action="{% url 'withdrawl' %}">


					{% csrf_token %}
					<div>
						<h2>
							<b>Redeemable & Total Earning
								<sup><i class="fa fa-exclamation-circle" aria-hidden="true"></i></sup><br> {{b}} INR
							</b>
						</h2>
						<div class="Redeem_box">
							<input type="text" placeholder="Enter Amount to Redeem" name="withdrawl" required>
							<input type="submit" class="theme-btn btn-style-one txt" value="Redeem">
						</div>
				</form>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. </p>
				<div class="dTbale Payment_content">
					<ul style="margin: 0 0 -10px 20px;" class="nav nav-tabs border-0">
						<li class=""><a data-toggle="tab" class="" href="#tutor_payments">Tutor Payments</a></li>
						<li><a data-toggle="tab" href="#earn_detail" class="">Earned Details</a></li>
						<li><a data-toggle="tab" href="#account" class="active">Account</a></li>
					</ul>

					<div class="tab-content">

						<div id="tutor_payments" class="tab-pane fade">
							<div class="connent_con">
								<table class="table table-striped" style="border: 2px solid #43b97e;">
									<tbody>
										<tr class="thead"
											style="font-size: 15px;font-weight: 500;color: #000;border-top: none;width: 100%;background: #47bf7f;border-bottom: 2px solid #43b97e;text-align: center;">
											<td style="width: 16%;">Trans. ID</td>
											<td style="width: 16%;">Date</td>
											<td style="width: 16%;">Amount</td>
											<td style="width: 20%;">Transferred to Account</td>
											<td style="width: 16%;">TDS</td>
											<td style="width: 16%;">Payout Status</td>
										</tr>
										{% for history in payment_history %}
										  
										<tr style="font-size: 13px;color: #3c3b3b;border-top: none;text-align: center;">
											<td style="width: 16%;">{{history.transaction_id}}</td>
											<td style="width: 16%;">{{history.date}}</td>
											<td style="width: 16%;">{{history.amount}}</td>
											<td style="width: 20%;">{{history.account}}</td>
											<td style="width: 16%;">{{history.tds}}</td>
											<td style="width: 16%;">{{history.status}}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						<div id="earn_detail" class="tab-pane fade">
							<div class="connent_con">
								<table class="table table-striped" style="border: 2px solid #43b97e;">
									<tbody>
										<tr class="thead"
											style="font-size: 15px;font-weight: 500;color: #000;border-top: none;width: 100%;background: #47bf7f;border-bottom: 2px solid #43b97e;text-align: center;">
											<td style="width: 25%;">Discription</td>
											<td style="width: 25%;">Time</td>
											<td style="width: 25%;">Date</td>
											<td style="width: 25%;">Amount</td>
										</tr>
										{% for earned in earned %}
										  
										<tr style="font-size: 13px;color: #3c3b3b;border-top: none;text-align: center;">
											<td style="width: 25%;">{{earned.description}}</td>
											<td style="width: 25%;">{{earned.time}}</td>
											<td style="width: 25%;">{{earned.date}}</td>
											<td style="width: 25%;">{{earned.amount}}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						<div id="account" class="tab-pane fade active show">
							<div class="connent_con">
								<form class="commForm" method="POST" action="">
									{% csrf_token %}
									<div class="form_group">
										<div class="pos_rel">
											<label>Payment Mode</label>
											<input class="input" required="" name="bank" type="text" placeholder="Bank">
										</div>
										<div class="pos_rel">
											<label>PAN number</label>
											<input required class="input pan_card" type="text" placeholder="PAN card number"
												name="pan_card" id="pan_card" maxlength="10" minlength="10" value="{{tutor_account.pan_number}}" >
										</div>
									</div>
									<div class="form_group">
										<div class="pos_rel">
											<label>Name on PAN</label>
											<input required class="input" required="" name="pan_name" type="text"
												placeholder="Salman Khan" value="{{tutor_account.name_on_pan}}">
										</div>
										<div class="pos_rel">
											<label>Name in Account</label>
											<input required class="input" required="" name="name_in_account" type="text"
												placeholder="Name in Account" value="{{tutor_account.name_in_account}}">
										</div>
									</div>
									<div class="form_group">
										<div class="pos_rel">
											<label>Bank Account Number</label>
											<input required name="account_number" id="account_number" class="input" type="text"
												placeholder="Account Number" value="{{tutor_account.account_number}}">
										</div>
										<div class="pos_rel px_15">
											<label>Confirm Account Number</label>
											<input required name="confirm_bank_account" id="confirm_account_number" class="input"
												type="text" placeholder="Confirm Account Number" value="{{tutor_account.account_number}}">
										</div>
										<div class="pos_rel">
											<label>IFSC Code</label>
											<input required name="ifsc" id="ifsc_code" class="input" type="text"
												placeholder="Enter IFSC Code" value="{{tutor_account.ifsc}}">
										</div>
									</div>
									<div class="text-center psr mt-3">
										<input type="submit" class="formBtn theme-btn btn-style-one" value="Update">

										<a href="" class="theme-btn btn-style-one"><span class="txt">Update</span></a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="notifications_table">
				<table class="table table-striped" style="border: 2px solid #43b97e;">
					<tbody>
						<tr class="thead" style="font-size: 15px;font-weight: 500;color: #000;border-top: none;width: 100%;background: #47bf7f;border-bottom: 2px solid #43b97e;text-align: center;">
							<td style="width: 20%;">ID</td>
							<td style="width: 20%;">Assignment</td>
							<td style="width: 20%;">Deadline</td>
							<td style="width: 20%;">Amount</td>
							<td style="width: 20%;">Interest</td>
						</tr>
						{% for order in orders %}
						<tr style="font-size: 15px;color: #000;border-top: none;width: 100%;text-align: center;">
							<td style="width: 20%;">{{order.order_id}}</td>
							<td style="width: 20%;"><a href="{{order.assignment.url}}">Preview</a></td>
							<td style="width: 20%;">{{order.deadline}}</td>
							<td style="width: 20%;">{{order.amount}}</td>
							<td style="width: 20%;"><form action="/interest/" method="post">
								{% csrf_token %}
								<input type="text" name="order_id" id="order_id" value="{{order.order_id}}" style="display: none;">
								<input type="submit" value="Interested">
							</form></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		<div class="noti_icon_box">
			<span><i style="color: #ffe00c;" class="fa fa-comment"></i></span>
			<span id="notifications"><i class="fa fa-bell"></i></span>
		</div>
	</div>
	</div>





	<div class="modal" id="myModal">
		<div class="modal-dialog customPopWidth">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
				</div>

				<div class="modal-body">
					<form action="" method="post" id="firstStp"
						class="firstStp commForm border-0 p-3 login_form loginF">
						{% csrf_token %}
						<div class="pos_rel">
							<label>Choose Assignment Deadline</label>
							<input type="date" required="" class="input" name="deadline" id="" placeholder="Deadline">
						</div>
						<div class="pos_rel">
							<label>Your Message*</label>
							<textarea name="Details" id="description" class="Detail"
								placeholder="Write assignment description"></textarea>
							<div>
								<input type="file" name="files" id="files" multiple="" value="Add File">
								<p id="file-name" class="fileName"></p>
							</div>
						</div>
						<div class="text-right psr mx-4 mt-3">
							<input type="submit" class="formBtn theme-btn btn-style-one" value="Get Solution Now">
							<a href="" class="theme-btn btn-style-one"><span class="txt">submit</span></a>
							<a class="nextStepbtn" id="nextStepbtn" href="javascript:void(0)">Project/Lab Assignment</a>
						</div>
					</form>

					<form action="" method="post" id="secondStp"
						class="secondStp ProjectLabAssignment commForm border-0 p-3 login_form loginF">

						{% csrf_token %}
						<div class="form_group">
							<div class="pos_rel">
								<label>Choose Assignment Deadline</label>
								<input type="date" required="" class="input" name="deadline" id=""
									placeholder="Deadline">
							</div>
							<div class="pos_rel">
								<label>Lab Manual</label>
								<input type="file" class="attach_file input" required="" multiple="" value="Add File"
									name="lab_manual">
							</div>
						</div>
						<div class="form_group">

							<div class="pos_rel">
								<label>Report Guidelines</label>
								<input type="file" class="attach_file input" required="" multiple="" value="Add File"
									name="report_guidline">
							</div>
							<div class="pos_rel">
								<label>Lab Data</label>
								<input type="file" class="attach_file input" required="" multiple="" value="Add File"
									name="lab_data">
							</div>
						</div>
						<div class="form_group">

							<div class="pos_rel">
								<label>Reference Materials</label>
								<input type="file" class="attach_file input" required="" multiple="" value="Add File"
									name="reference_material">
							</div>
						</div>
						<div class="text-center psr mt-3 mb-2">
							<input type="submit" class="formBtn theme-btn btn-style-one" value="Get Solution Now">

							<a href="" class="theme-btn btn-style-one"><span class="txt">Get Solution Now</span></a>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#choose-file').change(function () {
				var i = $(this).prev('label').clone();
				var file = $('#choose-file')[0].files[0].name;
				$(this).prev('label').text(file);
			});
		});


		$("#home").click(function () {
			$(".homeContant").addClass("active_");
			$(".profileContent").removeClass("active_");
			$(".live_session_content").removeClass("active_");
			$("#instructions_content").removeClass("active_");
			$(".project_lab_content").removeClass("active_");
			$(".notifications_table").removeClass("active_");

		});
		$("#notifications").click(function () {
			$(".homeContant").removeClass("active_");
			$(".profileContent").removeClass("active_");
			$(".live_session_content").removeClass("active_");
			$("#instructions_content").removeClass("active_");
			$(".project_lab_content").removeClass("active_");
			$('.sidebar_menu ul li a').removeClass("active");
			$(".notifications_table").addClass("active_");
			
		});
		
		$("#profile").click(function () {
			$(".profileContent").addClass("active_");
			$(".homeContant").removeClass("active_");
			$(".live_session_content").removeClass("active_");
			$("#instructions_content").removeClass("active_");
			$(".project_lab_content").removeClass("active_");
			$(".notifications_table").removeClass("active_");

		});
		$("#live_session").click(function () {
			$(".live_session_content").addClass("active_");
			$(".profileContent").removeClass("active_");
			$(".homeContant").removeClass("active_");
			$("#instructions_content").removeClass("active_");
			$(".project_lab_content").removeClass("active_");
			$(".notifications_table").removeClass("active_");

		});
		$("#instruction").click(function () {
			$("#instructions_content").addClass("active_");
			$(".profileContent").removeClass("active_");
			$(".homeContant").removeClass("active_");
			$(".live_session_content").removeClass("active_");
			$(".project_lab_content").removeClass("active_");
			$(".notifications_table").removeClass("active_");

		});
		$("#project_lab").click(function () {
			$(".project_lab_content").addClass("active_");
			$(".profileContent").removeClass("active_");
			$(".homeContant").removeClass("active_");
			$(".live_session_content").removeClass("active_");
			$("#instructions_content").removeClass("active_");
			$(".notifications_table").removeClass("active_");
			
		});

		$("#change_sub").click(function () {
			$(".Update_subject_content").addClass("active_");
			$(".profileContent .col50").toggle();
		});

		$(document).ready(function () {
			$('.sidebar_menu ul li a').click(function () {
				$('.sidebar_menu ul li a').removeClass("active");
				$(this).addClass("active");
			});
		});
		$(document).ready(function () {
			$('#mobBtn').click(function () {
				$('.sidebar').toggleClass("open");
			});
		});
		$(document).ready(function () {
			$('.sidebar a').click(function () {
				$('.sidebar').toggleClass("open");
			});
		});
		$(document).ready(function () {
			$('.main_sub_con_inner a').click(function () {
				$('.static_t span').hide();
			});
		});
	</script>



</body>

</html>